<section class="sticky" data-bind="css: { active: isActive }">
    <div class="sticky-content row content-middle">
        <svg-icon params="name: 'notif-info'" class="icon-small"></svg-icon>
        <span class="greedy">
            You reached freemium capacity limitation of
            <span data-bind="text: capacityLimit"></span>
            Upgrade to enteprise lincense for unlimited capacity and support
        </span>

        <a class="link alt-colors" data-bind="attr: { href: upgradeEmailHref }">
            Upgrade to enterprise license
        </a>
    </div>
</section>
