<form data-bind="submit: create">
	<h1 class="heading2">Create New Bucket</h1>

	<ul class="bullet-list">
		<li>
			Bucket names must be between 3-36 chars.
		</li>

		<li>
			The name can only contain lowercase letters, numbers, periods and hyphens. <br /> 
		</li>

		<li>
			The name must start and end with a lowercase letter or number.
		</li>

		<li>
			The name cannot be changed later.
		</li>
	</ul>

	<div class="container">
		<input type="text" placeholder="Bucket Name" data-bind="textInput: bucketName"/>
		<!-- <div class="constraints">(3-63 chars, the name cannot be changed later)</div> -->
	</div>

	<!-- <div class="container">
		<radio-button params="name: 'qouta', checked: limitQuota, value: false">
			Unlimited Quota
		</radio-button>

		<radio-button params="name: 'qouta', checked: limitQuota, value: true">
			Limit Quota
		</radio-button>

		<span data-bind="visibility: limitQuota">
			<input type="number" data-bind="value: quotaValue" />

			<dropdown class="unit-selector" params="
				label: quotaUnit().label, 
				options: sizeUnits,
				action: quotaUnit
			"></dropdown>
		</span>		
	</div> -->
	
	<div class="pull-right actions">
		<button class="action link" data-bind="click: cancel">Cancel</button>
		<button class="action btn2">Create</button>
	</div>
</form>
