create-bucket-form {
	display: block;

	.constraints {
		font-size: @font-size-small;
	}

	.actions {
		margin-top: 1.5em;
	}

	.action + .action {
		margin-left: .75em;
	}

	.unit-selector {
		width: 4.5em;
	}
}