<form data-bind="submit: create">
	<h1 class="heading2">Create Bucket</h1>
	
	<stepper params="steps: ['choose name', 'set policy' ]"></stepper>

	<ul class="bullet-list">
		<li>
			Bucket names must be between 3-36 chars.
		</li>

		<li>
			The name can only contain lowercase letters, numbers, periods and hyphens. <br /> 
		</li>

		<li>
			The name must start and end with a lowercase letter or number.
		</li>

		<li>
			The name cannot be changed later.
		</li>
	</ul>

	<div class="container">
		<input type="text" placeholder="Bucket Name" data-bind="value: bucketName, hasFocus: true"/>
	</div>

	<div class="form-actions clear">
		<button class="action btn2 pull-right">Create</button>
		<button class="action link pull-right" data-bind="click: cancel">Cancel</button>
	</div>
</form>
