<modal class="modal-xsmall" params="
    title: 'Maintenance Mode',
    onClose: () => cancel()
">
    <p>
        Exit maintenance mode automatically after
        <input type="number" min="0" data-bind="value: hours"/>
        hours and
        <input type="number" min="0" data-bind="value: minutes"/>
        minutes.
    </p>

    <div class="box push-both">
        <svg-icon params="name: 'notif-warning'">
        </svg-icon>
        Preformance and functionality issues may occur while the system is in maintenance mode
    </div>

    <span class="val-msg push-next" data-bind="validationMessage: duration"></span>

    <div class="row content-middle align-end push-prev">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: start">Start maintenance</button>
    </div>
</modal>
