<section class="row">
    <section class="c3 column pad borders">
<!--         <div class="greedy r7ow content-middle">
            <svg-icon class="push-next" params="name: 'healthy'"
                data-bind="css: 'success'">
            </svg-icon>
            <span class="heading3" data-bind="text: 'Connected'"></span>
        </div>
        <hr />
        <div class="greedy row content-middle">
            <svg-icon class="push-next" params="name: 'healthy'"
                data-bind="css: 'success'">
            </svg-icon>
            <span class="heading3" data-bind="text: 'All Services Healthy'"></span>
        </div> -->
    </section>

    <section class="c6 column push-both">
<!--         <div class="row align-middle">
            <div class="column greedy push-next">
                <toggle-filter class="push-next" params="
                    options: graphOptions,
                    selected: selectedGraph
                "></toggle-filter>

                <chart-legend params="items: legend"></chart-legend>
            </div>
        </div> -->
    </section>

    <section class="c3 column pad borders">
        <h3 class="heading3" data-bind="text: 'No Activities'"></h3>
        <hr>
    </section>
</section>
