<editor params="label: 'S3 Access'">
    <toggle-switch params="
        value: bindToField('enableS3Access'),
        onLabel: 'Enabled',
        offLabel: 'Disabled'
    "></toggle-switch>
</editor>

<editor params="label: 'S3 default placement', disabled: !enableS3Access()">
    <dropdown params="
        options: resources,
        selected: bindToField('selectedResource'),
        disabled: !enableS3Access(),
        placeholder: 'Choose pool...',
        invalid: selectedResource.touched() && selectedResource.error()
    "></dropdown>
     <val-message params="field: selectedResource"></val-message>
</editor>


<div class="row content-middle push-prev push-next-half">
    <p class="greedy push-next" ko.css.disabled="!enableS3Access">
        Edit S3 access permissions for buckets
    </p>

    <div>
        <button class="link alt-colors" ko.click="selectAllBuckets" ko.enable="enableS3Access">
            Select all
        </button>
        |
        <button class="link alt-colors" ko.click="clearAllBuckets" ko.enable="enableS3Access">
            Clear
        </button>
    </div>
</div>

<multiselect class="push-next greedy" params="
    options: buckets,
    selected: bindToField('selectedBuckets'),
    disabled: !enableS3Access()">
</multiselect>

<div class="row align-end content-middle">
    <button class="link alt-colors push-next" ko.click="cancel">Cancel</button>
    <button class="btn" ko.click="save">Save</button>
</div>
