<modal params="onClose: () => cancel(), title: heading" data-bind="css: stepClass">
    <stepper class="push-next" params="steps: stepsLabels, current: step">
    </stepper>

    <div class="pages greedy push-next" data-bind="
        foreach: $parentContext.$parentContext.$componentTemplateNodes
    ">
        <div class="page column" data-bind="
            css: { selected: $parent.isInStep($index()) },
            template: {
                nodes: [$data],
                data: $parents[3],
                let: { $inActiveStep: $parent.isInStep($index()) }
            }
        "></div>
    </div>

    <div class="row buttons align-end content-middle">
        <button class="link alt-colors push-next" data-bind="
            click: isFirstStep() ? cancel : prev,
            text: isFirstStep() ? 'Cancel' : 'Previous'
        "></button>

        <button class="btn" data-bind="
            click: isLastStep() ? done : next,
            text: isLastStep() ? actionLabel : 'Next'
        "></button>
    </div>
</modal>
