<section class="greedy tabs">
    <nav>
        <a data-bind="href: tabHref('pools'), css: tabCss('pools')">
            Node Pools
        </a>
        <a data-bind="href: tabHref('cloud'), css: tabCss('cloud')">
            Cloud Storage
        </a>
    </nav>

    <div class="tabs-row">
        <pools-table class="tab" data-bind="css: tabCss('pools')">
        </pools-table>

        <cloud-resources-table class="tab" data-bind="css: tabCss('cloud')">|
        </cloud-resoruces-table>
    </div>
</section>


