<div class="greedy tabs">
    <nav>
        <a data-bind="
            href: { route: 'management', params: { tab:'accounts' } },
            css: { selected: isTabSelected('accounts') }
        ">
            Accounts
        </a>
        <a data-bind="
            href: { route: 'management', params: { tab: 'settings' } },
            css: { selected: isTabSelected('settings') }
        ">
            Configuration
        </a>

        <a data-bind="
            href: { route: 'management', params: { tab: 'diagnostics' } },
            css: { selected: isTabSelected('diagnostics') }
        ">
            Support &amp; Diagnostics
        </a>

        <a data-bind="
            href: { route: 'management', params: { tab: 'version' } },
            css: { selected: isTabSelected('version') }
        ">
            Version
        </a>
        <a data-bind="
            href: { route: 'management', params: { tab: 'advanced-options' } },
            css: { selected: isTabSelected('advanced-options') }
        ">
            Advanced Options
        </a>
    </nav>

    <div class="tabs-row">
        <accounts-table class="tab" data-bind="
            css: { selected: isTabSelected('accounts') }
        "></accounts-table>

        <section class="tab" data-bind="
            css: { selected: isTabSelected('settings') }
        ">
            <server-time-form class="pad"></server-time-form>
            <hr />
            <server-dns-form class="pad"></server-dns-form>
            <hr />
            <server-dns-settings-form class="pad"></server-dns-settings-form>
            <hr />
            <phone-home-form class="pad"></phone-home-form>
            <hr />
            <remote-syslog-form class="pad"></remote-syslog-form>
            <hr />
            <server-ssl-form class="pad"></server-ssl-form>
            <hr />
            <p2p-form class="pad"></p2p-form>
        </section>

        <diagnostics-form class="tab" data-bind="
            css: { selected: isTabSelected('diagnostics') }
        "></diagnostics-form>

        <version-form class="tab" data-bind="
            css: { selected: isTabSelected('version') }
        "></version-form>

        <section class="tab" data-bind="
            css: { selected: isTabSelected('advanced-options') }
        ">
            <maintenance-form class="pad"></maintenance-form>
            <hr>
        </section>
    </div>
</div>
