<div class="greedy tabs">
    <nav>
        <a data-bind="
            href: generateTabUrl('accounts'),
            css: { selected: isTabSelected('accounts') }
        ">
            Accounts
        </a>
        <a data-bind="
            href: generateTabUrl('settings'),
            css: { selected: isTabSelected('settings') }
        ">
            Configuration
        </a>

        <a data-bind="
            href: generateTabUrl('diagnostics'),
            css: { selected: isTabSelected('diagnostics') }
        ">
            Support &amp; Diagnostics
        </a>

        <a data-bind="
            href: generateTabUrl('version'),
            css: { selected: isTabSelected('version') }
        ">
            Version
        </a>
        <a data-bind="
            href: generateTabUrl('advanced-options'),
            css: { selected: isTabSelected('advanced-options') }
        ">
            Advanced Options
        </a>
    </nav>

    <div class="tabs-row">
        <accounts-table class="tab" data-bind="
            css: { selected: isTabSelected('accounts') }
        "></accounts-table>

        <section class="tab" data-bind="
            css: { selected: isTabSelected('settings') }
        ">
            <server-time-form class="pad" params="isCollapsed: isSectionSelected('server-time')"></server-time-form>
            <hr />
            <server-dns-form class="pad" params="isCollapsed: isSectionSelected('server-dns')"></server-dns-form>
            <hr />
            <server-dns-settings-form class="pad" params="isCollapsed: isSectionSelected('dns-settings')"></server-dns-settings-form>
            <hr />
            <phone-home-form class="pad" params="isCollapsed: isSectionSelected('phone-home')"></phone-home-form>
            <hr />
            <remote-syslog-form class="pad" params="isCollapsed: isSectionSelected('remote-syslog')"></remote-syslog-form>
            <hr />
            <server-ssl-form class="pad" params="isCollapsed: isSectionSelected('server-ssl')"></server-ssl-form>
        </section>

        <diagnostics-form class="tab" data-bind="
            css: { selected: isTabSelected('diagnostics') }
        "></diagnostics-form>

        <version-form class="tab" data-bind="
            css: { selected: isTabSelected('version') }
        "></version-form>

        <section class="tab" data-bind="
            css: { selected: isTabSelected('advanced-options') }
        ">
            <maintenance-form class="pad" params="isCollapsed: isSectionSelected('maintenance')"></maintenance-form>
            <hr />
            <p2p-form class="pad" params="isCollapsed: isSectionSelected('p2p')"></p2p-form>
            <hr>
        </section>
    </div>
</div>
