.management-panel {
    .fill();
    padding-top: 3em;

    .tabs {
        height: 100%;
    }

<<<<<<< HEAD
    .tab-header {
        line-height: 1.2;
        text-align: left;
        padding-left: 2em;
        z-index: 1;
    }
=======
/*	.tab-header {
		line-height: 1.2;
		text-align: left;
		padding-left: 2em;
		z-index: 1;
	}*/
>>>>>>> 5899a610afcb3d598d4507eb1f86f1bfdcc9a9cb

    .tab-content {
        padding-bottom: 5em;
    }

    hr {
        margin-top: 2em;
    }
}