object-parts-list {
    .column();

    .show-cursor {
        cursor: @cursor-pointer;
    }

    .part-list {
        position: relative;
        .column();
        .list-no-style();
        .scrollable();

        > li {
            box-sizing: content-box;
            padding: @gutter/4 @gutter/2;
            padding-right: 0;

            + li {
                border-top: 1px solid @bg-color3;
            }
        }

    }

    .expand-btn {
        fill : @text-color4;
    }

    table {
        display: block;
        padding-left:  @gutter;
        text-align: center;
        width: 100%;
    }

    .replica-col {
        width: 100%;
    }

    .node-name-col {
        min-width: 14em;
    }

    .node-ip-col {
        min-width: 8em;
    }

    .pool-col {
        min-width: 10em;
        max-width: 10em;
    }
}
