<ul class="list-no-style" data-bind="foreach: parts">
	<li>
		<div class="row">
			<button class="expend-btn btn-flat pull-right text-tech" data-bind="
				click: $parent.expendPart,
				text: isExpended() ? '-' : '+'
			">
				+
			</button>
			<svg-icon params="uri: stateIcon"></svg-icon>
			<span data-bind="text: name"></span>
			(<span class="emphasized" data-bind="text: size"></span>)
		</div>
		
		<ul class="block-list list-no-style" data-bind="
			foreach: blocks,
			css: { expended: isExpended  }
		">
			<li>
				<div class="sub-row">
					<svg-icon params="uri: nodeStateIcon"></svg-icon>
					<span class="pull-right emphasized" data-bind="text: nodeIp">
					</span>
					<a class="link" href data-bind="text: nodeName, href: href"></a>
				</div>
			</li>
		</ul>
	</li>
</ul>
