.sign-in-from {
    z-index: 1;

    .logo {
        width: 64px;
        height: 64px;
    }

    .error {
        visibility: hidden;

        &.visible {
            visibility: visible;
        }
    }
}
