<form class="sign-in-from row">
    <section class="row alt-bg double-pad push-next">
        <h1 class="heading1 column align-middle content-middle">
            <svg-icon class="logo" params="name: 'logo'"></svg-icon>
            Welcome to NooBaa
        </h1>
    </section>

    <section class="column alt-bg double-pad">
        <h3 class="heading3 push-next">
            Hello, please use your NooBaa account to sign in
        </h3>

        <editor params="label: 'Email Address'">
            <input type="text" data-bind="textInput: email"/>
        </editor>

        <editor params="label: 'Password'">
            <input type="password" autocomplete="off" data-bind="textInput: password"/>
        </editor>

            <p class="error push-next" data-bind="css: { visible: showInvalidMessage() }">
                Invalid email address or password
            </p>

        <div class="row content-middle">
            <p class="remark greedy push-next">
                Forgot your password? <br> Ask your system owner for a password reset
            </p>
            <button class="btn" data-bind="
                click: signIn,
                css: { shake: shake },
                animation: { end: () => shake(false) }
            ">
                Sign In
            </button>
        </div>

    </section>

</form>
