<div class="row content-middle pad alt-bg">
    <div class="cloumn greedy">
        <h3 class="heading3">Cloud Storage Backup</h3>
        <p>Cloud backup can be used as an extra copy for your data</p>
    </div>

    <div data-bind="tooltip: editingDisabledTooltip">
        <button class="btn" data-bind="
            disable: editingDisabled,
            click: showBackupPolicyModal
        ">
            Edit cloud Backup
        </button>
    </div>
</div>

<data-table class="backup-table" params="
    columns: backupTableColumns,
    data: cloudResources,
    rowFactory: cloudResource => createBackupRow(cloudResource),
    emptyMessage: 'No cloud resources participate in policy'
"></data-table>

<!-- ko if: isBackupPolicyModalVisible -->
<bucket-backup-policy-modal params="
    bucketName: bucketName,
    onClose: () => hideBackupPolicyModal()
"></bucket-backup-policy-modal>
<!-- /ko -->
