<div class="row push-next content-middle">
    <div class="cloumn greedy">
        <h3 class="heading3">Cloud Backup</h3>
        <p>Cloud resources are used to backup the pool data, backup will apply an extra copy in each resource</p>
    </div>

    <div data-bind="tooltip: editingDisabledTooltip">
        <button class="btn3" data-bind="
            disable: editingDisabled,
            click: showBackupPolicyModal
        ">
            Edit backup policy
        </button>
    </div>
</div>

<data-table class="backup-table" params="
    columns: backupTableColumns,
    data: cloudResources,
    rowFactory: cloudResource => createBackupRow(cloudResource),
    emptyMessage: 'No cloud resources participate in policy'
"></data-table>

<!-- ko if: isBackupPolicyModalVisible -->
<bucket-backup-policy-modal params="
    bucketName: bucketName,
    onClose: () => hideBackupPolicyModal()
"></bucket-backup-policy-modal>
<!-- /ko -->
