bucket-data-placement-form  {
    .column();
    
    .state-col {
        width: 5em;
    }

    .name-col {
        width: 100%;
    }

    .online-col {
        min-width: 13em;
    }

    .free-col {
        min-width: 15em;
    }
}