<div class="row content-middle pad alt-bg">
    <div class="cloumn greedy">
        <h3 class="heading3">Resources</h3>
        <div class="row">
            <span>
                <span>Nodes Pools:</span>
                <span data-bind="text: nodePoolCount"></span>
            </span>
            <span class="push-both">|</span>
            <span>
                <span>Cloud resources:</span>
                <span data-bind="text: cloudResourceCount"></span>
            </span>
            <span class="push-both">|</span>
            <span>
                <span>Policy type:</span>
                <span data-bind="text: placementType"></span>
            </span>
        </div>
    </div>


    <div data-bind="tooltip: editingDisabledTooltip">
        <button class="btn" data-bind="
            disable: editingDisabled,
            click: showPlacementPolicyModal
        ">
            Edit data placement
        </button>
    </div>
</div>

<data-table class="placement-table" params="
    columns: placementTableColumns,
    data: nodePools,
    rowFactory: pool => createPlacementRow(pool),
    emptyMessage: 'No resources participate in policy'
">
    <tempalate name="customLink">
        <div class="link-cell" data-bind="visible: ko.unwrap($data).href">
            <a class="link" data-bind="
                href: ko.unwrap($data).href || $data,
                text: ko.unwrap($data).text || $data
            "></a>
        </div>
        <div class="text-cell" data-bind="visible: !ko.unwrap($data).href">
            <span data-bind="
                text: ko.unwrap($data).text || $data
            "></span>
        </div>
    </tempalate>

    <template name="resourceCapacity">
        <capacity-bar data-bind="visible: ko.unwrap($data).total" params="
            total: ko.unwrap($data).total,
            used: ko.unwrap($data).used,
            color: ko.unwrap($data).color
        "></capacity-bar>
        <div class="text-cell" data-bind="visible: !ko.unwrap($data).total">
            <span data-bind="
                text: ko.unwrap($data).text || $data,
                css: ko.unwrap($data).css
            "></span>
        </div>
    </template>
</data-table>

<!-- ko if: isPlacementPolicyModalVisible -->
<bucket-placement-policy-modal params="
    bucketName: bucketName,
    onClose: () => hidePlacementPolicyModal()
"></bucket-placement-policy-modal>
<!-- /ko -->
