node-summary {
	.node-ip {
		margin-bottom: 3em;
	}

	capacity-gauge {
			display: inline-block;
			margin-right: 3em;
	}		

	.extras {
		vertical-align: top;
		display: inline-block;
	}	

	.properties {
		text-align: left;
		line-height: 2.5;
		list-style-type: none;
		margin: 0;
		padding: 0;

		svg-icon {
			margin-right: 1em;
		}
	}	

	action-list {
		margin-top: 5em;
	}	
}