test-node-modal {
    .modal-content {
        width: 60em;
        height: 50em;
    }

    .run-btn {
        width: 115px;
    }

    data-table {
        .test-col {
            min-width: 90px;
        }

        .source-node-col, .target-node-col {
            .no-wrap();
            text-align: left;
            width: 50%;
            max-width: 136px;
        }

        .protocol-col {
            min-width: 90px;
        }

        .ip-col {
            min-width: 110px;
        }

        .port-col {
            min-width: 60px;
        }

        .time-col {
            min-width: 100px;
        }

        .speed-col {
            min-width: 100px;
        }

        .progress-col {
            min-width: 112px;
            text-transform: capitalize;

            .completed  {
                .success;
            }

            .failed {
                .error;
            }

            .aborted {
                .warning;
            }
        }
    }

    .summary {
        margin-top: 6px;

        .summary-counter {
            svg-icon, span {
                vertical-align: middle;
            }
        }

        .emphasized {
            font-size: @font-size-medium;
        }
    }
}
