test-node-modal {
    data-table {
        .test-col {
            min-width: 75px;
        }

        .source-node-col, .target-node-col {
            .no-wrap();
            text-align: left;
            width: 50%;
            max-width: 136px;
        }

        .protocol-col {
            min-width: 50px;
        }

        .ip-col {
            min-width: 100px;
        }

        .port-col {
            min-width: 55px;
        }

        .time-col {
            min-width: 100px;
        }

        .speed-col {
            min-width: 100px;
        }

        .progress-col {
            min-width: 75px;
            text-transform: capitalize;

            .completed  {
                .success;
            }

            .failed {
                .error;
            }

            .aborted {
                .warning;
            }
        }
    }

    .summary {
        padding: 0 @gutter;
        line-height: 24px;
        height: 24px;

        svg-icon {
            margin-right: @gutter/2;
        }
    }
}
