<modal class="modal-large" params="
    title: 'Node\'s connectivity test',
    onClose: () => close()
" >
    <div class="config box row content-middle push-next">
        <radio-group class="c8" params="
            selected: selectedTests,
            options: testTypeOptions
        "></radio-group>
        <button class="btn3 c2 push-next" data-bind="
            click: runTest,
            disable: testing
        ">
            Run
        </button>
        <button class="btn3 c2" data-bind="
            click: abortTest,
            enable: testing
        ">
            Stop
        </button>
    </div>

    <section class="box column greedy">
        <data-table params="
            columns: columns,
            rowFactory: createTestRow,
            data: results,
            emptyMessage: 'Click on the run button to start the test'
        "></data-table>
    </section>

    <section class="box summary row content-middle">
        <span class="push-next">Summary:</span>

        <!-- ko if:summary -->
        <span class="summary-counter success push-both">
            <svg-icon params="name: 'notif-success'" class="icon-small"></svg-icon>
            <span>Completed</span>
            <span class="emphasized" data-bind="text: summary().completed"></span>
        </span>

        <span class="summary-counter error push-both">
            <svg-icon params="name: 'notif-error'" class="icon-small"></svg-icon>
            <span>Failed</span>
            <span class="emphasized" data-bind="text: summary().failed"></span>
        </span>

        <span class="summary-counter push-both" data-bind="
            visible: summary().inProcess
        ">
            <svg-icon params="name: 'in-progress'" class="icon-small"></svg-icon>
            <span>In Process</span>
            <span class="emphasized" data-bind="text: summary().inProcess"></span>
        </span>

        <span class="summary-counter warning push-both" data-bind="
            visible: summary().aborted
        ">
            <svg-icon params="name: 'notif-warning'" class="icon-small"></svg-icon>
            <span>Aborted</span>
            <span class="emphasized" data-bind="text: summary().aborted"></span>
        </span>
        <!-- /ko -->
    </section>

    <button class="action btn2 align-end push-prev" data-bind="
        click: close,
        text: closeBtnText
    ">
        Close
    </button>
</modal>
