upload-files-modal {
	.uploads {
		width: 700px;

		table {
			height: 200px;
		}

		.state-col {
			min-width: 4em;
		}

		.progress-col {
			min-width: 6em;
		}

		.name-col {
			width: 100%;
		}

		.file {
			&.completed > .progress-col {
				color: @text-color7;
			}

			&.failed > .progress-col {
				color: @text-color8;
			}
		}
	}
}