<modal params="onClose: () => close()">
    <h1 class="heading2 push-next">Upload Files</h1>

    <file-selector class="push-next" params="
        allowMultiSelect: true,
        onFilesReady: files => upload(files)
    "></file-selector>

    <h2 class="heading3 push-prev">Recently Uploaded</h2>
    <div class="box push-next">
        <div class="data-table">
            <table>
                <thead>
                    <tr>
                        <th class="name-col text-left">File Name</th>
                        <th class="progress-col">Progress</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: files">
                    <!-- ko if: isVisible -->
                    <tr class="file" data-bind="css: css">
                        <td class="name-col text-left" data-bind="text: name"></td>
                        <td class="progress-col" data-bind="
                            text: progress,
                            tooltip:  toolTip 
                        "></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <button class="btn2 align-end" data-bind="click: close">Close</button>
</modal>