<modal class="modal-large" params="
    title: 'Upload Files',
    onClose: () => close()
">
    <file-selector class="push-next" params="
        allowMultiSelect: true,
        onFilesReady: files => upload(files)
    "></file-selector>

    <h2 class="heading3">Recently Uploaded</h2>

    <div class="box row push-next greedy">
        <data-table params="
            columns: columns,
            data: requests,
            rowFactory: request => createUploadRow(request)
        "></data-table>
    </div>

    <button class="btn align-end" data-bind="click: close">Close</button>
</modal>
