<h2 class="row heading3" data-bind="click: () => expanded.toggle()">
    <span class="greedy align-middle">Server DNS Address</span>
    
    <button class="btn-flat rotate no-outline" data-bind="
        css: { 'deg-90': !expanded() }
    ">
        <svg-icon class="expand-icon" params="uri: '/fe/assets/icons.svg#chevron'" ></svg-icon>
    </button>
</h2>

<p class="summary" data-bind="visible: !expanded()">
    Server Address: 
    <output class="text-tech emphasized" data-bind="text: baseAddress"></output>
</p>

<div class="column" data-bind="expand: expanded">
    <p class="push-next">
        Domain Name System: The Internet's system for converting alphabetic names into numeric 
        addresses.    
    </p>

    <div class="column push-next">
        <radio-group class="push-next" params="selected: addressType, options: addressOptions"></radio-group>

        <editor params="label: 'IP Address', visible: usingIP">
            <output type="text" data-bind="value: ipAddress"></output>
        </editor>

        <editor params="label: 'DNS Name', visible: usingDNS">
            <input type="text" data-bind="textInput: dnsName" />
        </editor>
    </div>

    <div class="column push-next" data-bind="
        visible: usingDNS, 
        validationOptions: { insertMessages: false }
    ">
        <p class="emphasized">
            Before you apply changes, add the following entry to your DNS:
        </p>

        <div class="box config">
            <span>
                IP:
                <output class="text-tech emphasized" data-bind="value: ipAddress"></output>
            </span>
            
            <span>
                Name:
                <output class="text-tech emphasized" data-bind="value: dnsName"></output>
            </span>
        </div>
    </div>    

    <div class="push-next">
        Changing DNS name procedure: 
        
        <ol class="remark bullet-list">
            <li>Add the new name in your DNS to have both old and new names avaliable</li>
            <li>Apply the changes in the forms above</li>
            <li>Once all nodes are updated with the new name, the old name can be removed from the DNS</li>
        </ol>
        
        <p class="remark">
            In any case, reinstalling a node (from the install node wizard) will update the server address used by that node.
            <br>
            note: make sure that the server IP was configured Static and not DHCP, otherwise if the IP will suddenly change, the nodes will lose connectivity.
        </p>
    </div>

    <button class="btn2 push-next" data-bind="click: applyChanges">
        Apply Changes
    </button>
</div>
