<modal params="onClose: () => cancel()" class="text-left">
    <h1 class="heading2">
        Edit Cloud Sync Policy
    </h1>

    <div class="box push-next text-center">
        <span>
            Source:
            <span class="emphasized" data-bind="text: sourceBucket"></span>
        </span>
        <span class="highlight dir-symbol" data-bind="text: directionSymbol"></span>
        <span>
            Target:
            <span class="emphasized" data-bind="text: targetBucket"></span>
        </span>
    </div>


    <editor class="push-both" params="
        label: 'Sync Bucket Every',
        insertValMessages: false
    ">
            <div class="row">
                <input class="push-next" type="Number"  min="1" data-bind="
                    value: frequency
                "/>

                <dropdown class="freq-unit" params="
                    selected: frequencyUnit,
                    options: frequencyUnitOptions
                "></dropdown>
            </div>
    </editor>

    <editor class="push-next" params="
        label: 'Sync Type',
        insertValMessages: false
    ">
        <radio-group params="
            selected: direction,
            options: directionOptions,
        "></radio-group>
    </editor>

    <checkbox class="push-next" params="
        label: 'Synchronize File Deletions',
        checked: syncDeletions,
        disabled: direction() === 3
    "></checkbox>

    <div class="row content-middle align-end push-prev">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: save">Save</button>
    </div>
</modal>
