edit-cloud-sync-modal {
    .status-line {
        margin: -@gutter;
        margin-bottom: 0;
        background: @color1;
        line-height: 54px;
    }

    .dir-symbol {
        display: inline-block;
        color: @color6;
        width: 50px;
    }

    .freq-unit {
        width: 150px;
    }
}
