edit-cloud-sync-modal {
    .dir-symbol {
        display: inline-block;
        width: 3em;
    }

/*    .sync-summary {
        position: relative;
        display: inline-block;



        > .sync-source, > .sync-target {
            white-space: nowrap;
            position: absolute;
            display: inline-block;
            top: 0;
        }

        > .sync-source {
            right: 100%;
        }

        > .sync-target {
            left: 100%;
        }
    }*/

    .freq-unit {
        width: 6em;
    }
}
