<section class="column pad alt-bg content-middle">
    <button class="btn align-end" data-bind="
        click: () => showAttachServerModal()
    ">
        Attach Server
    </button>
</section>

<div data-bind="let: { vm: $component }">
    <data-table class="server-data-table" params="
        columns: columns,
        rowFactory: rowFactory,
        rowCssProp: 'debugLevelCss',
        sorting: sorting,
        data: servers,
        subRow: 'sub-row'
    ">
        <template name="sub-row">
            <ul class="alt-bg pad push-next list-no-style column">
                <li class="row">
                    <span class="c2 push-next">Server Time Settings:</span>
                    <span class="greedy" data-bind="text: timeConfig"></span>

                    <button class="link alt-colors no-outline" data-bind="
                        click: () => vm.showServerTimeSettingsModal(secret())
                    ">
                        Edit Date and Time
                    </button>
                </li>
                <li class="row">
                    <span class="c2 push-next">Server DNS Settings:</span>
                    <span class="row greedy">
                        <span class="push-next">
                            Primary:
                            <span class="text-tech" data-bind="text: primaryDNS"></span>
                        </span>
                        |
                        <span class="push-prev">
                            Secondary:
                            <span class="text-tech" data-bind="text: secondaryDNS"></span>
                        </span>
                    </span>

                    <button class="link alt-colors no-outline" data-bind="
                        click: () => vm.showServerDNSSettingsModal(secret())
                    ">
                        Edit Enviorment DNS
                    </button>
                </li>
                <li class="row">
                    <span class="c2 push-next">Server Debug Level:</span>
                    <span class="greedy" data-bind="
                        text: debugLevelText,
                        css: { warning: debugLevel() > 0 }
                    "></span>

                    <button class="link alt-colors no-outline" data-bind="
                        click: toogleDebugLevel,
                        text: toogleDebugLevelButtonText
                    "></button>
                    </button>
                </li>
                <li class="row">
                    <span class="c2 push-next">Diagnostics:</span>
                    <span class="greedy"></span>

                    <button class="link alt-colors no-outline" data-bind="
                        click: () => downloadDiagnosticPack(),
                        visible: !isCollectingDiagnostics()
                    ">Download Diagnostic File</button>
                    <div data-bind="visible: isCollectingDiagnostics">
                        <svg-icon class="icon-small spin" params="name: 'in-progress'" data-bind="visible: isCollectingDiagnostics"></svg-icon>
                        <span class="collecting-diagnostics">Collecting Data...</span>
                    </div>
                </li>
            </ul>
        </template>
    </data-table>
</div>

<!-- ko if:isAttachServerModalVisible -->
<attach-server-modal params="onClose: () => hideAttachServerModal()">
</attach-server-modal>
<!-- /ko -->

<!-- ko if:isServerDNSSettingsModalVisible -->
<server-dns-settings-modal params="
    serverSecret: actionContext,
    onClose: () => hideServerDNSSettingsModal()
"></server-dns-settings-modal>
<!-- /ko -->

<!-- ko if:isServerTimeSettingsModalVisible -->
<server-time-settings-modal params="
    serverSecret: actionContext,
    onClose: () => hideServerTimeSettingsModal()
"></server-time-settings-modal>
<!-- /ko -->
