server-table {
    .column();

    .server-data-table {
        .header-row, .main-row, .sub-row {
            border-left: 4px solid transparent;
        }

        .main-row.high-debug-level {
            border-color: @color11;
        }

        .state-col {
            min-width: 44px;
        }

        .hostname-col{
            text-align: left;
            width: 100%;
        }

        .address-col{
            min-width: 110px;
        }

        .memory-usage-col {
            min-width: 110px;
        }

        .cpu-usage-col {
            min-width: 110px;
        }

        .version-col {
            min-width: 80px;
        }
    }
}
