<editor params="label: 'Conenction Hostname'">
    <div class="row">
        <input type="text"
            class="push-next-half small-input"
            placeholder="Storage Group"
            ko.value="storageGroup"
            ko.validationCss="storageGroup"
        />
        <span class="push-next-half small-input">-{{hostname}}</span>
        <validation-indicator params="field: storageGroup"></validation-indicator>
    </div>
    <validation-message params="field: storageGroup"></validation-message>
</editor>

<editor params="label: 'Key name and CP code'">
    <div class="row">
        <div class="column push-next-half">
            <input type="text"
                class="small-input"
                placeholder="Key Name"
                ko.value="keyName"
                ko.validationCss="keyName"
            />
            <validation-message params="field: keyName"></validation-message>
        </div>
        <div class="column push-next-half">
            <input type="text"
                class="small-input"
                placeholder="CP Code"
                ko.value="cpCode"
                ko.validationCss="cpCode"
            />
            <validation-message params="field: cpCode"></validation-message>
        </div>
        <validation-indicator params="field: cpCode"></validation-indicator>
    </div>
</editor>

<editor params="label: 'Authentication Key'">
    <div class="row">
        <input type="text"
            class="push-next-half"
            placeholder="Enter Key"
            ko.value="authKey"
            ko.validationCss="authKey"
        />
        <validation-indicator params="field: authKey"></validation-indicator>
    </div>
    <validation-message params="field: authKey"></validation-message>
</editor>
