<editor params="label: 'Connection Hostname'">
    <div class="row">
        <input type="text"
            class="push-next-half small-input"
            placeholder="Storage Group"
            ko.value="form.nsStorageGroup"
            ko.validationCss="form.nsStorageGroup"
        />
        <span class="push-next-half small-input">-{{form.nsHostname}}</span>
        <validation-indicator params="field: form.nsStorageGroup"></validation-indicator>
    </div>
    <validation-message params="field: form.nsStorageGroup"></validation-message>
</editor>

<editor params="label: 'Key name and CP code'">
    <div class="row">
        <div class="column push-next-half">
            <input type="text"
                class="small-input"
                placeholder="Key Name"
                ko.value="form.nsKeyName"
                ko.validationCss="form.nsKeyName"
            />
            <validation-message params="field: form.nsKeyName"></validation-message>
        </div>
        <div class="column push-next-half">
            <input type="text"
                class="small-input"
                placeholder="CP Code"
                ko.value="form.nsCPCode"
                ko.validationCss="form.nsCPCode"
            />
            <validation-message params="field: form.nsCPCode"></validation-message>
        </div>
        <validation-indicator params="field: form.nsCPCode"></validation-indicator>
    </div>
</editor>

<editor params="label: 'Authentication Key'">
    <div class="row">
        <input type="text"
            class="push-next-half"
            placeholder="Enter Key"
            ko.value="form.nsAuthKey"
            ko.validationCss="form.nsAuthKey"
        />
        <validation-indicator params="field: form.nsAuthKey"></validation-indicator>
    </div>
    <validation-message params="field: form.nsAuthKey"></validation-message>
</editor>
