BasedOnStyle: LLVM

UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
SortIncludes: true
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: true
NamespaceIndentation: Inner

AlignOperands: false
AlignTrailingComments: false
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: false

AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

