BasedOnStyle: LLVM

UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
SortIncludes: true
SortUsingDeclarations: true
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
NamespaceIndentation: Inner
PointerAlignment: Left
Cpp11BracedListStyle: false
# IndentPPDirectives: AfterHash

AlignOperands: false
AlignTrailingComments: false
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: false

AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
