# BUILD
/node_modules/
/build/
/coverage/
/.nyc_output/
/noobaa.rpm

## TEST
/db_storage*
/agent_storage*
/noobaa_storage*
/agent_conf*.json*
/memleak/
/heapdump-*
/*.heapprofile

## LOGS
/logs/
/npm-debug.log*
*.log

## IDE
/.vscode/
/.idea/
/*.sublime*

## DEVELOPER
/config-local.js
/.env
*.pem
.nbtoken
.DS_Store

# custom ignored files - use .IGNORE or any prefix.IGNORE to remove from git
*.IGNORE
