node_modules/
bower_components/
build/
!src/native/third_party/webrtc/webrtc/build
.env
*.pem
*.iml

## IDE
*.sublime-workspace
*.sublime-project
.idea/
tags
*.iml

## istanbul coverage
coverage/

## testing agent storage
metadata_storage*
agent_storage*
agent_conf.json*

## heapdump files
heapdump-*

## logs
*.log
logs/

## local stash - use it by adding .STASH suffix to hide a file from git
*.STASH
.DS_Store
