node_modules/
bower_components/
build/
.env
*.pem

*.sublime-workspace
*.sublime-project

## istanbul coverage
coverage/

## testing agent storage
agent_storage/

ionic-app/

# heapdump files
heapdump-*

# intellij project files
.idea
*.iml

# log files
*.log
