env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config
    - LOCAL_IP=$(ifconfig | grep inet | head -1 | awk '{print $2}' | cut -d':' -f2)

    - IMAGE_TAG="noobaa-${TRAVIS_COMMIT}"
    - TESTER_TAG="noobaa-tester-${TRAVIS_COMMIT}"

matrix:
  include:
    - language: generic

      name: "Unit Tests"

      services:
        - docker

      script:
        - make tester NO_CACHE=true SUPPRESS_LOGS=true
        - make test SUPPRESS_LOGS=true

    - language: node_js
      node_js:
        - "10"

      name: "Build & Sanity Integration Tests"

      sudo: required

      dist: xenial #seems like running trusty fails minukube deployment

      install:
        - "./.travis/deploy_minikube.sh 1 >& /dev/null"

      script:
        - make tester NOOBAA_TAG=${IMAGE_TAG} TESTER_TAG=${TESTER_TAG} NO_CACHE=true SUPPRESS_LOGS=true
        - travis_wait 45 "cd ./src/test/framework/ && ./run_test_job.sh --wait --name ${TRAVIS_COMMIT} --image ${IMAGE_TAG} --tester_image ${TESTER_TAG} --job_yaml ../../../.travis/travis_test_job.yaml"
