<div class="row content-middle ">
    <h2 class="heading3 greedy" data-bind="text: caption">Choose Pools for policy</h2>
    <div>
        <button class="link alt-colors" data-bind="click: selectListedPools">
            Select all
        </button>
        |
        <button class="link alt-colors" data-bind="click: clearListedPools">
            Clear
        </button>
    </div>
</div>

<div class="row greedy">
    <data-table params="
        columns: columns,
        data: pools,
        rowFactory: pool => createRow(pool)
    ">
        <template name="resource-capacity">
            <!-- ko if: $data().total -->
            <capacity-bar data-bind="visible: $data().total" params="
                total: $data().total,
                used: $data().used
            "></capacity-bar>
            <!-- /ko -->

            <!-- ko ifnot: $data().total -->
            <span data-bind="text: $data()"></span>
            <!-- /ko -->
        </template>
    </data-table>
</div>
<p class="val-msg" data-bind="validationMessage: selectedPools"></p>
