pool-selection-table {
    display: block;
    padding-bottom: @gutter;

    data-table {
        height: 210px;

        .select-col {
            min-width: 45px;
        }

        .state-col {
            min-width: 70px;
        }

        .name-col {
            text-align: left;
            width: 100%;
        }

        .online-count-col {
            min-width: 200px;
        }

        .free-space-col {
            min-width: 130px;
        }
    }

    .val-msg {
        position: relative;
        margin: 0;
        margin-top: -20px;
        top: 20px;
    }
}
