<div class="row content-middle ">
    <h2 class="heading3 greedy" data-bind="text: caption">Choose Pools for policy</h2>
    <div>
        <button class="link alt-colors" data-bind="click: selectListedPools">
            Select all
        </button>
        |
        <button class="link alt-colors" data-bind="click: clearListedPools">
            Clear
        </button>
    </div>
</div>

<div class="row greedy">
    <data-table params="
        columns: columns,
        data: pools,
        rowFactory: pool => createRow(pool)
    ">
        <template name="resourceCapacity">
            <capacity-bar data-bind="visible: ko.unwrap($data).total" params="
                total: ko.unwrap($data).total,
                used: ko.unwrap($data).used,
                color: ko.unwrap($data).color
            "></capacity-bar>
            <div class="text-cell" data-bind="visible: !ko.unwrap($data).total">
                <span data-bind="
                    text: ko.unwrap($data).text || $data,
                    css: ko.unwrap($data).css
                "></span>
            </div>
        </template>
    </data-table>
</div>
<p class="val-msg" data-bind="validationMessage: selectedPools"></p>
