cloud-sync-modal {
    > modal > .modal-content {
        width: 600px;

        editor .editor-label {
            width: 9em;
        }
    }

    .heading2 {
        margin-bottom: 2em;
    }

    .aws-keys, .aws-buckets {
        width: 20em;
    }

    .aws-key {
        font-family: @font-type3;
        font-size: @font-size-small;
    }

    .field-name {
        display: inline-block;
        width: 8em;
    }

    radio-group {
        display: inline-block;
    }

    .pallete > div {
        width: 2em;
        height: 2em;
        display: inline-block;
        color: white;
        vertical-align: middle;
    }

    .texts > div {
        display: inline-block !important;
    }

    .add-credantials-btn {
        display: inline-block;;
        margin-left: .5em;
    }


}