set-cloud-sync-modal {
    > modal > .modal-content {
        width: 600px;

        editor .editor-label {
            width: 9em;
        }

        dropdown {
            width: 25em;
        }

        .freq-unit {
            width: auto;
        }
    }
}
