<modal params="onClose: () => cancel()" class="text-left">
    <h1 class="heading2" class="push-next">
        Set Cloud Sync
    </h1>
    <h2 class="heading3 push-next">
        Set connection
    </h2>

    <editor params="label: 'Target Connection'">
        <dropdown params="
            placeholder: 'Choose a connection',
            options: connectionOptions,
            selected: connection
        "></dropdown>
        <div class="val-msg" data-bind="validationMessage: connection"></div>
    </editor>

     <editor params="label: 'Target Bucket', disabled: !targetBucketsOptions()">
        <dropdown params="
            placeholder: 'Choose Bucket',
            disabled: !targetBucketsOptions(),
            options: targetBucketsOptions,
            selected: targetBucket
        "></dropdown>
        <div class="val-msg" data-bind="validationMessage: targetBucket"></div>
    </editor>

    <hr>

    <h2 class="heading3 push-next">
        Configure policy
    </h2>

    <editor class="push-next" params="
        label: 'Sync Bucket Every',
        disabled: !targetBucket(),
        insertValMessages: false
    ">
            <div class="row">
                <input class="push-next" type="Number"  min="1" data-bind="
                    value: frequency,
                    enable: targetBucket
                "/>

                <dropdown class="freq-unit" params="
                    selected: frequencyUnit,
                    options: frequencyUnitOptions,
                    disabled: !targetBucket()
                "></dropdown>
            </div>
    </editor>

    <editor class="push-next" params="
        label: 'Sync Type',
        disabled: !targetBucket(),
        insertValMessages: false
    ">
        <radio-group params="
            selected: direction,
            options: directionOptions,
            disabled: !targetBucket()
        "></radio-group>
    </editor>

    <checkbox class="push-next" params="
        label: 'Synchronize File Deletions',
        checked: syncDeletions,
        disabled: !targetBucket() || direction() === 3
    "></checkbox>

    <div class="row content-middle align-end">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: save">Save</button>
    </div>
</modal>

<!-- ko if: isAddS3ConnectionModalVisible -->
<add-s3-connection-modal params="onClose: () => hideAddS3ConnectionModal()">
</add-s3-connection-modal>
<!-- /ko -->
