<modal params="onClose: () => cancel()" class="text-left">
    <h1 class="heading2 container">
        Set Cloud Sync Policy
    </h1>

    <section class="container">
        <editor params="label: 'AWS Access Key'"    >
            <dropdown params="
                placeholder: 'Choose Access Key',
                options: accessKeyOptions,
                selected: accessKey
            "></dropdown>
            <div class="val-msg" data-bind="validationMessage: accessKey"></div>
        </editor>

         <editor params="label: 'AWS Bucket'">
            <dropdown params="
                placeholder: 'Choose Bucket',
                disabled: !awsBucketsOptions(),
                options: awsBucketsOptions,
                selected: awsBucket
            "></dropdown>
            <div class="val-msg" data-bind="validationMessage: awsBucket"></div>
        </editor>

        <editor params="label: 'Sync Bucket Every', insertValMessages: false">
            <input type="Number" data-bind="value: frequency, enable: awsBucket" min="1"/>
            <dropdown class="freq-unit" params="
                selected: frequencyUnit, 
                options: frequencyUnitOptions, 
                disabled: !awsBucket()
            "></dropdown>
        </editor>

        <editor params="label: 'Sync Type', insertValMessages: false">
            <radio-group params="
                selected: direction, 
                options: directionOptions, 
                disabled: !awsBucket()
            "></radio-group>
        </editor>
        
        <checkbox params="
            label: 'Synchronize File Deletions', 
            checked: syncDeletions,
            disabled: !awsBucket() || direction() === 'BI'
        "></checkbox>
    </section>

    <div class="action-line pull-right">
        <button class="action link" data-bind="click: cancel">Cancel</button>
        <button class="action btn2" data-bind="click: save">Save</button>
    </div>
</modal> 

<!-- ko if: isAWSCredentialsModalVisible -->
<aws-credentials-modal params="onClose: canceled => onNewCredentials(canceled)">
</aws-credentials-modal> 
<!-- /ko -->