<div class="column pad alt-bg">
    <button class="btn align-end" data-bind="
        click: () => showAddCloudResourceModal()
    ">
        Add Cloud Resource
    </button>
</div>

<data-table class="greedy" params="
    columns: columns,
    rowFactory: resource => newResourceRow(resource),
    sorting: sorting,
    data: resources,
    emptyMessage: 'System does not contain any cloud resources'
"></data-table>

<!-- ko if: isAddCloudResourceModalVisible -->
<add-cloud-resource-modal params="onClose: () => hideCloudReousrceModal()">
</add-cloud-resource-modal>
<!-- /ko -->
