reset-password-modal {
    .verification-password {
        margin-bottom: auto;
    }

    .copy-message {
        display: inline-block;
        max-width: 100%;
    }

    .remark {
        line-height:  2;
    }

    .user-message{
        font-family: roboto;
        line-height: 1.5;
    }
}
