<div class="column">
    <div class="row content-middle push-next">
        <h3 class="heading2 greedy push-next">
            Cloud sync
        </h3>

        <!-- ko if: hasCloudSyncPolicy -->
        <button class="btn3 push-next" data-bind="
            click: toggleSync,
            text: toggleSyncButtonLabel
        "></button>

        <button class="btn3" data-bind="click: removePolicy">
            Remove
        </button>
        <!-- /ko -->

        <!-- ko ifnot: hasCloudSyncPolicy -->
        <button class="btn3" data-bind="click: showSetCloudSyncModal">
            Set Policy
        </button>
        <!-- /ko -->
    </div>

     <!-- ko ifnot: hasCloudSyncPolicy -->
    <p>Cloud sync was not set for this bucket</p>
    <!-- /ko -->

    <!-- ko if: hasCloudSyncPolicy -->
    <section class="column">
        <h3 class="heading3">Status details</h3>
        <ul class="list-no-style column">
            <li class="row">
                <span class="c2">Sync Status:</span>
                <span class="c10 emphasized" data-bind="text: state"></span>
            </li>
            <li class="row">
                <span class="c2">Last sync:</span>
                <span class="c10 emphasized" data-bind="text: lastSync"></span>
            </li>
            <li class="row">
                <span class="c2">Next sync:</span>
                <span class="c10 emphasized" data-bind="text: nextSync"></span>
            </li>
        </ul>
    </section>

     <hr>

    <section class="column">
        <h3 class="heading3">Conneciton details</h3>
        <ul class="list-no-style column">
            <li class="row">
                <span class="c2">Endpoint:</span>
                <span class="c10 emphasized" data-bind="text: endpoint"></span>
            </li>
            <li class="row">
                <span class="c2">Access key:</span>
                <span class="c10 emphasized" data-bind="text: accessKey"></span>
            </li>
            <li class="row">
                <span class="c2">Target bucket:</span>
                <span class="c10 emphasized" data-bind="text: targetBucket"></span>
            </li>
        </ul>
    </section>

     <hr>

    <section class="column">
        <div class="row">
            <h3 class="heading3 greedy">Sync Policy</h3>
            <button class="btn3" data-bind="click: showEditCloudSyncModal">
                Edit
            </button>
        </div>
        <ul class="list-no-style column">
            <li class="row">
                <span class="c2">Frequency:</span>
                <span class="c10 emphasized" data-bind="text: frequancy"></span>
            </li>
            <li class="row">
                <span class="c2">Direction:</span>
                <span class="c10 emphasized" data-bind="text: syncDirection"></span>
            </li>
            <li class="row">
                <span class="c2">Sync Deletions:</span>
                <span class="c10 emphasized" data-bind="text: syncDeletions"></span>
            </li>
        </ul>
    </section>
    <!-- /ko -->
</div>
<!-- ko if: isSetCloudSyncModalVisible -->
<set-cloud-sync-modal params="
    bucketName: bucketName,
    onClose: () => hideSetCloudSyncModal()
"></set-cloud-sync-modal>
<!-- /ko -->

<!-- ko if: isEditCloudSyncModalVisible -->
<edit-cloud-sync-modal params="
    bucketName: bucketName,
    onClose: () => hideEditCloudSyncModal()
"></edit-cloud-sync-modal>
<!-- /ko -->
