chart-legend {
    .column();

    .legend-caption {
        margin-bottom: @gutter/2;
    }

    ul {

        li {
            margin: @gutter/2 0;
            line-height: 1;

            &:before {
                content: '';
                display: inline-block;;
                border: 4px solid;
                vertical-align: middle;
                border-color: inherit;
                margin-right: 4px;
            }

            span {
                display: inline-block;
                width: 130px;

                + span {
                    width: 68px;
                }
            }
        }
    }
}
