install-node-wizard {
    .modal-content {
        width: 45em;
    }

    .step {
        height: 22em;
    }

    .configure-step {
        .addr-type {
            line-height: 2em;
        }    

        .addr {
            display: block;
            line-height: 1.5;
        }
    }

    .install-step {
        .copy-btn {
            padding-right: 0;
            padding-left: .5em;
            height: 100%;
        }

        output {
            word-break: break-all;
            display: block;
        }
    }

    .review-step {
        padding-top: 1.5em;

        .remark {
            display: block;
        }
    }
}