<h2 class="heading3">
    Start your installation process
</h2>

<radio-group class="push-next" params="
    options: installationTargetOptions,
    selected: installationTarget,
"></radio-group>

<!-- ko if: commandSelector() === 'NETWORK_WINDOWS' -->
<p>
    Open an elevated Powershell (run as administrator) to a target machine and run the following command
</p>
<!-- /ko -->

<!-- ko if: commandSelector() === 'NETWORK_LINUX' -->
<p>
    Open a linux shell to a target  machine and run the following command
</p>
<!-- /ko -->

<!-- ko if: commandSelector() === 'LOCAL_WINDOWS' -->
<ol class="instructions">
    <li>
        <a class="link" data-bind="attr: { href: packageUrl }">
            Click here to download
        </a>
        the agent installation package
    </li>
    <li>Copy the installation package to target machine</li>
    <li>Open an elevated Powershell (run as administrator) on target machine</li>
    <li>Run the following command</li>
</ol>
<!-- /ko -->

<!-- ko if: commandSelector() === 'LOCAL_LINUX' -->
<ol class="instructions">
    <li>
        <a class="link" data-bind="attr: { href: packageUrl }">
            Click here to download
        </a>
        the agent installation package
    </li>
    <li>Copy the installation package to target machine</li>
    <li>Open a root shell (or shell with sudo) on target machine</li>
    <li>Run the following command</li>
</ol>
<!-- /ko -->

<div class="box config-box row">
    <output class="text-tech greedy" data-bind="text: selectedInstallCommand">
    </output>

    <copy-to-clipboard-button params="value: selectedInstallCommand">
    </copy-to-clipboard-button>
</div>
