install-node-wizard {
	.configure-step {
		.addr-type {
			line-height: 2em;
		}	

		.addr {
			display: block;
			line-height: 1.5;
		}
	}

	.download-step {
		padding-top: 4em;

		.download-btn {
			margin: .5em;
			width: 11em;
		}		

	}

	.run-step {
		word-break: break-all;

		.copy-btn {
			padding-right: 0;
			padding-left: .5em;
			height: 100%;
		}

		output {
			display: block;
		}
	}

	.review-step {
		padding-top: 2em;

		.remark {
			display: block;
		}
	}
}