install-node-wizard {
    .step {
        width: ;
    }

    .configure-step {
        .addr-type {
            line-height: 2em;
        }    

        .addr {
            display: block;
            line-height: 1.5;
        }
    }

    .download-step {
        padding-top: 4em;

        .download-btn {
            margin: .5em;
            width: 11em;
        }        

    }

    .install-step {
        .copy-btn {
            padding-right: 0;
            padding-left: .5em;
            height: 100%;
        }

        output {
            word-break: break-all;
            display: block;
        }
    }

    .review-step {
        padding-top: 2em;

        .remark {
            display: block;
        }
    }
}