<div class="column">
    <h2 class="heading3">
        Start your installation process
    </h2>

    <radio-group class="push-next" params="
        options: installationTargetOptions,
        selected: installationTarget,
    "></radio-group>

    <!-- ko if: commandSelector() === 'NETWORK_WINDOWS' -->
    <p>
        Open an elevated Powershell (run as administrator) to a target machine and run the following command
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'NETWORK_LINUX' -->
    <p>
        Open a linux shell to a target  machine and run the following command
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'LOCAL_WINDOWS' -->
    <div class="row push-next">
        <p class="greedy ">
            Click the button to download the Windows installation package and copy it to the target machine.
        </p>

        <a class="btn3 download-btn" download
            data-bind="attr: { href: packageUrl }">
            Download package
        </a>
    </div>

    <p>
        Open a CMD window on target machine and run the following command (you must have admin privileges)
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'LOCAL_LINUX' -->
    <div class="push-next">
        <p>
            Click the button to download the Linux installation package and copy it to the target machine.
        </p>

        <a class="btn3" download data-bind="attr: { href: packageUrl }">
            Download Package
        </a>
    </div>

    <p>
        Run the following command on target machine shell (you must have root privileges)
    </p>
    <!-- /ko -->

    <div class="box config-box row">
        <output class="text-tech greedy" data-bind="text: selectedInstallCommand">
        </output>

        <button class="btn-flat align-start" data-bind="
            tooltip: 'Copy to Clipboard',
            click: () => copyInstallCommand()
        ">
            <svg-icon class="icon-small" params="name: 'copy-to-clipboard'"></svg-icon>
        </button>
    </div>
</div>
