<div class="column">
    <h2 class="heading3">
        Start your installation process
    </h2>

    <radio-group class="push-next" params="
        options: installationTargetOptions,
        selected: installationTarget,
    "></radio-group>

    <!-- ko if: commandSelector() === 'NETWORK_WINDOWS' -->
    <p>
        Open Powershell to a target machine and run the following command
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'NETWORK_LINUX' -->
    <p>
        Open a linux shell to a target  machine and run the following command
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'LOCAL_WINDOWS' -->
    <p>
        Click the button below to download the Windows installation package and copy it to the target machine.
    </p>

    <a class="btn3 download-btn push-next" download
        data-bind="attr: { href: packageUrl }">
        Download Windows Package
    </a>

    <p>
        Open a CMD window on target machine and run the following command (you must have admin privileges)
    </p>
    <!-- /ko -->

    <!-- ko if: commandSelector() === 'LOCAL_LINUX' -->
    <p>
        Click the button below to download the Linux installation package and copy it to the target machine.
    </p>

    <a class="btn3 push-next" download data-bind="attr: { href: packageUrl }">
        Download Linux Package
    </a>

    <p>
        Run the following command on target machine shell (you must have root privileges)
    </p>
    <!-- /ko -->

    <div class="box config-box row">
        <output class="text-tech greedy" data-bind="text: selectedInstallCommand">
        </output>

        <button class="btn-flat align-start" data-bind="
            tooltip: 'Copy to Clipboard',
            click: () => copyInstallCommand()
        ">
            <svg-icon class="icon-small" params="name: 'copy-to-clipboard'"></svg-icon>
        </button>
    </div>
</div>
