<div class="column greedy align-middle content-middle">
    <p class="">
        All nodes will be automatically added to the Resources >
        <a class="link" data-bind="
            href: { route: 'pool', params: { pool: defaultPool }, },
            hasFocus: $inActiveStep
        ">
            default pool
        </a>
    </p>

    <img class="push-both" data-bind="attr: { src: nodeListImageUrl }"/>

    <span class="remark">
        * New Nodes will show up in a list once they are connected
    </span>

    <span class="remark">
        * You can reassign node to diffrent pools at later times
    </span>
</div>
