<div class="container">
	
	<h2 class="heading3">
		<svg-icon params="uri: '/assets/icons.svg#pool'"></svg-icon>
		Distribution (recommended)
	</h2>
	
	<p>Distribute the agent with the following configuration via any distribution tool to all the nodes you wish to participate in the network.</p>

	<p class="box">/S config</p>			
</div>

<div class="container">
	<h2 class="heading3">
		<svg-icon params="uri: '/assets/icons.svg#node'"></svg-icon>
		Manual Installation
	</h2>
	
	<p>
		Open a shell window and run the following command: 
		<div class="box">noobaa-setup.exe /S config<div>
	</p>
</div>
