<section class="container">
    <h2 class="heading3"/>Select your installation type</h2>

    <ul class="list-no-style clear" data-bind="foreach: installationTypeOptions">
        <li class="container">
            <radio-btn params="
                group: 'installation-type', 
                value: value, 
                label: label, 
                selected: $parent.installationType
            "></radio-btn>
            
            <p class="paragraph option-desc" data-bind="text: description">
        </li>
    </ul>
</section>