<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">
                    <button class="btn btn-default pull-right border-hover-only" data-dismiss="modal">
                        <span class="closer" aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    Add Nodes
                </h3>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-xs-4">How many</label>
                        <div class="col-xs-4">
                            <input ng-disabled="running" type="number" class="form-control form-control-lg" ng-model="count" min="1" max="100" required autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">GigaBytes per Node</label>
                        <div class="col-xs-4">
                            <input ng-disabled="running" type="number" class="form-control form-control-lg" ng-model="allocate_gb" min="1" max="100" required />
                        </div>
                        <!-- <div class="col-xs-4">
                            <input ng-disabled="running" type="range" class="form-control form-control-lg" ng-model="allocate_gb_str" min="1" max="100" step="1" />
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Run on</label>
                        <div class="col-xs-8">
                            <div class="form-control form-control-lg">
                                <select ng-disabled="running" ng-model="selected_vendor" ng-options="vendor.name for vendor in node_vendors" required></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" nb-click-ladda="run()">Add Nodes</button>
            </div>

        </div>
    </div>
</div>
