<div ng-controller="DashboardCtrl">

    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-6 col-md-3">
                <h1 style="font-size: 4em">{{human_size(nbSystem.stats.allocated_storage)}}</h1>
                <p>
                    <small>storage</small>
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h1 style="font-size: 4em">{{human_percent(nbSystem.stats.free_storage_percent)}}</h1>
                <p>
                    <small>free storage</small>
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h1 style="font-size: 4em">{{nbSystem.stats.nodes}}</h1>
                <p>
                    <small>nodes</small>
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h1 style="font-size: 4em">{{nbSystem.stats.online_nodes}}</h1>
                <p>
                    <small>online nodes</small>
                </p>
            </div>
        </div>
    </div>

    <br/>

    <div class="relpos">
        <div id="nodes_stats_map" style="height: 90vh"></div>
        <div ng-if="nbNodes.has_no_nodes" class="abscenter text-center" style="margin-top: -30px; margin-left: -50px">
            <a class="btn btn-success btn-lg animated fadeInUp" ng-click="nbNodes.add_nodes()">
                Add nodes
            </a>
        </div>
    </div>

</div>
