<div ng-controller="DownloadCtrl">

    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid">

        <h1 class="text-muted">Download</h1>

        <br/>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-control">
                    <select ng-model="nbFiles.bucket" ng-options="bkt.name for bkt in nbFiles.buckets" ng-disabled="uploading"></select>
                </div>
            </div>
        </div>

        <hr />


        <div class="row" ng-if="nbFiles.bucket">

            <div class="col-sm-6">
                <div ng-repeat="object in nbFiles.bucket.objects">
                    <a ng-click="click_object(object)">{{object.key}}</a>
                </div>
            </div>

            <div class="col-sm-6">
                <img ng-src="{{object_src}}" ng-if="object_src" class="img-responsive" />
                <video controls autoplay ng-src="{{video_src}}" ng-if="video_src" class="img-responsive"></video>
                <!-- <object ng-src="{{object_src}}" ng-if="object_src" class="img-responsive"></object> -->
            </div>
        </div>

    </div>
</div>
