<div>
    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid" ng-controller="FilesCtrl">

        <div class="clearfix">
            <button class="btn btn-default" ng-click="refresh()" nb-ladda="nbMgmt.refreshing">
                &nbsp;&nbsp;<i class="fa fa-repeat fa-fw fa-lg"></i>&nbsp;&nbsp;
            </button>
            <div class="form-control" style="width: 150px; display: inline-block">
                <select ng-model="bucket" ng-options="bucket.name for bucket in buckets"></select>
            </div>
            <button ng-click="create_bucket()" class="btn btn-default" title="New Bucket" rel="tooltip">
                New Bucket
            </button>
            <button nb-disabled="!bucket" ng-click="click_upload()" class="btn btn-default">
                Upload
            </button>
        </div>

        <hr />


        <!-- <img ng-src="{{object_src}}" ng-if="object_src" class="img-responsive" /> -->
        <video ng-src="{{object_src}}" ng-if="object_src" controls class="img-responsive"></video>
        <!-- <object ng-src="{{object_src}}" ng-if="object_src" class="img-responsive"></object> -->

        <div class="row" ng-if="bucket">
            <div ng-repeat="object in bucket.objects" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <button class="btn btn-default btn-block" style="height: 100px" ng-click="click_object(object)">
                    {{object.key}}
                </button>
            </div>
        </div>

    </div>
</div>
