<nav class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
    <div class="container-fluid">

        <ul class="nav navbar-nav" ng-if="nav">
            <li style="border: none" ng-class="{active: !nav.crumbs.length}">
                <a ng-href="{{nav.root || '/'}}" class="navbar-brand">
                    &nbsp;
                    <b><i>NooBaa</i></b>
                    &nbsp;
                </a>
            </li>
            <li ng-repeat="crumb in nav.crumbs" ng-class="{active: $last, dropdown: crumb.dropdown}">
                <a ng-if="!crumb.dropdown" ng-href="{{crumb.href}}">
                    {{crumb.text}}
                </a>
                <a ng-if="crumb.dropdown" class="dropdown-toggle" data-toggle="dropdown">
                    {{crumb.text}}
                    <i class="fa fa-angle-down fa-fw text-muted" style="margin-right: -10px"></i>
                </a>
                <ul ng-if="crumb.dropdown" class="dropdown-menu" role="menu">
                    <li ng-repeat="opt in crumb.dropdown"><a ng-href="{{opt.href}}">{{opt.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-if="account_email">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span style="visibility: hidden; width: 0; margin-right: -15px">
                        O<!-- needed some text for navbar height align -->
                    </span>
                    <i class="fa fa-bars fa-lg fa-fw"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <div class="text-center text-muted">
                            <i class="fa fa-angle-left fa-fw"></i>
                            <b><i>{{account_email}}</i></b>
                            <i class="fa fa-angle-right fa-fw"></i>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li ng-if="!account_email">
                        <a href="/login">Login</a>
                    </li>
                    <li ng-if="account_email">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
