<div ng-controller="NodesCtrl">
    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid">

        <div class="clearfix">
            <button class="btn btn-default" ng-click="nbNodes.add_nodes()">
                Add Nodes
            </button> &nbsp;
        </div>

        <hr/>

        <div class="row">

            <div class="col-sm-4 col-sm-push-8" style="overflow: hidden">
                <div id="nodes_map" class="img-responsive"></div>
            </div>

            <div class="col-sm-8 col-sm-pull-4">

                <div ng-hide="nbNodes.detailed_nodes.nodes.length">
                    <h1 class="hidden-sm hidden-md hidden-lg pull-right">
                        <span class="animated bounce" style="padding-top: 30px">
                            <i class="fa fa-hand-o-up fa-3x fa-fw text-primary"></i>
                        </span>
                    </h1>
                    <h1 class="hidden-xs pull-right">
                        <span class="animated shake" style="padding-right: 30px">
                            <i class="fa fa-hand-o-right fa-4x text-primary"></i>
                        </span>
                    </h1>
                    <h1>Click a map marker to show the nodes</h1>
                </div>

                <div ng-if="nbNodes.detailed_nodes.geo" ng-repeat="geo in [nbNodes.detailed_nodes.geo]">
                    <h1 class="animated fadeInUp clearfix">
                        {{geo}}
                        <span class="badge">{{nbNodes.detailed_nodes.nodes.length}} nodes</span>
                    </h1>
                </div>

                <div class="table-responsive" ng-if="nbNodes.detailed_nodes.nodes.length">
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th>Node</th>
                            <th>Heartbeat</th>
                            <th>Vendor</th>
                            <th>Storage</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="node in nbNodes.detailed_nodes.nodes" ng-click="nbNodes.detailed_nodes.selected=$index" ng-class="{Xactive: nbNodes.detailed_nodes.selected==$index}">
                            <td>
                                <button class="btn btn-default btn-sm border-hover-only" nb-click-ladda="nbNodes.click_node_status(node)">
                                    <i class="fa {{node.is_online && 'fa-circle text-green' || 'fa-circle text-muted'}}"></i>
                                </button>
                            </td>
                            <td>{{node.name}}</td>
                            <td>{{node.hearbeat_moment.fromNow()}}</td>
                            <td>{{nbNodes.node_vendors_by_id[node.vendor].name}}</td>
                            <td>
                                <div class="progress" style="margin:0; position:relative">
                                    <div class="progress-bar Xprogress-bar-info" ng-class="{'progress-bar-info':($index % 4)==0, 'progress-bar-success':($index % 4)==1, 'progress-bar-warning':($index % 4)==2, 'progress-bar-danger':($index % 4)==3}" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                    aria-valuenow="{{100*node.used_storage/node.allocated_storage}}" style="width: {{100*node.used_storage/node.allocated_storage}}%;"></div>

                                    <div class="text-center text-color" style="position:absolute; top:0; left:0; right:0; bottom:0">
                                        <small>{{human_size(node.allocated_storage)}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm border-hover-only" nb-click-ladda="nbNodes.remove_node(node)">
                                    <i class="fa fa-trash text-muted"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
