<div ng-controller="NodeDetailsCtrl">

    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid" ng-if="node">

        <h1 class="text-muted">Node Details</h1>

        <hr/>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <h1>{{node_name}}</h1> Name
                <h1>{{node.geolocation}}</h1> Location
                <h1>{{node.ip}}</h1> IP
                <h1>{{node.port}}</h1> Port
            </div>

            <div class="col-sm-6 col-md-4">
                <p>
                    <span class="fa-stack" style="font-size: 100px" ng-hide="node.is_online">
                        <i class="fa fa-square fa-stack-2x text-muted"></i>
                        <i class="fa fa-plug fa-stack-1x text-white" ></i>
                    </span>
                    <span class="fa-stack" style="font-size: 100px" ng-show="node.is_online">
                        <i class="fa fa-square fa-stack-2x text-green"></i>
                        <i class="fa fa-rss fa-stack-1x text-primary" ></i>
                    </span>
                </p>
                <p style="padding-left: 25px" ng-show="node.is_online">
                    <button class="btn btn-default border-hover-only" style="outline:none" nb-click-ladda="nbNodes.click_node_status(node)">
                        <i class="fa fa-plug fa-lg fa-fw text-muted"></i> Stop node
                    </button>
                </p>
                <p style="padding-left: 25px" ng-hide="node.is_online">
                    <button class="btn btn-primary border-hover-only" style="outline:none" nb-click-ladda="nbNodes.click_node_status(node)">
                        <i class="fa fa-rss fa-lg fa-fw text-muted"></i> Start node
                    </button>
                </p>
            </div>

            <div class="col-sm-6 col-md-4">
                <h4 class="text-muted">System Info</h4>
                <table class="table" style="max-width:400px; width:auto">
                    <tr>
                        <td>Runs on</td>
                        <td>{{node.vendor.name}}</td>
                    </tr>
                    <tr>
                        <td>Heartbeat</td>
                        <td>{{node.hearbeat_moment.fromNow()}}</td>
                    </tr>
                    <tr ng-repeat="(key,val) in node.system_info.os">
                        <td>{{key}}</td>
                        <td ng-switch="key">
                            <span ng-switch-when="freemem">{{human_size(val)}}</span>
                            <span ng-switch-when="totalmem">{{human_size(val)}}</span>
                            <span ng-switch-when="cpus">{{val.length}}</span>
                            <span ng-switch-when="loadavg">{{val[0].toFixed(2)}} {{val[1].toFixed(2)}} {{val[2].toFixed(2)}}</span>
                            <span ng-switch-when="networkInterfaces">{{_.keys(val).join(', ')}}</span>
                            <span ng-switch-default>{{val}}</span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
