<div ng-controller="NodesListCtrl">
    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid">

        <div class="clearfix">
            <h1 class="animated fadeInDown">
                <button class="btn btn-default pull-right" ng-click="nbNodes.add_nodes()">
                    Add Nodes
                </button> &nbsp;
                {{geo || 'All Nodes'}}
            </h1>
        </div>

        <br/>

        <div class="row">

            <div class="col-sm-6">

                <div class="table-responsive" ng-if="nodes.length">
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th>Node</th>
                            <th>Storage</th>
                            <th>Used</th>
                        </tr>
                        <tr ng-repeat="node in nodes" ng-click="click_node(node)">
                            <td>
                                <button class="btn btn-default btn-sm border-hover-only" nb-click-ladda="nbNodes.click_node_status(node)">
                                    <i class="fa {{node.is_online && 'fa-circle text-green' || 'fa-circle text-muted'}}"></i>
                                </button>
                            </td>
                            <td>{{node.name}}</td>
                            <td>{{human_size(node.allocated_storage)}}</td>
                            <td ng-init="node.used_storage=node.allocated_storage*0.90">
                                <div class="progress" style="margin: 0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{node.usage_percent}}" style="width: {{node.usage_percent}}%;">
                                        <small>{{node.usage_percent.toFixed(0)}}</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <nav ng-show="nodes_count > limit">
                    <ul class="pager">
                        <li class="previous" ng-class="{disabled: skip<=0}">
                            <a nb-click-ladda="previous_page()">&larr; Previous</a>
                        </li>
                        <li class="next" ng-class="{disabled: skip+limit>=nodes_count}">
                            <a nb-click-ladda="next_page()">Next &rarr;</a>
                        </li>
                        <li style="display:block">
                            <a class="text-muted" style="border:none">
                                <small>items {{skip+1}}-{{skip+limit}} of {{nodes_count}}</small>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>


            <div class="col-sm-6" style="overflow: hidden">
                <div class="relpos">
                    <div id="nodes_stats_map" class="img-responsive"></div>
                    <div ng-if="nbNodes.has_no_nodes" class="abscenter text-center" style="margin-top: -30px; margin-left: -50px">
                        <a class="btn btn-success btn-lg animated fadeInUp" ng-click="nbNodes.add_nodes()">
                        Add nodes
                    </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
