<div ng-controller="NodeDetailsCtrl">
    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid" ng-if="node">

        <div class="clearfix">
            <h1 class="animated fadeInDown">
                {{node_name}} @ {{node.geolocation}}
            </h1>
        </div>

        <br/>

        <p>
            <button class="btn btn-default btn-lg border-hover-only" nb-click-ladda="nbNodes.click_node_status(node)">
                <i class="fa fa-2x {{node.is_online && 'fa-circle text-green' || 'fa-circle text-muted'}}"></i>
            </button>
            {{node.ip}}:{{node.port}}
        </p>

        <p>
            <button class="btn btn-link btn-lg" ng-click="node.desired_status=!node.desired_status">
                <i class="fa fa-toggle-on fa-2x" ng-hide="node.desired_status"></i>
                <i class="fa fa-toggle-off fa-2x" ng-show="node.desired_status"></i>
            </button>
            Change state
        </p>

        <br/>

        <table class="table" style="max-width:400px; width:auto">
            <tr ng-repeat="(key,val) in node.system_info.os">
                <td>{{key}}</td>
                <td ng-switch="key">
                    <span ng-switch-when="freemem">{{human_size(val)}}</span>
                    <span ng-switch-when="totalmem">{{human_size(val)}}</span>
                    <span ng-switch-when="cpus">{{val.length}}</span>
                    <span ng-switch-when="loadavg">{{val[0].toFixed(2)}} {{val[1].toFixed(2)}} {{val[2].toFixed(2)}}</span>
                    <span ng-switch-when="networkInterfaces">{{_.keys(val).join(', ')}}</span>
                    <span ng-switch-default>{{val}}</span>
                </td>
            </tr>
        </table>

    </div>
</div>
