<div ng-controller="UploadCtrl">
    <div ng-include="'navbar.html'"></div>

    <div class="container-fluid">
        <div class="clearfix">
            <button class="btn btn-default" ng-click="nbFiles.refresh()" nb-ladda="nbFiles.refreshing">
                &nbsp;&nbsp;<i class="fa fa-repeat fa-fw fa-lg"></i>&nbsp;&nbsp;
            </button>
            <button class="btn btn-default" ng-click="nbFiles.create_bucket()" title="New Bucket" rel="tooltip">
                New Bucket
            </button>
        </div>
        <hr />
    </div>

    <div class="container">

        <form class="form-horizontal" role="form">

            <div class="form-group form-group-lg">
                <label class="col-sm-5 control-label">Choose file</label>
                <div class="col-xs-6 col-sm-4">
                    <div class="clearfix">
                        <button ng-if="!file" class="btn btn-default btn-lg btn-block" ng-click="click_browse()">
                            Browse...
                        </button>

                        <div ng-if="file" class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button  class="btn btn-default btn-lg pull-right" ng-click="click_browse()">
                                    <i class="fa fa-folder-open-o"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" readonly style="cursor:default" value="{{file.name}}">
                            <span class="input-group-addon">
                                <small><small>{{human_size(file.size)}}</small></small>
                            </span>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label class="col-sm-5 control-label">Select bucket</label>
                <div class="col-sm-4">
                    <div class="form-control">
                        <select ng-model="nbFiles.bucket" ng-options="bucket.name for bucket in nbFiles.buckets"></select>
                    </div>
                    <br/>
                </div>
            </div>


            <div class="form-group form-group-lg">
                <div class="col-sm-offset-5 col-xs-6 col-sm-4">
                    <button type="submit" nb-disabled="!nbFiles.bucket" ng-click="click_upload()" class="btn btn-primary btn-lg btn-block">
                        Start uploading
                    </button>
                </div>
            </div>
        </form>




        <div class="row" ng-if="bucket">

            <div class="col-sm-6 col-md-4">
                <img ng-src="{{object_src}}" ng-if="object_src" class="img-responsive" />
                <video controls autoplay ng-src="{{video_src}}" ng-if="video_src" class="img-responsive"></video>
                <!-- <object ng-src="{{object_src}}" ng-if="object_src" class="img-responsive"></object> -->
            </div>
        </div>

    </div>
</div>
