create-pool-wizard {
	.modal-content {
		width: 800px;
	}

	.state-col {
		min-width: 65px;
	}

	.name-col {
		width: 100%;
	}

	.ip-col {
		min-width: 105px;
	}

	.capacity-col {
		min-width: 68px;
	}

}