create-pool-wizard {
	.nodes-table{
		min-width: 25em; /* a workaround for width problem */
		height: 30em;
	}

	.state-col {
		min-width: 65px;
	}

	.name-col {
		width: 100%;
	}

	.ip-col {
		min-width: 105px;
	}

	.capacity-col {
		min-width: 68px;
	}

}