@keyframes expand-down {
    from {
        max-height: 0;
    }

    to {
        max-height: 100%;
    }
}

.main-layout  {
    position: relative;
    height: 100%;

    .sticky-wrapper {
        animation: expand-down 2500ms;
    }

    .sticky {
        line-height: 25px;
        padding: @gutter / 2 @gutter;
        background: @red-dark;
        color: @text-color1;

        svg-icon {
            margin-right: .25em;
        }

        vr {
            align-self: stretch;
            background-color: @text-color1;
            margin: 0 @gutter;
        }
    }
}
