<div class="main-layout column">
    <section class="sticky-wrapper">
        <maintenance-sticky></maintenance-sticky>
        <debug-mode-sticky></debug-mode-sticky>
        <phone-home-connectivity-sticky></phone-home-connectivity-sticky>
        <license-sticky></license-sticky>
    </section>

    <div class="content-wrapper column greedy" data-bind="
        css: { 'background-image': useBackground }
    ">
        <main-header class="push-next"></main-header>

        <div class="row greedy push-next">
            <main-nav></main-nav>

            <!-- ko if: panel -->
            <main class="column greedy bounded" data-bind="
                component: panel,
                css: panel
            "></main>
            <!-- /ko -->
        </div>


        <notification-box></notification-box>
        <drawer></drawer>
    </div>
</div>

<modal-manager></modal-manager>


