<div class="main-layout column" data-bind="css: { 'debug-outline': showDebugOutline }">
    <main-header class="push-next"></main-header>

    <!-- ko if: panel -->
    <main class="column greedy bounded push-next" data-bind="
        component: panel,
        css: panel
    "></main>
    <!-- /ko -->

    <notification-box></notification-box>
</div>

<drawer>
    <audit-pane></audit-pane>
</drawer>

<!-- ko if: isWelcomeModalVisible -->
<welcome-modal params="onClose: () => hideWelcomeModal()"></welcome-modal>
<!-- /ko -->

<!-- ko if: isAfterUpgradeModalVisible -->
<after-upgrade-modal params="onClose: () => hideAfterUpgradeModal()"></after-upgrade-modal>
<!-- /ko -->

<!-- ko if: isUpgradedCapacityNofiticationModalVisible -->
<upgraded-capacity-notification-modal params="
    onClose: () => hideUpgradedCapacityNofiticationModal()"
></upgraded-capacity-notification-modal>
<!-- /ko -->
