<div class="main-layout column">
    <section class="sticky-wrapper">
        <maintenance-sticky></maintenance-sticky>
        <debug-mode-sticky></debug-mode-sticky>
        <phone-home-connectivity-sticky></phone-home-connectivity-sticky>
        <license-sticky></license-sticky>
    </section>

    <div class="content-wrapper column greedy" data-bind="
        css: { 'background-image': useBackground }
    ">
        <main-header class="push-next"></main-header>

        <div class="row greedy push-next">
            <main-nav></main-nav>

            <!-- ko if: panel -->
            <main class="column greedy bounded" data-bind="
                component: panel,
                css: panel
            "></main>
            <!-- /ko -->
        </div>


        <notification-box></notification-box>

        <drawer>
            <audit-pane></audit-pane>
        </drawer>
    </div>
</div>

<!-- ko if: isWelcomeModalVisible -->
<welcome-modal params="onClose: () => hideWelcomeModal()"></welcome-modal>
<!-- /ko -->

<!-- ko if: isAfterUpgradeModalVisible -->
<after-upgrade-modal params="onClose: () => hideAfterUpgradeModal()"></after-upgrade-modal>
<!-- /ko -->

<!-- ko if: isUpgradedCapacityNofiticationModalVisible -->
<upgraded-capacity-notification-modal params="
    onClose: () => hideUpgradedCapacityNofiticationModal()"
></upgraded-capacity-notification-modal>
<!-- /ko -->
