<modal params="onClose: () => cancel()">
    <h1 class="heading2 push-next">
        Bucket Data Placement Policy
    </h1>

    <h2 class="heading3">Policy Type</h2>
    <ul class="list-no-style push-next">
        <li>
            <radio-btn  params="
                group: 'policy-type',
                value: 'SPREAD',
                selected: placementType,
                label: 'Spread'
            "></radio-btn>
            | Spreading the data across the chosen pools
        </li>

        <li>
            <radio-btn params="
                group: 'policy-type',
                value: 'MIRROR',
                selected: placementType,
                label: 'Mirror'
            "></radio-btn>
            | Full duplication of the data in each chosen pool
        </li>
    </ul>

    <section class="row content-middle">
        <h2 class="heading3 greedy">Pools in policy</h2>
        <div>
            <button class="link" data-bind="click: selectAllPools">Select all</button>
            |
            <button class="link" data-bind="click: clearAllPools">Clear</button>
        </div>
    </section>

    <div class="box">
        <data-table params="
            columns: columns,
            rowFactory: pool => newPoolRow(pool),
            data: pools
        "></data-table>
    </div>
    <p class="val-msg push-next" data-bind="
        validationMessage: selectedPools
    "></p>


    <div class="row align-end push-prev">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: save">Save</button>
    </div>
</modal>
