bucket-placement-policy-modal {
    radio-btn {
        display: inline-block;
    }

    .data-table {
        height: 210px;
    }

    .select-col {
        min-width: 45px;
    }

    .state-col {
        min-width: 70px;
    }

    .name-col {
        width: 100%;
    }

    .online-count-col {
        min-width: 200px;
    }

    .free-space-col {
        min-width: 130px;
    }
}
