<p class="push-next">
    You are about to delete <span data-bind="text: email"></span> which is the account you are logged with. After deleting this accout will automatically sign out and you be not unable to use this account again.
</p>

<p class="greedy push-next">
    Would you like to delete this account and sign out?
</p>

<div class="row content-middle align-end">
    <button class="link alt-colors push-next" data-bind="click: cancel">
        Cancel
    </button>

    <button class="btn" data-bind="click: del">
        Yes, Delete and Signout
    </button>
</div>
