node-parts-table {
    .column();

    .state-col {
        min-width: 4em;
    }

    .name-col {
        min-width: 7em;
        width: 100%;
    }

    .bucket-col {
        min-width: 8em;
        max-width: 8em;
    }

    .start-col,
    .end-col {
        min-width: 9em;
    }

    .size-col {
        min-width: 10em;
    }
}
