accounts-table {
    .column();

    .name-col {
        width: 100%;
        text-align: left;
    }

    .role-col {
        min-width: 82px;
    }

    .s3-access-col {
        min-width: 122px;
    }

    .delete-col {
        min-width: 50px;
    }

}

