accounts-table {
    display: block;
    position: relative;
    height: 100%;
    
    .data-table {
        .fill();
        top: 5em;
    }

    .user-col {
        width: 100%;

        svg-icon {
            margin-right: .5em;
        }
    }

    .role-col {
        min-width: 5em;
    }

    .status-col {
        min-width: 5em;
    }

    .password-col {
        min-width: 6em;
    }

    .delete-col {
        min-width: 6em;
    }    

    .delete-btn {
        padding: 0;
    }
}