accounts-table {
    .column();

    .email-col {
        width: 100%;
        text-align: left;

        svg-icon {
            margin-right: .5em;
        }
    }

    .role-col {
        min-width: 5em;
    }

    .s3-access-col {
        min-width: 8em;
    }

    .password-col {
        min-width: 6em;
    }

    .delete-col {
        min-width: 50px;
    }

}

