recent-file-uploading-modal {
    bar {
        height: 4px;
        width: 120px;

    }

    data-table {
        height: 100%;

        .file-name-col {
            text-align: left;
            width: 100%;
        }

        .bucket-name-col {
            min-width: 6em;
        }

        .size-col {
            min-width: 4em;
        }

        .progress-col {
            min-width: 6em;
        }
    }

    .summary {
        padding: 0 @gutter;
        line-height: 24px;
        height: 24px;

        svg-icon {
            margin-right: @gutter/2;
        }
    }
}
