recent-file-uploading-modal {
    data-table {
        height: 100%;

        .file-name-col {
            text-align: left;
            width: 100%;
        }

        .bucket-name-col {
            min-width: 6em;
        }

        .size-col {
            min-width: 4em;
        }

        .progress-col {
            min-width: 6em;
        }
    }
}
