<!-- <div data-bind="
    css: { active: isActive },
    tooltip: { text: tooltip, align: 'right' }
">
    <span class="message-wrapper">
        <span class="row message-text">
            <span class="push-next" data-bind="text: question"></span>

            <a class="link" href data-bind="click: confirm">YES</a>
            /
            <a class="link" href data-bind="click: cancel">NO</a>
        </span>
    </span> -->

    <button class="btn-flat no-outline" data-bind="
        disable: disabled,
        click: activate
    ">
        <svg-icon params="name: icon"></svg-icon>
    </button>
<!-- </div> -->
