radio-group {
    display: block;

    .inline {
        display: inline-block;

        + .inline {
            margin-left: 1em;
        }
    }
    
    .block {
        display: block;
        margin: .5em 0;
    }
}