<server-summary class="push-next"></pool-summary>

<div class="tabs greedy">
    <nav>
        <a class="selected" data-bind="
            href: tabHref('details'),
            css: tabCss('details')
        ">
            Services &amp; Infromation
        </a>
        <a class="selected" data-bind="
            href: tabHref('diagnostics'),
            css: tabCss('diagnostics')
        ">
            Connectivity &amp; Diagnostics
        </a>
    </nav>

    <div class="tabs-row" data-bind="css: tabCss('details')">
        This is the details tab
    </div>
    <div class="tabs-row" data-bind="css: tabCss('diagnostics')">
        This is the diagnostics tab
    </div>
</div>
