<section class="column push-next">
    <div class="row pad alt-bg content-middle">
        <h3 class="greedy heading3">Diagnostics</h3>

        <div class="push-next" data-bind="tooltip: actionsTooltip">
            <button class="btn" data-bind="
                disable: areActionsDisabled,
                click: toggleDebugMode,
                text: toggleDebugModeButtonText
            "></button>
        </div>

        <div data-bind="tooltip: actionsTooltip">
            <working-button params="
                working: isCollectingDiagnostics,
                workingLabel: 'Collecting Data...',
                click: downloadDiagnosticPack,
                disabled: areActionsDisabled
            ">
                Download Diagnostics
            </working-button>
        </div>
    </div>
    <property-sheet class="pad" params="properties: debugModeSheet"></property-sheet>
</section>

<section class="column push-prev">
    <div class="row pad alt-bg content-middle">
        <h3 class="greedy heading3">Node's connectivity</h3>
        <div data-bind="tooltip: actionsTooltip">
            <button class="btn" data-bind="
                disable: areActionsDisabled,
                click: showTestNodeModal
            ">
                Run Test
            </button>
        </div>
    </div>

    <p class="pad">Testing a node allows you the verify peer to peer connectivity &amp; bandwidth between this node and several of its peers</p>
</section>

<!-- ko if: isTestNodeModalVisible -->
<test-node-modal params="
    nodeName: nodeName,
    sourceRpcAddress: rpcAddress,
    onClose: () => hideTestNodeModal()
"></test-node-modal>
<!-- /ko -->
