<section class="column">
    <div class="row">
        <h3 class="heading3 greedy push-next">Diagnostics</h3>

        <div class="push-next" data-bind="tooltip: actionsTooltip">
            <button class="btn3" data-bind="
                disable: areActionsDisabled,
                click: toggleDebugLevel,
                text: toggleDebugLevelButtonText
            "></button>
        </div>

        <div data-bind="tooltip: actionsTooltip">
            <button class="btn3" data-bind="
                disable: areActionsDisabled,
                click: downloadDiagnosticPack
            ">
                Download Diagnostics
            </button>
        </div>
    </div>
    <div>
        Debug Level:
        <span class="emphasized" data-bind="text: debugLevelText"></span>
        <span data-bind="visible: debugLevel() > 0" class="warning">
            (May cause agent slowdown)
        </span>
    </div>
</section>

<hr />

<section class="column">
    <div class="row content-middle">
        <h3 class="heading3 greedy push-next">Node's connectivity</h3>

        <div data-bind="tooltip: actionsTooltip">
            <button class="btn3" data-bind="
                disable: areActionsDisabled,
                click: showTestNodeModal
            ">
                Run Test
            </button>
        </div>
    </div>
    <span class="row">
        <p>Testing a node allows you the verify peer to peer connectivity &amp; bandwidth between this node and several of its peers</p>
    </span>
</section>

<!-- ko if: isTestNodeModalVisible -->
<test-node-modal params="
    sourceRpcAddress: rpcAddress,
    onClose: () => hideTestNodeModal()
"></test-node-modal>
<!-- /ko -->
