checkbox {
    @size: 18px;
    line-height: 40px;
    position: relative;
    display: inline-block;

    label {
        display: block;
        white-space: nowrap;
        line-height: @size;
        height: @size;
        cursor: default;
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked  ~ .checkbox-box {
            background-position: -@size 0;
        }

        &:disabled {
            opacity: 0;

            ~ .checkbox-box {
                background-position: -2 * @size 0;
            }

            &:checked ~ .checkbox-box {
                background-position: -3 * @size 0;
            }

            ~ .checkbox-label {
                opacity: .3;
                color: @color7;
            }

            ~ .checkbox-box, ~ .checkbox-label {
                cursor: default;
             }
        }

        &:focus + .checkbox-box{
            .focused(-2px);
        }
    }

    .checkbox-label {
        color: @color6;
        font-weight: @font-light;
        margin-left: 8px;
    }

    .checkbox-box {
        display: block;
        float: left;
        width: @size;
        height: @size;
        background-image: url('@{assets}/checkbox.png');
    }

    .checkbox-box, .checkbox-label {
        cursor: @cursor-pointer;
     }
}
