<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Create Account</h3>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="on" style="padding: 0 30px">

                    <!-- fake fields to cheat chrome autofill -->
                        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
                        <input type="email" name="email_fake" id="email_fake" value="" style="display:none;" />
                        <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />
                    <!-- end of fake fields -->
                    <div ng-if="nbClient.account.is_support||register" class="form-control-wrapper" style="margin: 40px 0">
                        <input class="form-control floating-label" type="text" id="input_name" placeholder="NAME" autofocus="nbClient.account.is_support||register" required ng-model="$parent.system_name" ng-change="update_email_message();" ng-disabled="form_disabled"/>
                    </div>
                    <div class="form-control-wrapper" style="margin: 40px 0">
                        <input class="form-control floating-label"  autocomplete="off" type="email" id="input_email" placeholder="EMAIL" required ng-model="email"  autofocus="!(nbClient.account.is_support||register)" ng-change="update_email_message();" ng-disabled="form_disabled" />
                    </div>

                    <div class="form-control-wrapper" style="margin: 40px 0">
                        <input class="form-control floating-label" autocomplete="off" type="password" id="input_password" placeholder="PASSWORD" required ng-model="password" ng-change="update_email_message();" ng-disabled="form_disabled" />
                    </div>
                    <div ng-if="!nbClient.account.is_support && !register">
                        Copy the following text and send it to the user
                        <pre style="font-size: 11px; color: hsl(0,0%,50%)"  class="block" nb-clipboard="$parent.email_message" rel="tooltip" title="Click to copy to clipboard" data-placement="bottom">{{$parent.email_message}}</pre>
                    </div>
                    <div class="form-control-wrapper text-center">
                        <button type="submit" class="btn btn-primary" ng-disabled="form_disabled" nb-click-ladda="create()">
                            Done
                        </button>
                    </div>
                    <div class="form-control-wrapper alert {{alert_class || 'alert-warning'}}" role="alert" ng-show="alert_text">
                        <button type="button" class="close" ng-click="alert_text=''">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{alert_text}}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
