<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add Node</h3>
            </div>

            <div class="modal-body">

                <div style="margin: 80px 60px 40px 60px" class="clearfix">
                    <div style="border-top: 1px solid #999999; width: 16.6666%" class="pull-left text-left">
                        <div style="margin-top: -30px; margin-left: -30px">
                            <i class="fa fa-circle fa-4x {{stage!=1 && 'text-muted' || ''}}" ng-click="stage=1"></i>
                            <br/>&nbsp; DNS
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999999; width: 33.3333%" class="pull-left text-center">
                        <div style="margin-top: -30px">
                            <i class="fa fa-circle fa-4x {{stage!=2 && 'text-muted' || ''}}" ng-click="stage=2"></i>
                            <br/> Download
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999999; width: 33.3333%" class="pull-left text-center">
                        <div style="margin-top: -30px">
                            <i class="fa fa-circle fa-4x {{stage!=3 && 'text-muted' || ''}}" ng-click="stage=3"></i>
                            <br/> Run
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999999; width: 16.6666%" class="pull-left text-right">
                        <div style="margin-top: -30px; margin-right: -30px">
                            <i class="fa fa-circle fa-4x {{stage!=4 && 'text-muted' || ''}}" ng-click="stage=4"></i>
                            <br/> Review &nbsp;
                        </div>
                    </div>
                </div>

                <div style="min-height: 200px; padding: 20px">
                    <div ng-if="stage==1">
                        <p class="text-center">
                            <b>Configure the following entry in your DNS</b>
                            <br/> in order for the nodes to connect to the NooBaa server:
                        </p>
                        <pre style="margin-top: 20px; max-width: 380px" class="center-block">{{$location.host()}} <b>noobaa.local</b></pre>
                        <div class="text-center" style="margin-top: 20px">
                            ** this server IP should be available on the network
                        </div>
                    </div>
                    <div ng-if="stage==2">
                        <p class="text-center">
                            <b>Download the agent installer</b>
                        </p>
                        <div class="text-center" style="margin-top: 20px">
                            <button class="btn btn-primary btn-lg" style="width: 30%;padding: 10px" nb-click-ladda="download_agent();">
                                Windows
                            </button>
                            <button class="btn btn-primary btn-lg" style="width: 30%;margin-left: 100px;padding: 10px" nb-click-ladda="download_linux_agent();">
                                Linux
                            </button>
                        </div>

                        <div class="text-center" style="margin-top: 10px">
                            ** See next step for running instructions
                        </div>
                    </div>
                    <div ng-if="stage==3">
                        <p class="text-center">
                            <b>Distribute and run the agent installer on the nodes
                            <br/> you wish to participate in the network</b>
                        </p>
                        <p class="text-left" style="margin-top: 20px">
                            ** Use the following arguments for silent install to this system:
                        </p>
                        <select class="form-control" ng-model="encoding.type" required ng-options='option.value as option.name for option in typeOptions' ng-change="dns_select(encoding.type)">
                        </select>
                        <br>
                        <br>
                        <span ng-show="encoding.show_other_dns" >
                            <div class="form-group">
                                <input type="text" class="form-control floating-label" style="margin-top: -2px; border-bottom: none" placeholder="enter other DNS name" ng-model="encoding.new_dns" ng-change="new_dns()" ng-model-options="{debounce: 700}" />
                            </div>
                        </span>

                        <pre style="font-size: 11px; color: hsl(0,0%,50%)" class="block" nb-clipboard="'/S /config ' + encoding.type" rel="tooltip" title="Click to copy to clipboard" data-placement="bottom"><b>/S /config</b> {{ encoding.type }}</pre>
                        <button class="btn btn-default" style="width: 30%;padding: 10px" nb-clipboard="'/S /config ' + encoding.type">
                            Copy To Clipboard
                        </button>
                    </div>

                    <div ng-if="stage==4">
                        <p class="text-center">
                            <b>Review the new nodes</b>
                        </p>
                        <div class="text-center" style="margin-top: 20px">
                            <a ng-click="goto_nodes_list()">
                                <h4>Go to Nodes List</h4>
                            </a>
                        </div>
                        <p class="text-center" style="margin-top: 20px">
                            ** New nodes will show up in the list once they are connected
                        </p>
                    </div>
                </div>

                <div style="padding: 30px" class="text-right">
                    <button class="btn btn-default" ng-click="prev_stage()" ng-show="stage>1">
                        Previous
                    </button>
                    <button class="btn {{stage>=4 && 'btn-success' || 'btn-primary'}}" ng-click="next_stage()">
                        {{stage>=4 && 'Done' || 'Next'}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
