<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="padding: 20px;">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add New Bucket</h3>
            </div>

            <div class="modal-body">

                <div style="min-height: 200px; padding: 20px">
                    <p class="text-left">
                        Bucket names can contain lowercase letters, numbers, and hyphens.
                        <br> Each label must start and end with a lowercase letter or a number.
                    </p>
                    <div class="form-group">
                        <input autofocus type="text" class="form-control floating-label" style="margin-top: -2px; border-bottom: none;text-transform: lowercase;" placeholder="Enter bucket name" ng-model="new_bucket_name" ng-model-options="{debounce: 700}" />
                        <p class="hints text-muted">3 - 63 characters</p>

                        <span ng-show="has_error">
                            {{error_message}}
                        </span>
                    </div>
                </div>

                <div style="padding: 30px" class="text-right">
                    <button class="btn btn-primary text-left" ng-click="done()">
                        Done
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
