<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add Node</h3>
            </div>

            <div class="modal-body">

                <div style="padding: 80px">
                    <div style="border-top: 1px solid #999999; width: 33.33%" class="pull-left text-left">
                        <div style="margin: -30px 0 0 -30px">
                            <i class="fa fa-circle fa-4x {{stage!=1 && 'text-muted' || ''}}"></i>
                            <br/> Download
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999999; width: 33.33%" class="pull-left text-center">
                        <div style="margin: -30px 0 0 0">
                            <i class="fa fa-circle fa-4x {{stage!=2 && 'text-muted' || ''}}"></i>
                            <br/> Run
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999999; width: 33.33%" class="pull-left text-right">
                        <div style="margin: -30px -30px 0 0">
                            <i class="fa fa-circle fa-4x {{stage!=3 && 'text-muted' || ''}}"></i>
                            <br/> Review
                        </div>
                    </div>
                </div>

                <div style="min-height: 200px">
                    <div style="padding: 30px" class="text-center" ng-if="stage==1">
                        <b>Download</b> the agent installer
                        <br/>
                        <button class="btn btn-primary btn-lg" style="padding: 20px" nb-click-ladda="download_agent();">
                            Download
                        </button>
                    </div>
                    <div style="padding: 30px" class="text-center" ng-if="stage==2">
                        <b>Distribute and run</b> the agent on the nodes you wish to participate in the network
                    </div>
                    <div style="padding: 30px" class="text-center" ng-if="stage==3">
                        Nodes successfully added to the system will be displayed in the <a ng-click="goto_nodes_list()">Nodes List</a>
                    </div>
                </div>

                <div style="padding: 30px" class="text-right">
                    <button class="btn btn-default" ng-click="prev_stage()" ng-show="stage>1">
                        Previous
                    </button>
                    <button class="btn {{stage>=3 && 'btn-success' || 'btn-primary'}}" ng-click="next_stage()">
                        {{stage>=3 && 'Done' || 'Next'}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
