<div class="row text-center">
    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 450px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right"
                    ng-click="bucket_router.set('files')">See
                    files</a>
            </div>
            <h3 style="margin-top: 40px"><b>BUCKET STATUS</b></h3>
            <div class="text-center" style="padding-top: 30px">
                <a class="btn btn-default" ng-click="bucket_router.set('files')">
                    <i class="fa fa-file" style="font-size: 100px"></i>
                    <h5 class="text-muted">
                        {{bucket.num_objects}}
                        files and folders
                    </h5>
                </a>
            </div>
            <div class="row" style="padding-top: 10px">
                <button class="btn btn-primary btn-raised" ng-click="upload()">Upload</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 450px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right"
                    ng-click="bucket_router.set('stats')" style="visibility: hidden">See
                    more</a>
            </div>
            <h3 style="margin-top: 40px"><b>BUCKET STORAGE</b></h3>
            <div nb-pie-chart="pie_chart" style="height: 250px"></div>
        </div>
    </div>
</div>
