<div ng-controller="BucketViewCtrl" ng-init="bucket_tab='stats'">
    <div class="container">

        <div class="Xpage-header">

            <h1 class="capitalize">
                <span class="text-muted">Bucket:</span>
                {{bucket.name}}
            </h1>

            <ol class="breadcrumb capitalize" style="margin: 30px 0">
                <li>
                    <a href="/console/">Home</a>
                </li>
                <li>
                    <a href="/console/bucket/">Buckets List</a>
                </li>
                <li class="active">{{bucket.name}}</li>
            </ol>

        </div>

        <table class="table table-minimal-borders table-center">
            <tr class="text-center">
                <th>Bucket Status</th>
                <th>Files</th>
                <th>Net Storage</th>
            </tr>
            <tr>
                <td><i class="fa fa-check fa-lg"></i> Healthy</td>
                <td>{{bucket.num_objects}}</td>
                <td>{{human_size(bucket.storage.used)}} of {{human_size(bucket.storage.alloc)}}</td>
            </tr>
        </table>


        <div class="well" ng-switch="bucket_tab" style="margin: 30px 0 0 0">

            <ul class="nav nav-pills" style="margin: 0 0 15px 0">
                <li ng-class="{active: bucket_tab=='stats'}">
                    <a ng-click="bucket_tab='stats'">Statistics</a>
                </li>
                <li ng-class="{active: bucket_tab=='tiering'}">
                    <a ng-click="bucket_tab='tiering'">Tiering</a>
                </li>
                <li ng-class="{active: bucket_tab=='settings'}">
                    <a ng-click="bucket_tab='settings'">Settings</a>
                </li>
                <li ng-class="{active:bucket_tab=='files'}">
                    <a ng-click="bucket_tab='files'">Files</a>
                </li>
                <li ng-class="{active: bucket_tab=='bucket_link'}">
                    <a ng-click="bucket_tab='bucket_link'">Bucket Link</a>
                </li>
            </ul>

            <div ng-switch-when="stats">
                <i>placeholder for statistics ...</i>
            </div>

            <div ng-switch-when="tiering">
                <i>placeholder for tiering ...</i>
                <h5 ng-repeat="tier in bucket.tiering">
                    {{tier}}
                </h5>
            </div>

            <div ng-switch-when="settings">
                <table class="table table-no-borders" style="width: auto">
                    <tr>
                        <th>Bucket Name:</th>
                        <td class="capitalize">{{bucket.name}}</td>
                        <td style="padding:2px">
                            <button style="margin:0" class="btn btn-primary btn-flat btn-sm">Change</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-switch-when="files">
                <input type="text" class="form-control floating-label" placeholder="Search File" ng-model="files_query.search" ng-model-options="{debounce: 700}" ng-change="refresh_files()" />
                <div class="table-responsive">
                    <table class="table" ng-init="refresh_files()">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Content Type</th>
                            <th>Created</th>
                            <!-- <th>Last Accessed</th> -->
                        </tr>
                        <tr ng-repeat="file in files">
                            <td class="checkbox noselect" style="width: 1px; padding: 4px">
                                <label>
                                    <input type="checkbox" />
                                </label>
                            </td>
                            <td class="table-btn text-left">
                                <a ng-href="bucket/{{bucket.name}}/{{file.name}}" class="btn btn-primary btn-flat btn-block capitalize">
                                    {{file.name}}
                                </a>
                            </td>
                            <td>{{human_size(file.size)}}</td>
                            <td>{{file.content_type}}</td>
                            <td ng-attr-title="{{file.create_time.format('LLL')}}">
                                {{file.create_time.fromNow()}}
                            </td>
                            <!-- <td>{{file.access_time}}</td> -->
                        </tr>
                    </table>
                </div>
                <nav class="noselect">
                    <ul class="pagination">
                        <li>
                            <a nb-click-ladda="goto_files_page(files_active_page-1)">&laquo;</a>
                        </li>
                        <li ng-repeat="page in files_pages" ng-class="{active:page==files_active_page}">
                            <a nb-click-ladda="goto_files_page(page)">{{page}}</a>
                        </li>
                        <li>
                            <a nb-click-ladda="goto_files_page(files_active_page+1)">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div ng-switch-when="bucket_link">
                <i>placeholder for bucket link ...</i>
            </div>

        </div>

    </div>
</div>
