<div ng-cloak class="row">

    <div class="well well-sm clearfix" style="height: 70px">

            <button class="btn btn-primary btn-raised" ng-click="rest_server_information()">S3 REST Details<div class="ripple-wrapper"></div></button>

    </div>

    <div class="heading-col col-sm-3">

        <h4 class="Xtext-primary">
            Files in this repository
        </h4>
        <p class="text-muted">
            Click on a file name to get more information.
        <br>

        </p>
    </div>


    <div class="content-col col-sm-9">
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-no-borders">
                <tr>
                    <!-- <th></th> -->
                    <th>
                        <div class="form-group">
                            <input type="text" class="form-control floating-label" style="margin-top: -2px; border-bottom: none" placeholder="File Name (click to search)" ng-model="files_query.search" ng-model-options="{debounce: 700}" ng-change="bucket_router.set_query('search',files_query.search)"
                            />
                        </div>
                    </th>
                    <th>Size</th>
                    <th>Content Type</th>
                    <th>Created</th>
                    <!-- <th>Last Accessed</th> -->
                </tr>
                <tr ng-repeat="file in files">
                    <!-- <td class="checkbox noselect" style="width: 1px; padding: 4px">
                    <label>
                        <input type="checkbox" />
                    </label>
                </td> -->
                    <td class="table-btn text-left" style="max-width: 60%; text-overflow: ellipsis; overflow: hidden; display: block">
                        <a ng-href="bucket/{{bucket.name}}/{{file.name}}" class="btn btn-link btn-block" style="text-transform: none">
                            <i class="fa fa-file-o fa-lg fa-fw text-muted"></i>
                            <span class="text-primary">{{file.name}}</span>
                        </a>
                    </td>
                    <td style="white-space: nowrap">{{human_size(file.size)}}</td>
                    <td style="white-space: nowrap; max-width: 100px; text-overflow: ellipsis; overflow: hidden; display: block">
                        {{file.content_type}}
                    </td>
                    <td style="white-space: nowrap">
                        <span ng-attr-title="{{file.create_time.format('LLL')}}" rel="tooltip">
                            <span ng-if="_.isNumber(file.upload_size)" class="text-info">
                                uploading {{human_percent(file.upload_size/file.size)}}%
                            </span>
                            <span ng-if="!_.isNumber(file.upload_size)">
                                {{file.create_time.fromNow()}}
                            </span>
                        </span>
                    </td>
                    <!-- <td>{{file.access_time}}</td> -->
                </tr>
            </table>
        </div>

        <nav class="noselect">
            <ul class="pagination">
                <li>
                    <a nb-click-ladda="bucket_router.set_page(files_query.page-1)">&laquo;</a>
                </li>
                <li ng-repeat="page in files_pages" ng-class="{active: page==files_query.page}">
                    <a nb-click-ladda="bucket_router.set_page(page)">{{page+1}}</a>
                </li>
                <li>
                    <a nb-click-ladda="bucket_router.set_page(files_query.page+1)">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>

</div>
