<form id="config_dns">
    <div class="well">
        <p>Choose DNS Name or IP Address for Nodes connectivity to NooBaa server:</p>

        <label class="radio-inline">
            <input type="radio" name="dns_type" ng-model="dns_form.dns_type" value="dns" />DNS Name &nbsp;
        </label>
        <label class="radio-inline">
            <input type="radio" name="dns_type" ng-model="dns_form.dns_type" value="ip" />IP Address &nbsp;
        </label>
        <div style="margin-top: 10px">
            <div class="form-control-wrapper" ng-show="dns_form.dns_type=='dns'">
                <input type="text" class="form-control floating-label" ng-model="dns_form.dns_name" required />
            </div>
            <div class="form-control-wrapper" ng-show="dns_form.dns_type=='ip'">
                <input type="text" class="form-control floating-label" ng-model="dns_form.ip_address" required disabled />
            </div>
        </div>

        <div ng-show="dns_form.dns_type=='dns'" style="margin-top: 20px">
            <p><i class="fa fa-exclamation-triangle fa-fw"></i>
                <i>Before you apply, add the following entry to your DNS:</i></p>
            <div class="well well-light well-sm">
                <table class="table table-no-borders table-condensed font-monospace" style="margin: 0">
                    <tr>
                        <th class="compact">IP:</th>
                        <td class="compact">{{dns_form.ip_address}}</td>
                        <th class="compact">Name:</th>
                        <td class="compact">{{dns_form.dns_name}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" nb-click-ladda="apply_dns_config()">Apply</button>
        </div>

        <div ng-switch="dns_form.state">
            <span ng-switch-when="error">
                <i class="fa fa-fw fa-warning text-warning"></i> {{dns_form.error}} ...
            </span>
            <span ng-switch-when="saving">
                <i class="fa fa-fw fa-spinner fa-spin text-muted"></i> Saving changes ...
            </span>
            <span ng-switch-when="saved">
                <i class="fa fa-fw fa-check text-success"></i> Changes have been saved.
                <br/>
                <i class="fa fa-fw {{dns_form.reply.nodes_updated<dns_form.reply.nodes_count && 'fa-warning text-warning' || 'fa-check text-success'}}"></i> {{dns_form.reply.nodes_updated}}/{{dns_form.reply.nodes_count}} nodes have been updated.

            </span>
        </div>
    </div>

    <br/>

    <div>
        <ul>
            <li>It is recommended to use a DNS name rather than IP address.</li>
            <li>When using IP address - make sure that the server IP was configured Static and not DHCP, otherwise if the IP will suddenly change the nodes will loose connectivity.</li>
            <li>Changing DNS name procedure:
                <ol>
                    <li>add the new name in your DNS to have both old and new names available</li>
                    <li>apply the change here in the form above</li>
                    <li>once all nodes are updated with the new name, the old name can be removed from the DNS.</li>
                </ol>
            </li>
            <li>In any case, reinstalling a node (from the add node wizard) will update the server address used by that node.</li>
        </ul>
    </div>

</form>
