<div ng-controller="FileViewCtrl" style="padding-bottom: 100px">

    <div class="page-header">

        <ol class="breadcrumb capitalize">
            <li>
                <a href="/console/">System</a>
            </li>
            <li>
                <a href="/console/data/">Data</a>
            </li>
            <li>
                <a ng-href="/console/bucket/{{bucket.name}}">{{bucket.name}}</a>
            </li>
            <li class="active">{{file.name}}</li>
        </ol>

        <h1 class="text-center" style="word-break: break-all; text-overflow: ellipsis; overflow: hidden">
            <i class="fa fa-file fa-lg fa-fw text-primary"></i> {{file.name}}
        </h1>

        <table class="table table-no-borders table-properties">
            <tr>
                <td colspan="2" style="text-align: center">
                    &nbsp; File Object
                    <i class="fa fa-info-circle fa-fw text-muted" rel="tooltip" title="A file object is a file content stored on the system" data-placement="bottom"></i>
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>Healthy <i class="fa fa-check fa-lg"></i>
                </td>
            </tr>
            <tr>
                <th>Bucket</th>
                <td>{{bucket.name}}</td>
            </tr>
            <tr>
                <th>Content Type</th>
                <td>{{file.content_type}}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{human_size(file.size)}}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td ng-attr-title="{{file.create_time.format('LLL')}}">
                    {{file.create_time.fromNow()}}
                </td>
            </tr>
        </table>
    </div>

    <ul class="nav nav-tabs">
        <li ng-class="{active:file_router.route=='parts'}">
            <a ng-click="file_router.set('parts')">Parts List</a>
        </li>
        <li ng-class="{active: file_router.route=='properties'}">
            <a ng-click="file_router.set('properties')">Properties</a>
        </li>
        <li ng-class="{active: file_router.route=='stats'}">
            <a ng-click="file_router.set('stats')">Statistics</a>
        </li>
        <li ng-class="{active: file_router.route=='settings'}">
            <a ng-click="file_router.set('settings')">Settings</a>
        </li>
        <li ng-class="{active: file_router.route=='link'}">
            <a ng-click="file_router.set('link')">Link</a>
        </li>
    </ul>

    <div nb-hash-router-view="file_router"></div>

    <div class="text-right" style="position: fixed; bottom: 15px; right: 15px; z-index: 10">
        <button class="btn btn-material-teal btn-fab mdi-av-play-arrow pull-right" ng-click="play()"></button>
        <button class="btn btn-material-lime btn-fab mdi-file-file-download pull-right" ng-click="download()" style="margin-right: 15px"></button>

    </div>

</div>
