<div ng-controller="FileViewCtrl" style="padding-bottom: 100px">

    <div class="page-header">

        <ol class="breadcrumb capitalize">
            <li>
                <a href="/console/">System</a>
            </li>
            <li>
                <a href="/console/data/">Data</a>
            </li>
            <li>
                <a ng-href="/console/bucket/{{bucket.name}}">{{bucket.name}}</a>
            </li>
            <li class="active">{{file.name}}</li>
        </ol>

        <div class="clearfix"></div>

        <h1 class="text-center" style="word-break: break-all; text-overflow: ellipsis; overflow: hidden">
            <i class="fa fa-file fa-lg fa-fw text-primary"></i> {{file.name}}
        </h1>

        <p class="text-center text-muted" style="padding-left: 8px">
            <small>
                <i>File Object</i> &nbsp;
                <i class="fa fa-info-circle fa-fw text-muted" rel="tooltip" title="A file object is a file content stored on the system" data-placement="bottom"></i>
            </small>
        </p>

        <table class="table table-properties">
            <tr>
                <td></td>
                <th>Status</th>
                <td>Healthy <i class="fa fa-check fa-lg"></i>
                </td>
                <th>Bucket</th>
                <td>{{bucket.name}}</td>
                <th>Content Type</th>
                <td>{{file.content_type}}</td>
                <th>Size</th>
                <td>{{human_size(file.size)}}</td>
                <th>Created</th>
                <td ng-attr-title="{{file.create_time.format('LLL')}}">
                    {{file.create_time.fromNow()}}
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <ul class="nav nav-tabs">
        <li ng-class="{active:file_router.route=='parts'}">
            <a ng-click="file_router.set('parts')">Parts List</a>
        </li>
        <!-- <li ng-class="{active: file_router.route=='settings'}">
            <a ng-click="file_router.set('settings')">Settings</a>
        </li> -->
        <!-- <li ng-class="{active: file_router.route=='properties'}">
            <a ng-click="file_router.set('properties')">Properties</a>
        </li> -->
        <!-- <li ng-class="{active: file_router.route=='stats'}">
            <a ng-click="file_router.set('stats')">Statistics</a>
        </li> -->
        <!-- <li ng-class="{active: file_router.route=='link'}">
            <a ng-click="file_router.set('link')">Link</a>
        </li> -->
    </ul>

    <div nb-hash-router-view="file_router"></div>

    <div class="text-right" style="position: fixed; bottom: 15px; right: 15px; z-index: 10">

        <button class="btn btn-primary btn-material-teal btn-fab mdi-av-play-arrow pull-right" ng-click="play()" rel="tooltip" title="Open file content for streaming / preview..." data-placement="top"></button>

        <div class="pull-right" style="margin-right: 15px">

            <div ng-if="!dl">
                <button ng-if="!dl" class="btn btn-warning btn-fab mdi-file-file-download" ng-click="download()" rel="tooltip" title="Click to start downloading..." data-placement="top"></button>
            </div>

            <div ng-if="dl && !dl.done" class="Xdropdown dropup">
                <button class="btn btn-primary btn-fab dropdown-toggle" data-toggle="dropdown">
                    <span style="font-size: 14px; line-height: 36px">{{dl.progress.toFixed(0)}}%</span>
                    </span>
                </button>
                <ul class="dropdown-menu pull-right well" style="Xpadding: 15px; width: auto">
                    <li>{{dl.name}}</li>
                    <li>{{human_size(dl.size)}} {{dl.content_type}}</li>
                    <li>
                        <div class="progress" style="margin: 7px 0 0 0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{dl.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{dl.progress}}%; Xbackground-color: black">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div ng-if="dl && dl.done">
                <a class="btn btn-success btn-fab mdi-content-save animated bounce" ng-href="{{dl.url}}" ng-attr-download="{{file.name}}" rel="tooltip" title="Click to save the downloaded file..." data-placement="top"></a>
            </div>

        </div>

    </div>

</div>
