<div ng-cloak class="row">

    <div class="heading-col col-sm-3">
        <h4 class="Xtext-primary">
            Storage locations of file parts
        </h4>
        <p class="text-muted">
            Click on a part to go to the storage device.
        </p>
    </div>

    <div class="content-col col-sm-9">

        <div ng-repeat="part in parts">
            <div ng-repeat="fragment in part.chunk.frags">
                <div class="clearfix" style="border-top: 1px solid hsl(0,0%,85%); padding: 10px 0">
                    <div class="pull-left text-center" style="padding: 5px 20px 5px 0">
                        <span class="badge" rel="tooltip" ng-attr-title="Offset {{human_size(fragment.start)}}" data-placement="bottom" data-container="body">
                            {{human_size(fragment.size)}}
                        </span>
                    </div>
                    <div class="pull-right text-center" style="padding: 5px 0 5px 20px">
                        <!-- <span class="badge">#{{(parts_query.page*parts_page_size) + $index + 1}}</span> -->
                        <span class="capitalize health-{{part.chunk.adminfo.health}}">
                            {{part.chunk.adminfo.health}}
                        </span>
                    </div>
                    <div class="hflow clearfix" style="border-left: 1px solid hsl(0,0%,85%); border-right: 1px solid hsl(0,0%,85%); margin: 5px 0">
                        <span ng-repeat="block in fragment.blocks">
                            <div ng-if="!($index % 3)"></div>
                            <a class="btn-sm" style="white-space: nowrap" ng-click="nbNodes.goto_node_by_block(block)" rel="tooltip" ng-attr-title="{{block.adminfo.node_name}}">
                                <i class="srvmode-{{block.adminfo.srvmode || 'none'}} block-online-{{!!block.adminfo.online}} block-building-{{!!block.adminfo.building}}">
                                </i>
                                <!-- {{block.address.addr.slice(7)}} -->
                                {{block.adminfo.node_ip}}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-muted" ng-if="!parts.length" style="padding: 40px 20px">
            - No Results -
        </h4>

        <nav class="noselect">
            <ul class="pagination">
                <li>
                    <a nb-click-ladda="file_router.set_page(parts_query.page-1)">&laquo;</a>
                </li>
                <li ng-repeat="page in parts_pages" ng-class="{active: page==parts_query.page}">
                    <a nb-click-ladda="file_router.set_page(page)">{{page+1}}</a>
                </li>
                <li>
                    <a nb-click-ladda="file_router.set_page(parts_query.page+1)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
