<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="visible-sm visible-md visible-lg">
                <a class="navbar-brand" style="margin-right: 40px" href="/console/">NooBaa</a>
            </div>
            <div class="visible-xs">
                <a class="navbar-brand navbar-toggle toggle-left" data-toggle="sidebar" data-target=".sidebar-left" style="margin:0; padding-left: 0">
                    <i class="fa fa-bars fa-fw"></i> NooBaa
                </a>
            </div>
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li ng-if="nav.refresh_view">
                    <a nb-click-ladda="nav.refresh_view()">
                        <i class="navbar-icon"></i>
                        <i class="fa fa-repeat fa-lg"></i>
                    </a>
                </li>
                <li ng-include="'console/user_menu.html'" class="dropdown" ng-if="nbClient.account"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle navbar-icon" data-toggle="dropdown">
                        <i class="fa fa-pie-chart fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li style="padding: 30px 15px">
                            <i>placeholder for statistics</i>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle navbar-icon" data-toggle="dropdown">
                        <i class="fa fa-bell fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li style="padding: 30px 15px">
                            <span class="text-muted">No new messages</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text">
                Health: <i class="fa fa-check fa-lg"></i>
            </p>
        </div>

        <div class="visible-sm visible-md visible-lg">
            <ul class="nav navbar-nav">
                <li ng-repeat="key in nav.order" ng-init="item=nav.items[key]" ng-class="{active: nav.active==key, dropdown: item.dropdown}" ng-include="'console/navbar_item.html'"></li>
            </ul>
        </div>
        <div class="visible-xs">
            <div class="col-xs-7 col-sm-4 col-md-3 col-lg-2 sidebar sidebar-left sidebar-animate Xsidebar-sm-show">
                <ul class="nav navbar-nav nav-pills nav-stacked">
                    <li ng-repeat="key in nav.order" ng-init="item=nav.items[key]" ng-class="{active:  nav.active==key, dropdown: item.dropdown}" ng-include="'console/navbar_item.html'"></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
