<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="visible-sm visible-md visible-lg">

            <div class="navbar-header" style="margin-right: 40px">
                <a class="navbar-brand" href="/console/">NooBaa</a>
            </div>

            <ul class="nav navbar-nav">
                <li ng-repeat="key in nav.order" ng-init="item=nav.items[key]; active=nav.active==key" ng-class="{active: active, dropdown: item.dropdown}" ng-include="'console/navbar_item.html'"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="nav.refresh_view">
                    <a nb-click-ladda="nav.refresh_view()">
                        <span style="visibility: hidden; width: 0; margin-right: -15px">
                            O
                            <!-- needed some text for navbar height align -->
                        </span>
                        <i class="fa fa-repeat fa-lg"></i>
                    </a>
                </li>
                <li ng-include="'console/user_menu.html'" class="dropdown" ng-if="nbClient.account"></li>
            </ul>
        </div>

        <div class="visible-xs">
            <div class="navbar-header">
                <a class="navbar-brand navbar-toggle toggle-left" data-toggle="sidebar" data-target=".sidebar-left" style="margin:0; padding-left: 0">
                    <i class="fa fa-bars fa-fw"></i> NooBaa
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="nav.refresh_view">
                    <a nb-click-ladda="nav.refresh_view()">
                        <span style="visibility: hidden; width: 0; margin-right: -15px">
                            O
                            <!-- needed some text for navbar height align -->
                        </span>
                        <i class="fa fa-repeat fa-lg"></i>
                    </a>
                </li>
                <li ng-include="'console/user_menu.html'" class="dropdown" ng-if="nbClient.account"></li>
            </ul>
            <div class="col-xs-7 col-sm-4 col-md-3 col-lg-2 sidebar sidebar-left sidebar-animate Xsidebar-sm-show">
                <ul class="nav navbar-nav nav-pills nav-stacked">
                    <li ng-repeat="key in nav.order" ng-init="item=nav.items[key]; active=nav.active==key" ng-class="{active: active, dropdown: item.dropdown}" ng-include="'console/navbar_item.html'"></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
