<div class="row text-center">

    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 475px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right" ng-click="node_router.set('parts')">See file parts list</a>
            </div>
            <div class="row" style="padding: 30px 0">
            <!--
                <div class="col-xs-6">
                    <p>
                        <i class="fa fa-heartbeat" style="font-size: 80px"></i>
                    </p>
                    <h5 class="text-muted">Healthy</h5>
                </div>
                <div class="col-xs-6">
                    <p>
                        <i class="mdi-action-verified-user" style="font-size: 80px"></i>
                    </p>
                    <h5 class="text-muted">Trusted</h5>
                </div>
            -->
            </div>
            <div class="row" style="padding: 30px 0">
                <div class="col-xs-12">
                    <div ng-switch="node.srvmode">
                        <div ng-switch-when="disabled">
                            <p>
                                <i class="fa fa-ban text-muted" style="font-size: 170px"></i>
                            </p>
                            <h5 class="text-muted">Disabled</h5>
                        </div>
                        <div ng-switch-when="decommissioning">
                            <p>
                                <i class="fa fa-flag text-info" style="font-size: 170px"></i>
                            </p>
                            <h5 class="text-muted">Decommissioning</h5>
                        </div>
                        <div ng-switch-when="decommissioned">
                            <p>
                                <i class="fa fa-flag-checkered text-muted" style="font-size: 170px"></i>
                            </p>
                            <h5 class="text-muted">Decommissioned</h5>
                        </div>
                        <div ng-switch-default>
                            <div ng-if="!node.online">
                                <p>
                                    <i class="fa fa-moon-o text-warning" style="font-size: 170px"></i>
                                </p>
                                <h5 class="text-muted">Offline</h5>
                            </div>
                            <div ng-if="node.online">
                                <p>
                                    <i class="fa fa-wifi text-success" style="font-size: 170px"></i>
                                </p>
                                <h5 class="text-muted">Connected</h5>
                            </div>
                        </div>
                    </div>
                    <p>
                        <button ng-if="node.srvmode=='disabled'" class="btn btn-primary btn-raised" nb-click-ladda="nbNodes.reconnect_node(node)">Enable</button>
                        <button ng-if="node.srvmode=='decommissioning'" class="btn btn-primary btn-raised" nb-click-ladda="nbNodes.reconnect_node(node)">Recommission</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 475px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right" ng-click="node_router.set('properties')">See more</a>
            </div>
            <div style="padding: 0 0 0 0">
                <p>
                    <i class="fa fa-hdd-o" style="font-size: 85px"></i>
                </p>
                <h4 style="margin-top: 10px">
                    <b>HARD DRIVE</b>
                </h4>
            </div>
            <div nb-pie-chart="pie_chart" style="height: 250px"></div>
        </div>
    </div>

</div>
