<div ng-controller="NodeViewCtrl">

    <div class="page-header page-node">

        <h1 class="Xcapitalize">
            {{node.name}} &nbsp;
            <small>[{{node.ip + (node.port && ':' + node.port || '')}}]</small>
        </h1>

        <ol class="breadcrumb capitalize">
            <li>
                <a href="/console/">Overview</a>
            </li>
            <li>
                <a href="/console/resource/">Pools</a>
            </li>
            <li>
                <a ng-href="/console/tier/{{tier.name}}">{{tier.name}}</a>
            </li>
            <li class="active">This node</li>
        </ol>

    </div>

    <div class="text-center clearfix" style="margin: -10px 0 20px 0">
        <!-- <b>Device Details</b> -->
        <!--
        <span class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-click="nbNodes.disable_node(node)">
                        <i class="fa fa-ban fa-lg fa-fw text-muted"></i> Disable this device
                    </a>
                </li>
                <li>
                    <a ng-click="nbNodes.decommission_node(node)">
                        <i class="fa fa-flag fa-lg fa-fw text-info"></i> Decommission this device
                    </a>
                </li>
            </ul>
        </span>
        -->
    </div>

    <div nb-hash-router-view="node_router"></div>

</div>
