<div ng-controller="NodeViewCtrl">

    <div class="page-header">

        <ol class="breadcrumb capitalize">
            <li>
                <a href="/console/">System</a>
            </li>
            <li>
                <a href="/console/resource/">Resources</a>
            </li>
            <li>
                <a ng-href="/console/tier/{{tier.name}}">{{tier.name}}</a>
            </li>
            <li class="active">{{node.name}}</li>
        </ol>

        <div class="clearfix"></div>

        <h1 class="text-center capitalize">
            <i class="fa fa-desktop fa-lg fa-fw text-primary"></i> {{node.name}}
        </h1>

        <p class="text-center text-muted">
            <small>
                <i>Resource Node</i> &nbsp;
                <i class="fa fa-info-circle fa-fw text-muted" rel="tooltip" title="A node is a computer that was connected to the system. It's running an agent that allows it to be used as a storage node." data-placement="bottom"></i>
            </small>
        </p>

        <table class="table table-properties">
            <tr>
                <td></td>
                <th>Status</th>
                <td>Healthy <i class="fa fa-check fa-lg"></i>
                </td>
                <th>Trust Level</th>
                <td>Trusted <i class="mdi-action-verified-user"></i>
                </td>
                <th>Network Address</th>
                <td>{{node.ip}}:{{node.port}}</td>
                <th>Used Storage</th>
                <td>{{human_size(node.storage.used)}} of {{human_size(node.storage.alloc)}}</td>
                <td></td>
            </tr>
        </table>
    </div>


    <ul class="nav nav-tabs">
        <li ng-class="{active: node_router.route == 'files'}">
            <a ng-click="node_router.set('files')">Files</a>
        </li>
        <li ng-class="{active: node_router.route == 'settings'}">
            <a ng-click="node_router.set('settings')">Settings</a>
        </li>
        <li ng-class="{active: node_router.route == 'properties'}">
            <a ng-click="node_router.set('properties')">Properties</a>
        </li>
        <li ng-class="{active: node_router.route == 'stats'}">
            <a ng-click="node_router.set('stats')">Statistics</a>
        </li>
    </ul>

    <div nb-hash-router-view="node_router"></div>

</div>
