<div class="row text-center">
    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 450px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right"
                    ng-click="node_router.set('properties')">See
                    details</a>
            </div>
            <h3 style="margin-top: 40px"><b>NODE STATUS</b></h3>
            <div style="padding-top: 50px; height: 250px">
                <div ng-switch="node.srvmode">
                    <div ng-switch-when="disabled">
                        <p>
                            <i class="fa fa-ban text-muted" style="font-size: 160px"></i>
                        </p>
                        <h5 class="text-muted">Disabled</h5>
                    </div>
                    <div ng-switch-when="decommissioning">
                        <p>
                            <i class="fa fa-flag text-info" style="font-size: 160px"></i>
                        </p>
                        <h5 class="text-muted">Decommissioning</h5>
                    </div>
                    <div ng-switch-when="decommissioned">
                        <p>
                            <i class="fa fa-flag-checkered text-muted" style="font-size: 160px"></i>
                        </p>
                        <h5 class="text-muted">Decommissioned</h5>
                    </div>
                    <div ng-switch-default>
                        <div ng-if="!node.online">
                            <p>
                                <i class="fa fa-moon-o text-warning" style="font-size: 160px"></i>
                            </p>
                            <h5 class="text-muted">Offline</h5>
                        </div>
                        <div ng-if="node.online">
                            <p>
                                <i class="fa fa-wifi text-success" style="font-size: 160px"></i>
                            </p>
                            <h5 class="text-muted">Connected</h5>
                        </div>
                    </div>
                </div>
                <!--
                <p>
                    <button class="btn btn-primary btn-raised"
                        nb-click-ladda="nbNodes.reconnect_node(node)" ng-if="node.srvmode=='disabled'">Enable</button>
                    <button class="btn btn-primary btn-raised"
                        nb-click-ladda="nbNodes.reconnect_node(node)" ng-if="node.srvmode=='decommissioning'">Recommission</button>
                </p>
                -->
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well well-sm clearfix" style="height: 450px">
            <div class="clearfix">
                <a class="btn btn-flat btn-info btn-sm pull-right"
                    ng-click="node_router.set('parts')">See
                    stored parts</a>
            </div>
            <h3 style="margin-top: 40px"><b>NODE STORAGE</b></h3>
            <div nb-pie-chart="pie_chart" style="height: 250px"></div>
        </div>
    </div>
</div>
