<div ng-cloak>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Self test</h4>
        </div>
        <div class="content-col col-sm-9">
            <p>
                <button class="btn btn-primary" nb-click-ladda="nbNodes.self_test(node)">Run</button>
            </p>
            <div ng-repeat="test in nbNodes.self_test_results">
                {{test.node.name}}
                <i ng-if="test.done" class="fa fa-check fa-lg fa-fw text-success"></i>
                <i ng-if="test.error" class="fa fa-times fa-lg fa-fw text-danger"></i>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Last heartbeat</h4>
        </div>
        <div class="content-col col-sm-3">
            {{node.hearbeat_moment.fromNow()}}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Operating system</h4>
        </div>
        <div class="content-col col-sm-6">
            <table class="table table-no-borders">
                <tr ng-repeat="(key,val) in node.device_info">
                    <th>{{key}}</th>
                    <td ng-switch="key">
                        <span ng-switch-when="freemem">{{human_size(val)}}</span>
                        <span ng-switch-when="totalmem">{{human_size(val)}}</span>
                        <span ng-switch-when="cpus">{{val.length}}</span>
                        <span ng-switch-when="loadavg">{{val[0].toFixed(1)}} {{val[1].toFixed(1)}} {{val[2].toFixed(1)}}</span>
                        <span ng-switch-when="networkInterfaces">{{_.keys(val).join(', ')}}</span>
                        <span ng-switch-default>{{val}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

</div>
