<div ng-cloak>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Self test</h4>
        </div>
        <div class="content-col col-sm-9">
            <button class="btn btn-primary" nb-click-ladda="nbNodes.self_test(node, self_test_kind)">Start</button>
            <div style="display: inline-block; width: 150px">
                <select ng-init="self_test_kind='conn'" ng-model="self_test_kind" class="form-control">
                    <option value="conn">Connectivity</option>
                    <option value="rw">Read-Write</option>
                    <option value="load">Load one node</option>
                    <option value="tx">Data Transfer</option>
                    <option value="full">Full</option>
                </select>
            </div>
            <br/>
            <table class="table table-condensed table-no-borders">
                <tr ng-repeat="test in nbNodes.self_test_results">
                    <td>{{test.name}}</td>
                    <td>
                        <span ng-if="test.progress">{{test.progress}}</span>
                        <span ng-if="test.took">( took {{test.took.toFixed(3)}} seconds )</span>
                    </td>
                    <td>
                        <span ng-if="test.start && !test.done && !test.error">
                            <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                        </span>
                        <i ng-if="test.done" class="fa fa-check fa-lg fa-fw text-success"></i>
                        <i ng-if="test.error" class="fa fa-times fa-lg fa-fw text-danger" rel="tooltip" ng-attr-title="{{test.error}}"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Last heartbeat</h4>
        </div>
        <div class="content-col col-sm-3">
            {{node.hearbeat_moment.fromNow()}}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Hard Drive</h4>
        </div>
        <div class="content-col col-sm-6">
            <table class="table table-no-borders">
                <tr>
                    <th>Total Space</th>
                    <td>{{human_size(node.storage.total_disk)}}</td>
                </tr>
                <tr>
                    <th>Free Space</th>
                    <td>{{human_size(node.storage.free_disk)}}</td>
                </tr>
                <tr>
                    <th>Operating System Size</th>
                    <td>{{human_size(node.storage.operating_sys)}}</td>
                </tr>
                <tr>
                    <th>Noobaa Allocated</th>
                    <td>{{human_size(node.storage.alloc)}}</td>
                </tr>
                <tr>
                    <th>Noobaa Unused</th>
                    <td>{{human_size(node.storage.unused)}}</td>
                </tr>
                <tr>
                    <th>Noobaa Used</th>
                    <td>{{human_size(node.storage.used)}}</td>
                </tr>
                <tr>
                    <th>Noobaa Used Percent</th>
                    <td>{{node.storage.usage_percent}}%</td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="heading-col col-sm-3">
            <h4 class="text-primary">Operating system</h4>
        </div>
        <div class="content-col col-sm-6">
            <table class="table table-no-borders">
                <tr ng-repeat="(key,val) in node.device_info">
                    <th>{{key}}</th>
                    <td ng-switch="key">
                        <span ng-switch-when="freemem">{{human_size(val)}}</span>
                        <span ng-switch-when="totalmem">{{human_size(val)}}</span>
                        <span ng-switch-when="cpus">{{val.length}}</span>
                        <span ng-switch-when="loadavg">{{val[0].toFixed(1)}} {{val[1].toFixed(1)}} {{val[2].toFixed(1)}}</span>
                        <span ng-switch-when="networkInterfaces">{{_.keys(val).join(', ')}}</span>
                        <span ng-switch-default>{{val}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

</div>
