<div ng-controller="OverviewCtrl">

    <div class="page-header">
        <h1>
            OVERVIEW
        </h1>
        <h3>
            <small Xstyle="white-space: nowrap; font-size: 0.35em">
                Welcome to NooBaa!&nbsp; Add nodes (workstations) to the system to use their storage space.
            </small>
        </h3>
    </div>


    <div class="row" style="Xpadding-top: 15px; padding-bottom: 15px">

        <div class="col-sm-6">
            <div class="well clearfix" style="padding: 40px; font-size: 35px">
                <div style="display: inline-block; white-space: nowrap; vertical-align: top; margin-right: 20px">
                    <a ng-href="/console/tier/{{nbSystem.system.tiers[0].name}}">
                        <b class="uppercase text-muted">{{nbSystem.system.tiers[0].name}}</b>
                    </a>
                </div>
                <div style="display: inline-block; white-space: nowrap; vertical-align: top; margin-right: 20px" class="text-center">
                    <span style="font-size: 0">
                        <span style="font-size: 35px; color: hsla(0,0%,100%,0.2)">{{leading_zeros(nbSystem.system.tiers[0].nodes.online,7)}}</span>
                        <span style="font-size: 35px" class="text-muted">{{nbSystem.system.tiers[0].nodes.online}}</span>
                    </span>
                    <br/>
                    <span ng-if="nbSystem.system.tiers[0].nodes.count <= nbSystem.system.tiers[0].nodes.online" style="font-size: 12px; color: hsla(0,0%,100%,0.2)">
                        all nodes are online
                        <i class="fa fa-check fa-fw text-success"></i>
                    </span>
                    <a ng-if="nbSystem.system.tiers[0].nodes.count > nbSystem.system.tiers[0].nodes.online" ng-href="/console/tier/{{nbSystem.system.tiers[0].name}}#nodes" style="font-size: 12px">
                        <span class="text-warning">
                            {{nbSystem.system.tiers[0].nodes.count - nbSystem.system.tiers[0].nodes.online}} offline nodes
                        </span>
                    </a>
                </div>
                <div style=" white-space: nowrap; vertical-align: top; margin-top: -5px">
                    <button class="btn btn-primary btn-raised" ng-click="add_node()">Add Node</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well clearfix" style="padding: 40px; font-size: 35px">
                <div style="display: inline-block; white-space: nowrap; vertical-align: top; margin-right: 20px">
                    <a ng-href="/console/bucket/{{nbSystem.system.buckets[0].name}}">
                        <b class="uppercase text-muted">{{nbSystem.system.buckets[0].name}}</b>
                    </a>
                </div>
                <div style="display: inline-block; white-space: nowrap; vertical-align: top; margin-right: 20px" class="text-center">
                    <span style="font-size: 0">
                        <span style="font-size: 35px; color: hsla(0,0%,100%,0.2)">{{leading_zeros(nbSystem.system.buckets[0].num_objects,7)}}</span>
                        <span style="font-size: 35px" class="text-muted">{{nbSystem.system.buckets[0].num_objects}}</span>
                    </span>
                    <br/>
                    <span ng-if="nbSystem.system.tiers[0].nodes.online >= 3" style="font-size: 12px; color: hsla(0,0%,100%,0.2)">
                        ready to upload
                        <i class="fa fa-check fa-fw text-success"></i>
                    </span>
                    <span ng-if="nbSystem.system.tiers[0].nodes.online < 3" style="font-size: 12px">
                        <span class="text-warning">
                            not enough nodes
                        </span>
                    </span>
                </div>
                <div style="white-space: nowrap; vertical-align: top; margin-top: -5px">
                    <button class="btn btn-primary btn-raised" ng-click="rest_server_information()">S3 REST Details</button>
                </div>
            </div>
        </div>
    </div>

    <div class="relpos map-area">

        <div id="nodes_map" style="margin-top: -100px; margin-right: 50px; height: 500px"></div>

        <div class="abspos text-right" style="top: 15px; right: 15px">
            <h2>{{human_size(nbSystem.system.storage.free+nbSystem.system.storage.used)}}</h2>
            <h2>
                <small>CAPACITY</small>
            </h2>
        </div>

    </div>

</div>
