<div>

    <div style="padding: 20px 0">
        <button class="btn btn-primary" ng-click="create_account()" rel="tooltip">New Account</button>
    </div>

    <div class="table-responsive">
        <table class="table table-no-borders">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Systems</th>
            </tr>
            <tr ng-repeat="account in accounts">
                <td>{{account.name}}</td>
                <td>{{account.email}}</td>
                <td>
                    <span ng-repeat="sys in account.systems">
                        <span ng-if="nbSystem.system.name==sys.name">
                            <button class="btn btn-primary btn-raised btn-xs" nb-click-ladda="nbSystem.connect_system('')">
                                {{sys.name}} ({{sys.roles.join(', ')}})
                            </button>
                        </span>
                        <span ng-if="nbSystem.system.name!=sys.name">
                            <button class="btn btn-default btn-raised btn-xs" nb-click-ladda="nbSystem.connect_system(sys.name)">
                                {{sys.name}} ({{sys.roles.join(', ')}})
                            </button>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>

</div>
