<div ng-cloak class="row">

    <div class="heading-col col-sm-3">
        <h4 class="text-primary">
            Devices in this tier
        </h4>
        <p class="text-muted">
            Click a device name to get more information.
        </p>
    </div>

    <div class="content-col col-sm-9">
        <div class="table-responsive">
            <table class="table table-no-borders">
                <tr>
                    <!-- <th></th> -->
                    <th>
                        <div class="form-group">
                            <input type="text" class="form-control floating-label" style="margin-top: -2px; border-bottom: none" placeholder="Device Name (click to search)" ng-model="nodes_query.search" ng-model-options="{debounce: 700}" ng-change="tier_router.set_query('search',nodes_query.search)"
                            />
                        </div>
                    </th>
                    <th>IP</th>
                    <th>Raw Storage</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="node in nodes">
                    <!-- <td class="checkbox noselect" style="width: 1px; padding: 4px">
                    <label>
                        <input type="checkbox" />
                    </label>
                </td> -->
                    <td class="table-btn text-left">
                        <a ng-href="tier/{{tier.name}}/{{node.name}}" class="btn btn-link btn-block capitalize">
                            <i class="fa fa-desktop fa-lg fa-fw text-muted"></i>
                            <span class="text-primary">{{node.name}}</span>
                        </a>
                    </td>
                    <td>{{node.ip}}</td>
                    <td>{{human_size(node.storage.used)}} of {{human_size(node.storage.alloc)}}</td>
                    <td>
                        <span ng-switch="node.srvmode">
                            <span ng-switch-when="disabled" class="text-muted">Disabled</span>
                            <span ng-switch-when="decommissioning" class="text-info">Decommissioning</span>
                            <span ng-switch-when="decommissioned" class="text-muted">Decommissioned</span>
                            <span ng-switch-default>
                                <span ng-if="!node.online" class="text-warning">Offline</span>
                                <span ng-if="node.online" class="text-success">Connected</span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <nav class="noselect">
            <ul class="pagination">
                <li>
                    <a nb-click-ladda="tier_router.set_page(nodes_query.page-1)">&laquo;</a>
                </li>
                <li ng-repeat="page in nodes_pages" ng-class="{active: page==nodes_query.page}">
                    <a nb-click-ladda="tier_router.set_page(page)">{{page+1}}</a>
                </li>
                <li>
                    <a nb-click-ladda="tier_router.set_page(nodes_query.page+1)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
