<div ng-controller="TierViewCtrl">
    <div class="Xcontainer">

        <div class="Xpage-header">

            <h1 class="capitalize">
                <span ng-switch="tier.kind" class="text-muted">
                    <i ng-switch-when="edge" class="fa fa-spinner fa-lg fa-fw"></i>
                    <i ng-switch-when="cloud" class="fa fa-cube fa-lg fa-fw"></i>
                </span>
                {{tier.name}}
            </h1>

            <ol class="breadcrumb capitalize" style="margin: 30px 0">
                <li>
                    <a href="/console/">Home</a>
                </li>
                <li>
                    <a href="/console/tier/">Tiers List</a>
                </li>
                <li class="active">{{tier.name}}</li>
            </ol>

        </div>

        <div class="well well-sm" style="margin: 30px 0">
            <table class="table table-no-borders table-center" style="margin:0">
                <tr class="text-center">
                    <th>Tier Status</th>
                    <th>Nodes</th>
                    <th>Net Storage</th>
                    <th>Raw Storage</th>
                </tr>
                <tr>
                    <td><i class="fa fa-check fa-lg"></i> Healthy</td>
                    <td>{{tier.nodes.online}}</td>
                    <td>{{human_size(tier.storage.used/3)}} of {{human_size(tier.storage.alloc/3)}}</td>
                    <td>{{human_size(tier.storage.used)}} of {{human_size(tier.storage.alloc)}}</td>
                </tr>
            </table>
        </div>


        <div class="Xwell" style="margin: 30px 0">

            <ul class="nav nav-pills noselect" style="margin: 0 0 15px 0">
                <li ng-class="{active: tier_router.route == 'stats'}">
                    <a ng-click="tier_router.set('stats')">Statistics</a>
                </li>
                <li ng-class="{active: tier_router.route == 'settings'}">
                    <a ng-click="tier_router.set('settings')">Settings</a>
                </li>
                <li ng-class="{active: tier_router.route == 'nodes'}">
                    <a ng-click="tier_router.set('nodes')">Nodes List</a>
                </li>
            </ul>

            <div nb-hash-router-view="tier_router"></div>

        </div>

    </div>
</div>
