<div ng-controller="NodeDetailsCtrl">
    <div class="container" ng-if="node">

        <h1 class="text-muted">Node Details</h1>

        <br/>

        <div class="clearfix">
            <span ng-show="node.started" class="pull-right">
                <button class="btn btn-default" nb-click-ladda="stop_node(node)">
                    <i class="fa fa-plug fa-lg fa-fw text-muted"></i> Stop node
                </button>
            </span>
            <span ng-hide="node.started" class="pull-right">
                <button class="btn btn-primary" nb-click-ladda="start_node(node)">
                    <i class="fa fa-rss fa-lg fa-fw text-muted"></i> Start node
                </button>
            </span>
        </div>

        <hr/>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <h1>{{node_name}}</h1> Name
                <h1>{{node.geolocation}}</h1> Location
                <h1>{{node.ip}}</h1> IP
                <h1>{{node.port}}</h1> Port
                <br/>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="pull-left text-center">
                    <span class="fa-stack" style="font-size: 150px" ng-hide="node.started">
                        <i class="fa fa-square fa-stack-2x text-muted"></i>
                        <i class="fa fa-plug fa-stack-1x text-white" ></i>
                    </span>
                    <span class="fa-stack" style="font-size: 150px" ng-show="node.started">
                        <i class="fa fa-square fa-stack-2x text-green"></i>
                        <i class="fa fa-rss fa-stack-1x text-primary" ></i>
                    </span>
                </div>
                <br/>
            </div>

            <div class="col-sm-6 col-md-4">
                <h4 class="text-muted">System Info</h4>
                <table class="table" style="max-width:400px; width:auto">
                    <tr>
                        <td>Runs on</td>
                        <td>{{node.vendor.name}}</td>
                    </tr>
                    <tr>
                        <td>Heartbeat</td>
                        <td>{{node.hearbeat_moment.fromNow()}}</td>
                    </tr>
                    <tr ng-repeat="(key,val) in node.system_info.os">
                        <td>{{key}}</td>
                        <td ng-switch="key">
                            <span ng-switch-when="freemem">{{human_size(val)}}</span>
                            <span ng-switch-when="totalmem">{{human_size(val)}}</span>
                            <span ng-switch-when="cpus">{{val.length}}</span>
                            <span ng-switch-when="loadavg">{{val[0].toFixed(2)}} {{val[1].toFixed(2)}} {{val[2].toFixed(2)}}</span>
                            <span ng-switch-when="networkInterfaces">{{_.keys(val).join(', ')}}</span>
                            <span ng-switch-default>{{val}}</span>
                        </td>
                    </tr>
                </table>
                <br/>
            </div>

        </div>
    </div>
</div>
