<a class="dropdown-toggle navbar-icon" data-toggle="dropdown">
    <i class="fa fa-user fa-lg"></i>
</a>
<ul class="dropdown-menu" role="menu">
    <li>
        <a>
            <h4 class="text-muted" style="margin:0">
                <i class="fa fa-envelope fa-fw"></i> {{nbClient.account.email}}
            </h4>
        </a>
    </li>
    <li class="divider"></li>
    <li ng-repeat="sys in nbSystem.systems">
        <a ng-click="nbSystem.connect_system(sys.name)">
            <i ng-if="nbSystem.system.name==sys.name" class="fa fa-check pull-right"></i> {{sys.name}}
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a ng-click="nbSystem.new_system()">New System</a>
    </li>
    <li class="divider"></li>
    <li>
        <a ng-click="nbClient.logout()">Logout</a>
    </li>
</ul>
