editor {
    .row();
    padding: @gutter 0;

    .val-msg {
        position: relative;
        margin-top: -1.7em;
        top : 1.7em;
    }

    > .editor-label {
        width: 152px;
        padding: @gutter/2 0;
    }

    > .editor-content {
        position: relative;
        width: 362px;
        justify-content: center;
    }
}
