editor {
    .row();
    padding-bottom: 1.5 * @gutter;

    .val-msg {
        position: relative;
        margin-top: -1.6em;
        top: 1.6em;

    }

    > .editor-label {
        width: 152px;
        padding: @gutter/2 0;
    }

    > .editor-content {
        width: 362px;
        justify-content: center;
    }
}
