<modal class="modal-xsmall" params="
    title: 'Reset User Password',
    onClose: () => cancel()
">
    <h2 class="heading3">Send the following message to your user</h2>

    <div class="box row push-next content-start greedy">
        <div class="greedy" data-bind="html: userMessage"></div>

        <button class="btn-flat" data-bind="
            click: copyEmailTextToClipboard,
            tooltip: 'Copy to Clipboard'
        ">
            <svg-icon class="icon-small" params="name: 'copy-to-clipboard'">
            </svg-icon>
        </button>
    </div>

    <div class="row align-end content-middle">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: reset">Reset</button>
    </div>
</modal>
