<modal class="modal-xsmall" params="
    title: title,
    severity: severity,
    onClose: () => close(),
    disableCloseButton: resetting,
    allowBackdropClose: !resetting()
">
    <section class="column greedy" data-bind="visible: screen() === 0">
        <p class="heading3">
            You are about to reset
            <span data-bind="text: email"></span>
            password, please enter your password as verification.
        </p>

        <editor class="verification-passowrd" params="label: 'Your Password'">
            <password-field params="
                value: verificationPassword,
                disabled: resetting
            "></password-field>
        </editor>

        <div class="row align-end content-middle">
            <button class="link alt-colors push-next" data-bind="
                click: close,
                disable: resetting
            ">
                Cancel
            </button>

            <working-button params="
                click: reset,
                working: resetting,
                workingLabel: 'Resetting'
            ">
                Reset Password
            </working-button>
        </div>
    </section>

    <section class="column greedy fade-in" data-bind="visible: screen() === 1">
        <p class="heading3">
            A new passowrd has been generated
        </p>
        <p class="push-next no-wrap copy-message">
             Please copy and send the following message to
             <span data-bind="text: email"></span>
        </p>


        <div class="alt-bg pad row content-start greedy">
            <div class="user-message greedy" data-bind="html: userMessage"></div>

            <copy-to-clipboard-button params="value: userMessage">
            </copy-to-clipboard-button>
        </div>

        <p class="remark push-next">
            <svg-icon class="icon-small" params="name: 'notif-info'"></svg-icon>
            The account will receive a temporary password and will be asked to change it on it's next login.
        </p>

        <button class="btn align-end" data-bind="click: close">
            Done
        </button>
    </section>

    <section class="column greedy fade-in" data-bind="visible: screen() === 2">
        <p class="heading3 push-next">
            A problem has occurred while resetting
            <span data-bind="text: email"></span>
            password
        </p>

        <p class="greedy">
            Please try again later.
            If the problem doesn’t resolve please contact NooBaa support
        </p>

        <button class="btn align-end" data-bind="click: close">
            Close
        </button>
    </section>
</modal>
