<modal class="modal-xsmall" params="
    title: 'Reset User Password',
    onClose: () => cancel()
">
    <h2 class="heading3">Send the following message to your user</h2>

    <div class="alt-bg pad row push-next content-start greedy">
        <div class="greedy" data-bind="html: userMessage"></div>

        <copy-to-clipboard-button params="value: userMessage">
        </copy-to-clipboard-button>
    </div>

    <div class="row align-end content-middle">
        <button class="link alt-colors push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn" data-bind="click: reset">Reset</button>
    </div>
</modal>
