<form>
	<section class="text-center">
		<h1 class="heading2">Bucket Policy</h1>
		<p class="paragraph">
			Here you decide how and where 
			<span class="emphasized" data-bind="text: bucketName"></span>
			data will be spread
		</p>
	</section>

	<section>
		<h2 class="heading3">Policy Type</h2>
		<ul class="list-no-style policy-types">
			<li>
				<label>
					<radio-btn  params="
						name: 'policy-type', 
						value: 'SPREAD',
						checked: dataPlacement,
						label: 'Stripe'  
					"></radio-btn>
					| Sperading the data across the choosen pools
				</label>
			</li>
			<li>
				<label>
					<radio-btn params="
						name: 'policy-type', 
						value: 'MIRROR',
						checked: dataPlacement,
						label: 'Mirror'  
					"></radio-btn>
					| Full duplication of the data in each chosen pool
				</label>
			</li>
		</ul>
	</section>

	<div class="pull-right">
		<button class="link" data-bind="click: selectAllPools">Select all</button>
		|
		<button class="link" data-bind="click: clearAllPools">Clear</button>
	</div>
	<h2 class="heading3">Choose Pools for policy</h2>
	<multiselect class="pools" params="options: pools, selected: selectedPools"></multiselect>

	<div class="form-actions clear">
		<button class="action btn2 pull-right" data-bind="click: save">Save</button>
		<button class="action link pull-right" data-bind="click: cancel">Cancel</button>	
	</div>	
</form>