<div class="modal-backdrop fade-in" data-bind="click: backdropClick"></div>
<div class="modal-content column text-left pop-centered">
    <!-- ko if: title -->
    <h1 class="row heading2 modal-heading content-middle">
        <span class="greedy push-next" data-bind="text: title"></span>

        <button class="close-btn icon-btn no-outline" tabindex="-1" data-bind="
            visible: addCloseButton,
            click: onClose
        ">
            <svg-icon params="name: 'x'"></svg-icon>
        </button>
    </h1>
    <!-- /ko -->

    <!-- ko template: { nodes: $componentTemplateNodes, data: $parent } -->
    <!-- /ko -->
</div>

