<div class="row push-next content-middle">
    <input type="search" placeholder="filter by node name or ip" class="push-next" data-bind="textInput: nameOrIpFilter, hasFocus: $inActiveStep"/>

    <span class="push-both">in</span>

    <dropdown class="push-next" params="
        placeholder: 'All Pools',
        options: poolFilterOptions,
        selected: poolFilter
    "></dropdown>

    <checkbox params="
        checked: onlineFilter,
        label: 'Show online nodes only'
    "></checkbox>
</div>

<node-selection-table class="greedy" params="
    caption: 'Select nodes to be moved to the pool',
    nodes: nodes,
    selectedNodes: selectedNodes,
    nodeCount: nodeCount,
    emptyMessage: emptyMessage
"></node-selection-table>

