.bucket-panel {

	bucket-objects-table  {
		position: absolute;
		bottom: 2em;
		top: 2em;
		left: 2em;
		right: 2em;
	}

	.pagination {
		height: 30px;

		.page-indicator {
			margin-right: 1em;

			.highlight {
				font-weight: @font-weight-medium;
			}
		}

/*		button {
			vertical-align: middle;
			font-size: @font-size-medium;
			font-family: @font-type3;
			padding: .2em .5em;
			color: @text-color1;
			background-color: @bg-color3;

			&:hover {
				background-color: @bg-color4;
			}
		}*/
	}
}	