node-info {
	.system .prop {
			width: 50%;
	}

	.drives {
		.legned {
			float: right;

			.bullet { 
				float: right;
				margin: 0 .5em;

				&::before {
					content: '';
					display: inline-block;
					width: .75em;
					height: .75em;
					background-color: black;
					margin-right: .25em;
				}
			}

			.noobaa::before {
				background-color: @blue-mid ;
			}

			.os::bsfore {

			}

			.unused {

			}
		}

		svg-icon {
			margin-right: 1em;
		}

		range-indicator {
			padding-left: 7em;
		}
	}

	.networks {
		.controller-name {
			&::after {
				content: ':';
			}
		}

		.address-list {
			font-family: @font-type3;

			li {
				padding: 0 .5em;
				display: inline-block;
				background-color: @bg-color1;
				color: @text-color4;
				width: 15em;
				font-size: @font-size-small;
			}
		}

	}
}