cloud-sync-modal {
    .modal-content {
        width: 600px;
    }

    .heading2 {
        margin-bottom: 2em;
    }

    label {
        display: block;
    }

    .line {
        margin-bottom: 1em;
    }

<<<<<<< HEAD
    .field-name {
        display: inline-block;
        width: 6em;
    }
=======
	.aws-buckets {
		width: 20em;
	}

	.field-name {
		display: inline-block;
		width: 6em;
	}
>>>>>>> 5899a610afcb3d598d4507eb1f86f1bfdcc9a9cb

    radio-group {
        display: inline-block;
    }

<<<<<<< HEAD
    .select-list {
        .list-no-style;
        display: inline-block;

    }
=======

	.pallete > div {
		width: 2em;
		height: 2em;
		display: inline-block;
		color: white;
		vertical-align: middle;
	}
>>>>>>> 5899a610afcb3d598d4507eb1f86f1bfdcc9a9cb

	.texts > div {
		display: inline-block !important;
	}
}