<modal params="onClose: () => close()">
    <h1 class="heading2 container">
        Cloud Sync Policy
    </h1>

    <section class="container box">
        <editor params="label: 'AWS Access Key'">
            <span class="emphasized" data-bind="text: accessKey"></span>
        </editor>

        <editor params="label: 'AWS Bucket'">
            <span class="emphasized" data-bind="text: awsBucket"></span>
        </editor>

        <editor params="label: 'NooBaa Bucket'">
            <span class="emphasized" data-bind="text: bucketName"></span>
        </editor>        

        <editor params="label: 'Sync Status'">
            <span class="emphasized" data-bind="
                css: syncStatus().css,
                text: syncStatus().label
            "></span>
        </editor>

        <editor params="label: 'Sync Frequency'">
            <span class="emphasized" data-bind="text: syncFrequency"></span>
        </editor>

        <editor params="label: 'Sync Direction'">
            <span class="emphasized" data-bind="text: syncDirection"></span>
        </editor>

        <editor params="label: 'Sync Deletions'">
            <span class="emphasized" data-bind="text: syncDeletions() ? 'Yes' : 'No'"></span>
        </editor>
    </section>

    <div class="action-line pull-right">
        <button class="action btn3" data-bind="click: removePolicy">Remove Policy</button>
        <button class="action btn2" data-bind="click: close">Close</button>
    </div>
</modal>