cloud-sync-modal {
	.modal-content {
		width: 600px;
	}

	.heading2 {
		margin-bottom: 2em;
	}

	label {
		display: block;
	}

	.line {
		margin-bottom: 1em;
	}

	.field-name {
		display: inline-block;
		width: 6em;
	}

	radio-btn {
		vertical-align: middle;
		margin-left: 1em;
	}

	.select-list {
		.list-no-style;
		display: inline-block;

	}

}