<modal params="onClose: () => close()">
    <h1 class="heading2 container">
        Cloud Sync Policy
    </h1>

    <section class="container box">
        <editor params="label: 'Sync Status'">
            <span class="emphasized" data-bind="
                css: syncStatus().css,
                text: syncStatus().label
            "></span>
        </editor>

        <editor params="label: 'Source Bucket'">
            <span class="emphasized" data-bind="text: sourceBucket"></span>
        </editor>

        <editor params="label: 'Target Endpoint'">
            <span class="emphasized" data-bind="text: targetEndpoint"></span>
        </editor>

        <editor params="label: 'Target Access Key'">
            <span class="emphasized" data-bind="text: targetAccessKey"></span>
        </editor>

        <editor params="label: 'Target Bucket'">
            <span class="emphasized" data-bind="text: targetBucket"></span>
        </editor>

        <editor params="label: 'Frequency'">
            <span class="emphasized" data-bind="text: syncFrequency"></span>
        </editor>

        <editor params="label: 'Direction'">
            <span class="emphasized" data-bind="text: syncDirection"></span>
        </editor>

        <editor params="label: 'Sync Deletions'">
            <span class="emphasized" data-bind="text: syncDeletions() ? 'Yes' : 'No'"></span>
        </editor>
    </section>

    <div class="action-line pull-right">
        <button class="action btn3" data-bind="click: removePolicy">Remove Policy</button>
        <button class="action btn2" data-bind="click: close">Close</button>
    </div>
</modal>
