toggle-filter {
    .row();
    border: 1px solid @bg-color11;
    border-radius: @gutter/4;
    overflow: hidden;

    input {
        position: absolute;
        visibility: hidden;
        z-index: -1;

        &:checked + .toggle-btn {
            background-color: @bg-color11;
            color: @text-color1;
        }
    }

    .toggle-btn {
        height: 100%;
        text-align: center;
        padding: .75em 1em;
        cursor: @cursor-pointer;
    }
}
