toggle-filter {
    .row();
    border: 1px solid @bg-color11;
    border-radius: @gutter/2;
    overflow: hidden;

    input {
        position: absolute;
        visibility: hidden;
        z-index: -1;

        &:checked + .toggle-btn {
            background-color: @bg-color11;
            color: @text-color1;
        }
    }

    .toggle-btn {
        height: 100%;
        line-height: 2.5;
        padding: 0 @gutter;
        cursor: @cursor-pointer;
    }
}
