capacity-gauge {
    display: inline-block;
    text-align: left;

    .legend {
        h3 {
            display: block;
            width: 300px;
            border-bottom: 1px solid @text-color4;
            padding: .5em 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            line-height: 1.5;

            .bullet {
                line-height: inherit;
                display: inline-block;
                width: .75em;
                height: .75em;
                background-color: black;
                vertical-align: middle;
                margin-right: .5em;
            }
        }
    }
}