<div class="pad alt-bg">
    <h2 class="heading3">
        Accounts using this resources as default placement: {{accountCount}}
    </h2>
    <p>
        The following accounts were associated to this pool. Each new bucket created by these accounts via an S3 application will have a data placement policy containing this pool
    </p>
</div>

<ul class="list-no-style column greedy pad" ko.foreach="accounts">
    <li class="push-next">
        <a class="link" ko.text="email" ko.attr.href="href"></a>
    </li>
</ul>
