<section class="container">
    <h2 class="heading3">
        Choose an account to connect with
    </h2>

    <dropdown params="
        options: accountOptions,
        selected: selectedAccount,
        placeholder: 'select account',
    "></dropdown>
</section>

<section class="container">
    <h2 class="heading3">
        Use the following infromation to config your application
    </h2>

    <property-sheet class="container" params="properties: details"></property-sheet>
    
    <p class="paragraph">
        <svg-icon class="icon-small" params="uri: '/fe/assets/icons.svg#notif-info'"></svg-icon>
        to create a new account go to System Managemnet >
        <a class="link" data-bind="
            href: '/fe/systems/:system/management/accounts'
        ">
            Accounts
        </a>
    </p>
</section>
