<h2 class="heading3">Connect your client</h2>
<p class="paragraph">
	Use the following information to config a connection between NooBaa
	and the client.
</p>
<div class="box">
	<table>
		<tr>
			<td class="field-name">Storage Type:</td>
			<td class="field-value">S3 Compatible Storage</td>
		</tr>
		<tr>
			<td class="field-name">REST Endpoint:</td>
			<td class="field-value">123.456.789.123</td>
			<td class="copy-btn">
				<button class="btn-flat" title="copy to clipboard">
					<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
				</button>
			</td>
		</tr>				
		<tr>
			<td class="field-name">Access Key:</td>
			<td class="field-value">dsfhksjdhfjksd-sdkjhfkjs-sdfsdf-324dsf</td>
			<td class="copy-btn">
				<button class="btn-flat" title="copy to clipboard">
					<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
				</button>
			</td>
		</tr>				
		<tr>
			<td class="field-name">Secret Key:</td>
			<td class="field-value">dsfhksjdhfjksd-sdkjhfkjs-sdfsdf-324dsf</td>
			<td class="copy-btn">
				<button class="btn-flat" title="copy to clipboard">
					<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
				</button>
			</td>
		</tr>				
	</table>
</div>		