<h2 class="heading3">
    Choose an account to connect with
</h2>

<dropdown class="push-next" params="
    options: accountOptions,
    selected: selectedAccount,
    placeholder: 'select account',
"></dropdown>

<h2 class="heading3 push-prev">
    Use the following infromation to config your application
</h2>

<property-sheet class="push-next" params="properties: details">
</property-sheet>

<p >
    <svg-icon class="icon-small" params="
        name: 'notif-info'
    "></svg-icon>

    to create a new account go to System Management >

    <a class="link" data-bind="
        href: '/fe/systems/:system/management/accounts'
    ">
        Accounts
    </a>
</p>
