<!-- <div>
	<h2 class="heading3">Connect to S3 Browser</h2>
	<ol>
		<li>
			<a href="#" class="link">Download</a>
			and install S3 Browser 
		</li>
		<li>
			Open the 
			<span class="emphasized">Add new account</span>
			dialog 
		</li>
		<li>
			Configure the account using the following settings
		</li>
	</ol>
	<div class="box">
		<table>
			<tr>
				<td class="field-name">Storage Type:</td>
				<td class="field-value">S3 Compatible Storage</td>
			</tr>
			<tr>
				<td class="field-name">REST Endpoint:</td>
				<td class="field-value">123.456.789.123</td>
				<td class="copy-btn">
					<button class="btn-flat" title="copy to clipboard">
						<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
					</button>
				</td>
			</tr>				
			<tr>
				<td class="field-name">Access Key ID:</td>
				<td class="field-value">dsfhksjdhfjksd-sdkjhfkjs-sdfsdf-324dsf</td>
				<td class="copy-btn">
					<button class="btn-flat" title="copy to clipboard">
						<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
					</button>
				</td>
			</tr>				
			<tr>
				<td class="field-name">Secret Access Key:</td>
				<td class="field-value">dsfhksjdhfjksd-sdkjhfkjs-sdfsdf-324dsf</td>
				<td class="copy-btn">
					<button class="btn-flat" title="copy to clipboard">
						<svg-icon class="icon-small" params="uri: '/assets/icons.svg#copy'"></svg-icon>
					</button>
				</td>
			</tr>				
		</table>
	</div>		
</div> -->