<h2 class="heading3">Network Installation</h3>
<p class="push-next">
    Use NooBaa's distribution utilities to install the NooBaa daemon over the network. This option require direct access from the target machine to the NooBaa server.
</p>


<h2 class="heading3">Select OS Type</h3>
<radio-group class="push-next" params="
    options: osTypeOptions,
    selected: selectedOsType,
    hasFocus: true
"></radio-group>

<!-- ko if: selectedOsType() === 'linux' -->
<p>Open a linux shell to a target  machine and run the following command</p>
<!-- /ko -->

<!-- ko if: selectedOsType() === 'windows' -->
<p>Open an elevated Powershell (run as administrator) to a target machine and run the following command</p>
<!-- /ko -->

<div class="pad alt-bg config-box row push-both greedy">
    <output class="text-tech greedy" data-bind="text: installationCommand">
    </output>

    <copy-to-clipboard-button params="value: installationCommand">
    </copy-to-clipboard-button>
</div>

<p class="remark">
    <svg-icon class="icon-small" params="name: 'notif-info'"></svg-icon>
    <span>
        If you don't have an available network,
        <button class="link alt-colors" data-bind="click: toggleInstallationMode">
            switch to manual installation.
        </button>
    </span>
</p>
