<modal class="modal-medium" params="
    title: 'Add Cloud Resource',
    onClose: () => cancel()
">
    <p class="push-next">Use a bucket from a public cloud to serve as a NooBaa storage resource</p>

    <section class=" column greedy">
        <editor params="label: 'Target Connection'">
            <dropdown params="
                placeholder: 'Choose a connection',
                options: connectionOptions,
                selected: connection
            "></dropdown>
            <div class="val-msg" data-bind="validationMessage: connection"></div>
        </editor>

        <editor params="
            label: targeBucketLabel,
            disabled: !targetBucketsOptions()
        ">
            <dropdown params="
                placeholder: targetBucketPlaceholder,
                disabled: !targetBucketsOptions(),
                options: targetBucketsOptions,
                selected: targetBucket
            "></dropdown>
            <div class="val-msg" data-bind="validationMessage: targetBucket"></div>
        </editor>

        <editor class="push-next" params="
            label: 'Resource Name',
            disabled: !targetBucket()
        ">
            <div class="push-next">
                <input type="text" placeholder="Choose Name" data-bind="
                    enable: targetBucket,
                    textInput: resourceName
                "/>
            </div>
            <ul class="bullet-list remark push-prev">
                <li>Resource names must be between 3-63 chars</li>
                <li>Must contain only lowercase letters, numbers, periods and hyphens</li>
                <li>Must start and end with a lowercase letter or number</li>
            </ul>
        </editor>
    </section>

    <div class="row align-end push-prev">
        <button class="link push-next" data-bind="click: cancel">
            Cancel
        </button>
        <button class="btn" data-bind="
            click: add,
            shakeOnClick: errors().length
        ">
            Add
        </button>
    </div>
</modal>

<!-- ko if: isAddCloudConnectionModalVisible -->
<add-cloud-connection-modal params="
    onClose: canceled => hideAddCloudConnectionModal()
"></add-cloud-connection-modal>
<!-- /ko -->
