main-header {
    .row();
    .content-middle;
    height: 60px;
    background-color: @color1;
    border-bottom: 1px solid @color8;
    box-shadow: 0px 6px 8px @color1;

    .logo {
        margin: 0 @gutter/2;
        width: 32px;
        height: 32px;
    }
}
