data-table {
    .column();
    position: relative;
    text-align: center;
    overflow-y: hidden;
    width: 100%;

    table {
        display: block;
        border-collapse: collapse;
        overflow-y: auto;
        margin-top: 42px;
    }

    thead {
        position: absolute;
        width: 100%;
        line-height: 40px;
        top: 0;
        text-transform: capitalize;
        color: @color6;
        font-size: @font-size1;
        background-color: @color4;
    }

    tbody > tr {
        //background-color: ;
        padding: 0;
        line-height: 3 * @gutter;
        border-bottom: 1px solid @color15;
        font-size: @font-size2;

        &:last-child {
            border: none;
        };
    }

    th {
        font-weight: lighter;
    }

    .sortable {
        position: relative;
        padding-right: @gutter + 6px;
        cursor: @cursor-pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            right: 0;
            border: solid transparent;
            border-width: 4px 3px;
        }

        &:before {
            top: -2px;
            border-bottom-color: fadeout(@color6, 50%);
        }


        &::after {
            bottom: -2px;
            border-top-color: fadeout(@color6, 50%);
        }

        &.des::before {
            border-bottom-color: @color6;
        }

        &.asc::after {
            border-top-color: @color6;
        }
    }

    .empty-message {
        position: relative;
        text-align: left;
        font-size: @font-size-large;
        color: @text-color5;
    }

    .text-cell {
        width: 100%;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}
