<table>
    <thead>
        <tr data-bind="foreach: columns">
            <th data-bind="css: css">
                <span data-bind="
                    text: label,
                    css: $component.getSortCss(name, sortable),
                    click: () => sortable && $component.sortBy(name)
                "></span>
            </th>
        </tr>
    </thead>
    <tbody data-bind="template: { html: rowTemplate, foreach: rows } ">
    </tbody>
</table>

<div class="empty-message" data-bind="visible: emptyMessage, text: emptyMessage">
</div>


