.overview-panel {
    max-width: 650px;
    
    .overview {
        background: linear-gradient(@text-color2, @text-color2) center repeat-y;
        background-size: 1px;    

        .btn {
            margin-top: 3em;
            width: 250px;
        }
    }

    .counters {
    	position: absolute;
    	left: 0;
    	right: 0;
		margin-top: 2em;
    }

    .counter-list {
    	position: absolute;
    	color: @text-color2;
    	font-size: @font-size-medium;
    	padding: 1.5em 0;
    	left: 0;
    	right: 0;
    	top: 2.5em;
		background-color: fade(@bg-color7, 7%);    	

    	> li {
    		margin: 0 2em;
	    	display: inline-block;
    	}

    	.counter-value {
    		font-size: @font-size-xlarge;
    		display: block;
    	}
    }

     .world-map {
    	max-width: 650px;
    	margin: 0 auto;
    }
}    