<ul class="list-no-style status-line">
	<li>
		<svg-icon params="uri: '/fe/assets/icons.svg#node-online'"></svg-icon>
		<span data-bind="text: onlineCount"></span>
	</li>
	<li>
		<svg-icon params="uri: '/fe/assets/icons.svg#node-offline'"></svg-icon>
		<span data-bind="text: offlineCount"></span>
	</li>
</ul>

<div class="text-center">
	<section class="gauge-legend">
		<h3 class="heading3 underline">
			Potential Capacity: 
			<span data-bind="text: totalText"></span>
		</h3>

		<ul class="list-no-style">
			<li class="used-legend">
				Used: 
				<span class="emphasized" data-bind="text: usedText"></span>
			</li>
			<li class="total-legend">
				Free: 
				<span class="emphasized" data-bind="text: freeText"></span>
			</li>
		</ul>		
	</section>

	<quantity-gauge params="values: gaugeValues"></quantity-gauge>

	<section class="action-list">
		<button class="action btn2">
			<svg-icon params="uri: '/fe/assets/icons.svg#move-nodes'"></svg-icon>
			Assign Nodes
		</button> 	
	</section>
</div>