buckets-panel, .buckets-panel {
	@spacing: 3.5em;

	.add-bucket-btn {
		margin-right: @spacing - 1.5em;
	}

	.table-wrapper {
		position: absolute;
		bottom: 0;
		top: 7em;
		overflow-y: auto;
		background-color: @bg-color2;				
	}

	.ordered {
		text-decoration: underline;
	}

	.buckets-table {
		margin: 2em @spacing;

		.syncing, .paused {
			color: @text-color10;
		}

		.synced {
			color: @text-color7;
		}

		.unable-to-sync {
			color: @text-color8;
		}				
	}
}