<!-- ko if: ready -->
<node-summary class="text-center" params="node: node"></node-summary>

<ul class="tabs details-pane">
	<li data-bind="css: { selected: selectedTab() == 'parts' }">
		<a class="tab-header" data-bind="href: '/systems/:system/pools/:pool/nodes/:node/parts'">
			<svg-icon params="uri: '/assets/icons.svg#part'"></svg-icon>
			Stored File Parts
		</a>

		<node-parts-table params="objects: objects" class="tab-content"></node-parts-table>
	</li>

	<li data-bind="css: { selected: selectedTab() === 'info' }">
		<a class="tab-header" data-bind="href: '/systems/:system/pools/:pool/nodes/:node/info'">
			<svg-icon params="uri: '/assets/icons.svg#info-dark'"></svg-icon>
			Info
		</a>

		<node-info params="node: node" class="tab-content"></node-info>
	</li>
</ul>	
<!-- /ko -->

 