<!-- ko if: ready -->
<div class="box push-next">
    <h2 class="box-header">General Infromation</h2>
    <node-summary params="node: node"></node-summary>
</div>

<div class="tabs greedy">
    <nav>
        <a data-bind="
            href: '/fe/systems/:system/pools/:pool/nodes/:node/details',
            css: { selected: isTabSelected('details') }
        ">
            Details
        </a>

        <a data-bind="
            href: '/fe/systems/:system/pools/:pool/nodes/:node/parts',
            css: { selected: isTabSelected('parts') }
        ">
            Stored File Parts
        </a>

        <a data-bind="
            href: '/fe/systems/:system/pools/:pool/nodes/:node/diagnostics',
            css: { selected: isTabSelected('diagnostics') }
        ">
            Test &amp; Diagnostics
        </a>
    </nav>


    <div class="tabs-row">
        <node-details-form class="tab" params="node: node" data-bind="
            css: { selected: isTabSelected('details') }
        "></node-details-form>

        <node-parts-table class="tab" params="parts: storedParts" data-bind="
            css: { selected: isTabSelected('parts') }
        "></node-parts-table>

        <node-diagnostics-form class="tab" params="node: node" data-bind="
            css: { selected: isTabSelected('diagnostics') }
        "></node-diagnostics-form>
    </div>
</div>
<!-- /ko -->
