node-summary {
    .debug-level  {
        color: @text-color4;
        
        > svg-icon {
            fill: @text-color4;
        }

        &.dl-high {
            color: @text-color10;
            
            > svg-icon {
                fill: @text-color10;    
            }
            
        }
    }

    .used-legend::before {
        background-color: @text-color6;
    }

    .os-legend::before {
        background-color: @text-color4;
    }

    .free-legend::before {
        background-color: @text-color5;
    }
}