node-summary {
    .status > li {
        margin-bottom: @gutter;
    }

    .used {
        color: @text-color6;
    }

    .other {
        color: @text-color4;
    }

    .free {
        color: @text-color5;
    }
}
