<div class="row">
    <section class="c3 column">
        <h3 class="heading4 push-next">
            Node Capacity:
            <span data-bind="text: totalText"></span>
        </h3>

        <div class="row content-middle">
            <ul class="c7 column list-no-style legend">
                <li class="row used">
                    <span class="c6 emphasized">Noobaa:</span>
                    <span data-bind="text: usedText"></span>
                </li>
                <li class="row other">
                    <span class="c6 emphasized">Other:</span>
                    <span data-bind="text: otherText"></span>
                </li>
                <li class="row free">
                    <span class="c6 emphasized">Free:</span>
                    <span data-bind="text: freeText"></span>
                </li>
            </ul>

            <quantity-gauge class="c5" params="values: gaugeValues"></quantity-gauge>
        </div>
    </section>

    <vr></vr>

    <section class="c3 column">
        <h3 class="heading4 push-next">Status</h3>
        <ul class="list-no-style row multiline status">
            <li class="c6 row">
                <svg-icon class="push-next" params="uri: stateIcon" data-bind="
                    tooltip: 'State'
                "></svg-icon>
                <span data-bind="text: stateText"></span>
            </li>
            <li class="c6 row">
                <svg-icon class="push-next" params="uri: trustIcon" data-bind="
                    tooltip: 'Trust'
                "></svg-icon>
                <span data-bind="text: trustText"></span>
            </li>

            <li class="c12 row">
                <svg-icon class="push-next" params="uri: accessibilityIcon" data-bind="
                    tooltip: 'Accessibility'
                "></svg-icon>
                <span data-bind="text: accessibilityText"></span>
            </li>
        </ul>
    </section>

    <vr></vr>

    <section class="column greedy">
        <h3 class="heading4 push-next">Activity</h3>
        <p class="paragraph" data-bind="with: dataActivity">
            <span data-bind="text: row1"></span>
            <br>
            <span class="used" data-bind="text: row2"></span>
        </p>
    </section>
</div>

<!-- ko if: isTestModalVisible -->
<test-node-modal params="
    sourceRpcAddress: rpcAddress,
    onClose: () => isTestModalVisible(false)
"></test-node-modal>
<!-- /ko -->
