node-summary {
    .debug-level > svg-icon {
        fill: @text-color4;
    }

    .used-legend::before {
        background-color: @text-color6;
    }

    .os-legend::before {
        background-color: @text-color4;
    }

    .free-legend::before {
        background-color: @text-color5;
    }
}