stepper {
    display: block;
    text-align: center;
    line-height: 3 * @gutter;
    font-size: @font-size4;

    > ol {
        .list-no-style();
        counter-reset: step;
        line-height: inherit;

        li + li {
            margin-left: 2 * @gutter;
        }
    }

    .stepper-step {
        counter-increment: step;
        display: inline-block;
        text-transform: capitalize;
        color: @color7;
        line-height: inherit;

        .step-bullet, .step-label {
            vertical-align: middle;
        }

        .step-bullet {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin-right: 4px;

            &::before, &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 22px;
                border: 1px solid;
                border-radius: 1em;
                transition: transform 500ms linear, background-color 500ms;
                backface-visibility: hidden;
            }

            &::before {
                content: counter(step);
                transform: rotateY(180deg);
            }

            &::after {
                border-color: @color7;
                content: '';
                background: url('@{assets}/step-done.png') center center no-repeat;
                background-color: @color7;
            }
        }

        &.selected {
            color: @color6;

            .step-bullet, ~ .stepper-step .step-bullet {
                &::before {
                    transform: rotateY(0deg);
                }

                &::after {
                    transform: rotateY(180deg);
                }
            }
        }

    }
}
