stepper {
    display: block;
    text-align: center;
    line-height: 2 * @gutter;
    font-size: @font-size5;
    padding: @gutter;

    > ol {
        .list-no-style();
        counter-reset: step;
        line-height: inherit;

        li + li {
            margin-left: 2 * @gutter;
        }
    }

    .stepper-step {
        counter-increment: step;
        display: inline-block;
        text-transform: capitalize;
        color: @color7;

        .bullet {
            position: relative;
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-right: @gutter;
            vertical-align: middle;

            &::before, &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid;
                border-radius: 1em;
                transition: transform 500ms linear, background-color 500ms;
                backface-visibility: hidden;
            }

            &::before {
                content: counter(step);
                transform: rotateY(180deg);
            }

            &::after {
                content: '';
                background: url('@{assets}/step-done.png') center center no-repeat;
                background-color: @color7;
            }
        }

        &.selected {
            color: @color6;

            ~ .stepper-step {
                color: @color15;
            }

            .bullet, ~ .stepper-step .bullet {
                &::before {
                    transform: rotateY(0deg);
                }

                &::after {
                    transform: rotateY(180deg);
                }
            }
        }

    }
}
