apiVersion: apps/v1
kind: Deployment
metadata:
  name: noobaa-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: noobaa-operator
  template:
    metadata:
      labels:
        name: noobaa-operator
    spec:
      serviceAccountName: noobaa-operator
      containers:
        - name: noobaa-operator
          # Replace this with the built image name
          image: noobaa-operator:1
          command:
            - noobaa-operator
          # imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "noobaa-operator"
