<div class="multiselect-options box" data-bind="validationOptions: { insertMessages: false }">
    <ul class="list-no-style clear" data-bind="foreach: options">
        <li class="option" data-bind="attr: { title: label }">
            <checkbox class="no-wrap" params="
                value: value, 
                label: label, 
                checked: $component.selected
            "></checkbox>
        </li>
    </ul>
</div>
<div class="val-msg" data-bind="validationMessage: selected"></div>