<p class="row content-middle push-next">
    <span class="highlight push-next-half">Cloud Storage:</span>
    <span>{{cloudResourceCount}}</span>
    <vr class="push-both"></vr>
    <span class="highlight push-next-half">Services:</span>
    <span class="greedy">{{cloudServiceCount}}</span>
    <more-info-icon params="tooltip: cloudTooltip"></more-info-icon>
</p>

<chart-legend params="items: cloudCounters"></chart-legend>

<pie-chart class="align-middle" params="
    values: cloudCounters,
    sumLabel: 'cloud resources',
"></pie-chart>

<p class="row greedy push-both content-middle align-middle">
    <span class="highlight push-next-half">Estimated Cloud Storage: {{cloudCapacity}}</span>
    <more-info-icon params="tooltip: cloudStorageTooltip"></more-info-icon>
</p>

<button class="btn overview-btn" ko.click="onAddCloudResource">
    Add Cloud Resource
</button>
