<p class="row contnet-middle push-next">
    <span class="highlight push-next-half">Cloud Storage:</span>
    <span>{{cloudResourceCount}}</span>
    <vr class="push-both"></vr>
    <span class="highlight push-next-half">Services:</span>
    <span class="greedy">{{cloudServiceCount}}</span>
    <svg-icon class="icon-small"
        params="name: 'question'"
        ko.tooltip="cloudTooltip"
    ></svg-icon>
</p>

<chart-legend params="items: cloudCounters"></chart-legend>

<pie-chart class="align-middle" params="
    values: cloudCounters,
    sumLabel: 'cloud resources',
"></pie-chart>

<p class="row greedy push-both contnet-middle align-middle">
    <span class="highlight push-next-half">Estimated Cloud Storage: {{cloudCapacity}}</span>
    <svg-icon class="icon-small"
        params="name: 'question'"
        ko.tooltip="cloudStorageTooltip"
    ></svg-icon>
</p>

<button class="btn overview-btn" ko.click="onAddCloudResource">
    Add Cloud Resource
</button>
