<p class="row content-middle push-next">
    <span class="highlight push-next-half">Pools:</span>
    <span>{{poolCount}}</span>
    <vr class="push-both"></vr>
    <span class="highlight push-next-half">Nodes in pools:</span>
    <span class="greedy">{{hostCount}}</span>
    <more-info-icon params="tooltip: hostPoolTooltip"></more-info-icon>
</p>

<chart-legend params="items: hostCounters"></chart-legend>

<pie-chart class="align-middle push-both-half" params="
    values: hostCounters,
    sumLabel: 'Total',
    format: hostCountFormatter
"></pie-chart>

<p class="row greedy push-both content-middle align-middle">
    <span class="highlight push-next-half">Nodes Storage: {{poolsCapacity}}</span>
    <more-info-icon params="tooltip: hostStorageTooltip"></more-info-icon>
</p>


<button class="btn overview-btn" ko.click="onInstallNodes">
    Install Nodes
</button>
