<p class="row contnet-middle push-next">
    <span class="highlight push-next-half">Internal Storage:</span>
    <span class="greedy">{{internalResourceUsage}}</span>
    <svg-icon class="icon-small"
        params="name: 'question'"
        ko.tooltip="internalTooltip"
    ></svg-icon>
</p>

<chart-legend params="
    items: internalCounters,
    format: 'size'
"></chart-legend>

<pie-chart class="align-middle push-prev" params="
    values: internalCounters,
    sumLabel: 'Total',
    format: 'size'
"></pie-chart>
