pools-table {
    .column();

    .state-col,
    .nodes-col,
    .usage-col {
        min-width: 6em;
    }

    .delete-col {
        min-width: 8em;
    }

    .offline-nodes-col,
    .online-nodes-col {
        min-width: 7em;
    }

    .capacity-col {
        min-width: 9em;
    }

    .name-col{
        min-width: 6em;
        width: 100%;
    }
}
