<div class="row alt-bg pad">
    <div class="greedy push-next">
        <input type="search" placeholder="Filter by pool name" data-bind="
            textInput: filter
        "/>
    </div>

    <button class="btn align-end" data-bind="
        click: () => showCreatePoolWizard(),
        disable: isCreatePoolDisabled,
    ">
        Create Pool
    </button>
</div>

<data-table class="greedy" params="
    columns: columns,
    data: pools,
    rowFactory: pool => newPoolRow(pool),
    sorting: sorting,
    emptyMessage: 'The current filter does not match any nodes pool'
"></data-table>

<!-- ko if: isCreatePoolWizardVisible -->
<create-pool-wizard params="onClose: () => hideCreatePoolWizard()">
</create-pool-wizard>
<!-- /ko -->
