assign-nodes-modal {
    .modal-content  {
        .column(); 
        height: 75%;
        width: 80%;
    }

    .state-col {
        min-width: 65px;
    }

    .name-col {
        width: 100%;
    }

    .ip-col {
        min-width: 105px;
    }

    .capacity-col {
        min-width: 68px;
    }

    .pool-col {
        min-width: 5em;
        max-width: 5em;
    }
}