assign-nodes-modal {
    .modal-content  {
        .column();
        height: 75%;
        width: 80%;
    }

    dropdown {
        width: 15em;
    }

    .selection-summary {
        font-size: @font-size-medium;
    }

    .selected-col {
        min-width: 44px;
    }

    .state-col {
        min-width: 65px;
    }

    .name-col {
        text-align: left;
        width: 100%;
    }

    .ip-col {
        min-width: 105px;
    }

    .capacity-col {
        min-width: 100px;
    }

    .pool-col {
        min-width: 120px;
        max-width: 120px;
    }

    .recomended-col {
        min-width: 120px;
        max-width: 120px;
    }

    .selected-box {
        margin-top: 6px;
    }
}
