<modal class="modal-auto-height" params="
    title: 'Assign Nodes',
    onClose: () => cancel()
">
    <div class="row push-next content-middle">
        <input type="search" placeholder="filter by node name or ip" class="push-next"
            data-bind="textInput: nameOrIpFilter"/>

        <span class="push-next">in</span>

        <dropdown class="push-next" params="
            placeholder: 'All Pools',
            options: poolFilterOptions,
            selected: poolFilter
        "></dropdown>

        <checkbox class="push-next" params="
            checked: healthyFilter,
            label: 'Show healthy nodes only'
        "></checkbox>
    </div>

    <node-selection-table class="greedy" params="
        caption: 'Select nodes you wish to move into this pool',
        nodes: nodes,
        selectedNodes: selectedNodes,
        nodeCount: nodeCount,
        poolName: poolName,
        emptyMessage: emptyMessage
    "></node-selection-table>

    <div class="row align-end ">
        <button class="link alt-colors push-next" data-bind="click: cancel">
            Cancel
        </button>
        <button class="btn" data-bind="click: assign">
            Assign
        </button>
    </div>
</modal>
