<modal params="onClose: () => cancel()">
    <h1 class="heading2 container">
        Assign Nodes
    </h1>
    <div class="table-wrapper box container">
        <div class="data-table">
            <table>
                <thead>
                    <tr>
                        <th class="name-col text-left">name</th>
                        <th class="ip-col">ip</th>
                        <th class="capacity-col">capacity</th>
                        <th class="pool-col">pool</th>
                        <th class="suggested-pool-col">recommended</th>
                    </tr>
                </thead>
                <tbody data-bind="
                    foreach: rows,
                    validationOptions: { insertMessages: false }
                ">
                    <!-- ko if: isVisible -->
                    <tr>
                        <td class="name-col text-left">
                            <checkbox params="
                                value: name,
                                checked: $parent.selectedNodes
                            "></checkbox>
                        </td>

                        <td class="ip-col" data-bind="text: ip"></td>

                        <td class="capacity-col" data-bind="text: capacity"></td>

                        <td class="pool-col">
                            <div class="no-wrap" data-bind="
                                text: currPool,
                                tooltip: currPool
                            "></div>
                        </td>
                        <td class="suggested-pool-col">
                            <div class="no-wrap" data-bind="
                                text: suggestedPool,
                                tooltip: suggestedPool
                            "></div>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>

            <div class="empty-message" data-bind="
                visible: !!emptyMessage(),
                text: emptyMessage()
            "></div>
        </div>
    </div>
    <div class="val-msg" data-bind="validationMessage: selectedNodes"></div>

    <div class="action-line pull-right">
        <button class="action link" data-bind="click: cancel">Cancel</button>
        <button class="action btn2" data-bind="click: assign">Assign</button>
    </div>
</modal>
