<html ng-app="ng_client">

<head>
    {{{# def.include( 'common_head.html') }}}

    <base href="/client/">
</head>

<body ng-controller="ClientCtrl" ng-cloak>

    <div class="container">
        <h3>
            NOOBAA CLIENT
            <span ng-show="logged_in" class="pull-right">
                <b><i>{{account_email}}</i></b>
            </span>
            <span ng-hide="logged_in" class="pull-right">
                logging in <i class="fa fa-spinner fa-spin fa-lg"></i>
            </span>
        </h3>
        <hr/>
        <div ng-view></div>
    </div>

    <div>
        {{{# def.include( 'common_scripts.html') }}}
    </div>

</body>

</html>
