<!-- SCRIPTS -->

<!-- server data is safely embedded in a JSON type script -->
<script id="server_data" type="application/json">
    {{{= JSON.stringify(it.data) }}}
</script>

<!-- google loader -->
<script src="http://www.google.com/jsapi" type="text/javascript"></script>

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

<!-- angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js"></script>


<script src="/public/js/templates.js" type="text/javascript"></script>
<script src="/public/js/index.js" type="text/javascript"></script>


<script type="text/javascript">
    (function(window) {
        'use strict';
        if (typeof(videojs) !== 'undefined') {
            console.log('init video.js');
            window.videojs.options.flash.swf = "/public/video-js.swf";
        }
        /*
        if (typeof(flowplayer) !== 'undefined') {
            console.log('init flowplayer');
            flowplayer.conf = {
                swf: '/public/flowplayer.swf',
                embed: false,
                // ratio: 5/12,
                // analytics: 'UA-27182341-1'
            };
        }
        */
    })(this);
</script>
