<!-- META -->

<!-- charset needs to appear as early as possible -->
<meta charset="utf-8" />
<meta name="description" content="NooBaa Core" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="fragment" content="!" />
<title>NooBaa Core</title>

<link rel="shortcut icon" href="/public/images/noobaa_icon_bgblack.ico" />

<link href="/public/css/styles.css" type="text/css" rel="stylesheet" />

<!-- Google Fonts -->
<!-- SANS SERIF FONTS
<link href='//fonts.googleapis.com/css?family=Roboto:600,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:600,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:600,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Droid+Sans:600,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:600,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
 -->

<!-- CURSIVE FONTS
<link href='//fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
 -->


<!-- break out from iframe -->
<script type="text/javascript">
    (function(window) {
        'use strict';
        if (window.top.location !== window.self.location) {
            window.top.location = window.self.location.href;
        }
    })(this);
</script>
