<html ng-app="nb_login">

<head>
    {{{# def.include( 'common_head.html') }}}

    <base href="/client/">
</head>

<body ng-controller="LoginCtrl" ng-cloak>

    <div class="container">
        <h3>
            NooBaa account login
        </h3>
        <hr/>

        <form role="form" class="form-horizontal col-sm-4">
            <div class="form-group form-group-lg">
                <input class="form-control" type="email" id="input_email" placeholder="Enter email" required ng-model="email" />
            </div>
            <div class="form-group form-group-lg">
                <input class="form-control" type="password" id="input_password" placeholder="Password" required ng-model="password"/>
            </div>
            <div class="form-group form-group-lg">
                <button type="submit" class="btn btn-primary btn-lg" ng-ladda="running_login" ng-click="login()">Login</button>
                <button type="submit" class="btn btn-default btn-lg" ng-ladda="running_create" ng-click="create()">Create</button>
            </div>
        </form>

    </div>

    <div>
        {{{# def.include( 'common_scripts.html') }}}
    </div>

</body>

</html>
