<html ng-app="nb_login">

<head>
    {{{# def.include( 'common_head.html') }}}

    <base href="/login/">
</head>

<body ng-controller="LoginCtrl" ng-cloak>

    <div ng-include="'navbar.html'"></div>

    <div class="container">
        <div class="panel panel-default center-block" style="max-width: 380px">
            <div class="panel-body" style="padding-bottom: 0">

                <form role="form">
                    <div class="form-group form-group-lg">
                        <input class="form-control" type="email" id="input_email" placeholder="Email" required ng-model="email" ng-disabled="form_disabled" />
                    </div>

                    <div class="form-group form-group-lg">
                        <input class="form-control" type="password" id="input_password" placeholder="Password" required ng-model="password" ng-disabled="form_disabled" />
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="form_disabled" nb-click-ladda="login()">
                            Login
                        </button>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default" ng-disabled="form_disabled" nb-click-ladda="create()">
                            Create a new account
                        </button>
                    </div>

                    <div class="form-group alert alert-warning" role="alert" ng-show="alert_text">
                        <button type="button" class="close" ng-click="alert_text=''">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{alert_text}}
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div>
        {{{# def.include( 'common_scripts.html') }}}
    </div>

</body>

</html>
