<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1>Player</h1>
    <div>
        <input id="input" type="file"></input>
    </div>
    <div>
        <select id="select"></select>
    </div>
    <div>
        <video id="video" controls></video>
    </div>

    <script>
        (function() {
            /* jshint browser:true */
            'use strict';

            var MediaSource = window.MediaSource = window.MediaSource || window.WebKitMediaSource;

            // type: [mime type; codecs]
            // codec: [format],[video codec],[audio codec]
            var media_types = [
                'video/ogg', // ogg, theora, Vorbis
                'video/ogg; codecs="theora, vorbis"', // ogg, theora, Vorbis
                'video/webm', // WebM, VP8, Vorbis
                'video/webm; codecs="vp8"', // WebM, VP8, Vorbis
                'video/webm; codecs="vorbis"', // WebM, VP8, Vorbis
                'video/webm; codecs="vp8, vorbis"', // WebM, VP8, Vorbis
                //'video/webm',                                  // WebM, VP9, Vorbis
                'video/webm; codecs="vp9, vorbis"', // WebM, VP9, Vorbis
                'audio/webm; codecs="vorbis"', // WebM,  - , Vorbis
                'video/mp4', // MPEG4, AVC, aac
                'video/mp4; codecs="avc1.66.13,  mp4a.40.2"', // MPEG4, AVC(H.264) Baseline 1.3, AAC-LC, [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.42e01e, mp4a.40.2"', // MPEG4, AVC(H.264) Baseline 1.3, AAC-LC, [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.66.30,  mp4a.40.5"', // MPEG4, AVC(H.264) Baseline 3.0, AAC-HC, [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.42001e, mp4a.40.5"', // MPEG4, AVC(H.264) Baseline 3.0, AAC-HC, [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.42001f, mp4a.40.5"', // MPEG4, AVC(H.264) Baseline 3.1, AAC-HC, [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.77.30,  mp4a.40.5"', // MPEG4, AVC(H.264) Main 3.0, AAC-HC,     [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.4d001e, mp4a.40.5"', // MPEG4, AVC(H.264) Main 3.0, AAC-HC,     [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.4d001f, mp4a.40.5"', // MPEG4, AVC(H.264) Main 3.1, AAC-HC,     [MPEG-4 AVC/H.264]
                'video/mp4; codecs="avc1.640029, mp4a.40.5"', // MPEG4, AVC(H.264) High 4.1, AAC-HC,     [MPEG-4 AVC/H.264]

                'audio/mp4; codecs="mp4a.40.2"', // MPEG4 AAC-LC
                'audio/mp4; codecs="mp4a.40.5"', // MPEG4 HE-AAC
                'audio/mp4; codecs="mp4a.67"', // MPEG2 AAC-LC
                'video/mp4; codecs="mp4a.40.2"',
                'video/mp4; codecs="avc1.4d001e, mp4a.40.2"', // MPEG4 AVC(H.264) Main 3.0, AAC-LC

                'video/x-m4v', // m4v,
                'video/quicktime', // mov,
                'video/mp4; codecs="mp4v.20.8, mp4a.40.3"', // mp4, mpeg4 visual, mp3
                'video/mp4; codecs="mp4v.20.8, samr"', // mp4(3gp), mpeg4 visual, amr

                'application/x-mpegurl', // HLS, AVC, AAC
                'application/vnd.apple.mpegurl', // HLS, AVC, AAC
                'application/vnd.ms-ss', // SmoothStreaming
                'application/vnd.ms-sstr+xml', // SmoothStreaming
            ];

            var select = document.getElementById("select");
            var input = document.getElementById("input");
            var video = document.getElementById('video');

            input.addEventListener("change", play);
            select.addEventListener("change", play);
            for (var i = 0; i < media_types.length; ++i) {
                if (MediaSource.isTypeSupported(media_types[i])) {
                    var option = document.createElement("option");
                    option.text = option.value = media_types[i];
                    select.add(option);
                }
            }
            console.log('READY');

            function play() {
                var file = input.files[0];
                if (!file) return;
                if (!select.value) return;
                play_file(video, input.files[0], select.value);
            }

            function play_file(video, file, media_type) {
                var SEGMENT_SIZE = 64 * 1024;
                var pos = 0;
                var vb = new VideoBuffer({
                    video: video,
                    media_type: media_type,
                    read_func: function(callback) {
                        var reader = new FileReader();
                        reader.onload = function() {
                            callback(null, reader.result);
                            pos += SEGMENT_SIZE;
                        };
                        reader.onerror = function() {
                            callback(reader.error);
                        };
                        var blob = file.slice(pos, pos + SEGMENT_SIZE);
                        reader.readAsArrayBuffer(blob);
                    }
                });
                vb.play();
            }

            /**
             *
             * VIDEO BUFFER
             *
             */
            function VideoBuffer(options) {
                this.video = options.video;
                this.source = new MediaSource();
                this.video.src = URL.createObjectURL(this.source);
                this.read_func = options.read_func;
                this.media_type = options.media_type;
                this.segment = 0;
                this.time = 0;
                this.segments = Math.ceil(this.duration / 10);
                this.preset = options.preset;
                this.source.addEventListener("sourceopen", this.onSourceOpen.bind(this));
                this.source.addEventListener("sourceended", this.onSourceEnded.bind(this));
                this.video.addEventListener("progress", this.onVideoProgress.bind(this));
                this.on("error", function(err) {
                    try {
                        throw err;
                    } catch (e) {
                        console.error('VideoBuffer ERROR', e.stack);
                    }
                });
            }

            // EventEmitter
            VideoBuffer.prototype.on = function(event, handler) {
                var ev = this._ev = this._ev || {};
                var handlers = ev[event] = ev[event] || [];
                handlers.push(handler);
            };
            VideoBuffer.prototype.emit = function(event, data) {
                var handlers = this._ev && this._ev[event];
                if (handlers) {
                    for (var i = 0; i < handlers.length; i++) {
                        handlers[i](data);
                    }
                }
            };

            VideoBuffer.prototype.onSourceOpen = function(e) {
                this.debug("Source opened:", this.source);
                var buffer = this.source.addSourceBuffer(this.media_type);
                buffer.addEventListener("updatestart", this.onBufferUpdateStart.bind(this));
                buffer.addEventListener("update", this.onBufferUpdate.bind(this));
                buffer.addEventListener("updateend", this.onBufferUpdateEnd.bind(this));
                this.debug("Added source buffer:", buffer);
                this.emit("source:open", e);
            };

            VideoBuffer.prototype.onSourceEnded = function(e) {
                this.debug("Source ended:", this.source);
                this.emit("source:ended", e);
            };

            VideoBuffer.prototype.onBufferUpdateStart = function(e) {
                this.debug("BufferUpdateStart:", e);
                this.emit("buffer:updatestart", e);
            };

            VideoBuffer.prototype.onBufferUpdate = function(e) {
                this.debug("BufferUpdate:", e);
                this.emit("buffer:update", e);
            };

            VideoBuffer.prototype.onBufferUpdateEnd = function(e) {
                this.debug("BufferUpdateEnd:", e);
                this.emit("buffer:updateend", e);
                if (!this.got_first) {
                    this.got_first = true;
                    this.debug("Got first segment, start playback");
                    this.play();
                }
            };

            VideoBuffer.prototype.onVideoProgress = function(e) {
                this.debug("Video progress:", e);
                this.loadNextSegment();
            };

            VideoBuffer.prototype.loadNextSegment = function() {
                var self = this;
                this.debug("Load next segment");
                this.read_func(function(err, buffer) {
                    var sb = self.source.sourceBuffers[0];
                    self.debug("Got buffer:", buffer);
                    if (err) {
                        self.emit("error", err);
                        return;
                    }
                    if (!sb) {
                        self.emit("error", new Error("Read error or missing source buffer"));
                        return;
                    }
                    if (!buffer) {
                        self.source.endOfStream();
                        return;
                    }
                    try {
                        self.debug("Appending segment to source buffer");
                        sb.appendBuffer(buffer);
                    } catch (e) {
                        self.emit("error", e);
                        return false;
                    }
                });
            };

            VideoBuffer.prototype.play = function() {
                this.debug("Play");
                this.loadNextSegment();
            };

            VideoBuffer.prototype.debug = (function() {
                return console.log.bind(console);
            }());

        })();
    </script>

</body>

</html>
