details-keys-form {
	.box > div + div {
		margin-top: .5em;
	}

	.btn-flat {
		padding: 0;
	}

	.heading3 {
		margin-bottom: 0;
	}		

	svg-icon {
		width: @font-size-small;
		height: @font-size-small;
	}		

	.remark {
		margin-top: .5em;
	}
}