welcome-modal {
    modal {
        .modal-content {
            background: none;
            box-shadow: none;
            width: auto;
            height: auto;
        }

        .modal-backdrop {
            background-color: rgba(0, 0, 0, .9);
            animation: none;
        }

        .loading-icon {
            margin: auto auto;
            animation: spin 2000ms linear infinite;
        }

        .start-btn {
            margin: 0 auto;
        }
    }
}
