.expandable {
    overflow: hidden;
    max-height: 0;
    opacity: .5;
    transition: all 350ms ease-in-out;

    &.expanded {
        opacity: 1;
        max-height: 1000px;
    }
}

.tooltip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: @gutter/2;
    margin: 0;
    font-size: @font-size-small;
    background-color: @bg-color1;
    border: 1px solid @text-color2;
    border-radius: @gutter/4;
    color: @text-color2;
    pointer-events: none;
    text-align: center;
    animation: fade-in 250ms;
    max-width: 13em;

    &::before, &::after {
        content: '';
        position: absolute;
        border: .5em solid transparent;
    }

    &::before {
        top: -1.1em;
        border-bottom-color:  @text-color2;
    }

    &::after {
        top: -1em;
        border-bottom-color:  @bg-color1;
    }

    &.left {
        transform: translate(-1em, .75em);

        &::before, &::after {
            left: .5em;
        }
    }

    &.center {
        transform: translateY(.75em);

        &::before, &::after {
            left: 50%;
            transform: translateX(-.5em);
        }
    }

    &.right {
        transform: translate(1em, .75em);

        &::before, &::after {
            right: .5em;
        }        
    }
}
