buckets-panel, .buckets-panel {
	.add-bucket-btn {
		margin-right: 2em;
	}

	.table-wrapper {
		position: absolute;
		bottom: 0;
		top: 7em;
		overflow-y: auto;
		background-color: @bg-color2;				
	}

	.ordered {
		text-decoration: underline;
	}
}