buckets-panel, .buckets-panel {
    .add-bucket-btn {
        margin-right: 2em;
    }

    buckets-table {
        position: absolute;
        bottom: 0;
        top: 6em;
        width: 100%;
        background-color: @bg-color2;                
    }

    .ordered {
        text-decoration: underline;
    }
}