commands-bar {
	display: block;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		margin: 1px 2px;
	}

	.action {
		text-align: center;		

		> svg-icon {
			display: block;
			margin: 3px auto;
		}
	}

}