<ul class="clear pull-right">
	<li>
		<button class="btn-flat action"  data-bind="click: refresh">
			<svg-icon params="uri: '/fe/assets/icons.svg#refresh'"></svg-icon>
			Refresh
		</button>
	</li>	

	<li>
		<button class="btn-flat action" >
			<svg-icon params="uri: '/fe/assets/icons.svg#help'"></svg-icon>
			Help
		</button>
	</li>

	<li>
		<button class="btn-flat action" >
			<svg-icon params="uri: '/fe/assets/icons.svg#manage'"></svg-icon>
			Manage			
		</button>
	</li>

	<li>
		<button class="btn-flat action" data-bind="click: signOut">
			<svg-icon params="uri: '/fe/assets/icons.svg#log'"></svg-icon>
			Log
		</button>
	</li>
</ul>