<button class="btn-flat action"  data-bind="
    click: refresh,
    tooltip: 'Refresh'
">
    <svg-icon params="name: 'refresh'"></svg-icon>
</button>

<a class="btn-flat action" data-bind="
    href: '/fe/systems/:system\/management',
    tooltip: 'Management'
">
    <svg-icon params="name: 'manage'"></svg-icon>
</a>

<button class="btn-flat action" data-bind="
    click: showAuditLog,
    tooltip: 'Audit'
">
    <svg-icon params="name: 'audit'"></svg-icon>
</button>

<button class="btn-flat action" data-bind="
    click: signOut,
    tooltip: { text: 'Sign Out', align: 'right' }
">
    <svg-icon params="name: 'signout'"></svg-icon>
</button>
