<button class="icon-btn"  data-bind="
    click: refresh,
    css: { 'no-outline': isRefreshSpinning },
    tooltip: 'Refresh'
">
    <svg-icon class="hightlight" params="name: 'refresh'" data-bind="
        css: { 'fast-spin': isRefreshSpinning }
    "></svg-icon>
</button>

<button class="icon-btn" data-bind="
    click: showAuditLog,
    tooltip: 'Audit'
">
    <svg-icon class="hightlight" params="name: 'audit'"></svg-icon>
</button>

<button class="icon-btn" data-bind="
    click: showAlerts,
    tooltip: 'Alerts'
">
    <svg-icon class="hightlight" params="name: 'audit'"></svg-icon>
</button>
