commands-bar {
    .row();
    .content-middle();

    vr {
        margin: @gutter/2;
        align-self: stretch;
        background-color: @text-color3;
    }

    .action {
        padding: 0;
        margin: 0 @gutter/4;
    }
}
