server-time-settings-modal {
    display: block;

    .forms {
        position: relative;;

        .ntp-form {
            position: absolute;
            left: 0;
        }
    }

    editor > .editor-label {
        width: 8em;
    }

    .small-field {
        width: 129px;
    }
}
