server-diagnostics-form {
    display: block;

    .communication-table {
        .result-col {
            min-width: 50px;
        }

        .name-col {
            text-align: left;
            width: 100%;
        }

        .address-col {
            min-width: 100px;
        }

    }
}
