.text(@type, @weight, @size, @color) {
    font-family: @type;
    font-size: @size;
    font-weight: @weight;
    color: @color;
}

.text(@type, @weight, @size, @color, @hover-color) {
    .text(@type, @weight, @size, @color);

    &:hover {
        color: @hover-color;
    }
}

.text(@type, @weight, @size, @color, @hover-color, @active-color) {
    .text(@type, @weight, @size, @color, @hover-color);

    &:active {
        color: @active-color;
    }
}

.bg-color(@normal, @hover, @active, @disabled) {
    background-color: @normal;

    &:hover {
        background-color:@hover;
    }

    &:active {
        background-color:@active;
    }

    &[disabled] {
        &, &:hover, &:active {
            background-color: @disabled;
        }
    }
}

.hide() {
    position: fixed;
    top: -9999px;
    z-index: -1;
}

.anim-delay(@count; @delay) when (@count > 0) {

    &:nth-child(@{count}) {
        animation-delay: unit(@count * @delay, ms);
    }

    .anim-delay(@count - 1, @delay);
}

.focused(@offset: -1px) {
    outline: @outline;
    outline-offset: @offset;
}
