* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: @color2;
    font-family: @font-family1;
    font-weight: @font-light;
    font-size: @font-size3;
    color: @color6;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.3;
    margin: 0;
    margin-bottom: @gutter/2;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

fieldset {
    border: none;
}

ul, ol {
    line-height: 1.7;
}

label {
    cursor: @cursor-pointer;
}

hr {
    border: none;
    border-top: 1px solid @bg-color4;
    margin: @gutter 0;
}

vr {
    width: 1px;
    min-width: 1px;
    background-color: @bg-color6;
    margin: 0 @gutter;
}

output {
    margin-bottom: .5em;
    margin-right: 1em;
    line-height: 1.4;
    padding: 1px 0;
    border-bottom: 1px solid transparent;
}

:focus {
    .focused();
}

::-webkit-scrollbar  {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    margin: 4px;
}

::-webkit-scrollbar-thumb  {
    background-color: @color7;
    transition: all 250ms;
}

::-webkit-scrollbar-corner {
    border-color: transparent;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.fixed {
    position: fixed;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fill {
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.list-no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.no-outline {
    &, &:focus {
        outline: none;
    }
}
.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.scrollable {
    overflow: auto;
    padding-right: 10px;
}

.rotate {
    transition: transform 250ms ease-out;

    &.deg0, &.deg360, &.deg-360 {
        transform: rotate(0deg);
    }

    &.deg90 {
        transform: rotate(90deg);
    }

    &.deg180 {
        transform: rotate(180deg);
    }

    &.deg270 {
        transform: rotate(270deg);
    }

    &.deg-90 {
        transform: rotate(-90deg);
    }

    &.deg-180 {
        transform: rotate(-180deg);
    }

    &.deg-270 {
        transform: rotate(-270deg);
    }
}

.heading1 {
    line-height: 1.7;
    .text(
        @font-type1,
        @font-weight-thin,
        @font-size-xlarge,
        @text-color4
    );
}

.heading2 {
    line-height: 1.7;
    .text(
        @font-type2,
        @font-weight-light,
        @font-size-large,
        @text-color3
    );
}

.heading3 {
    line-height: 1.7;
    font-size: @font-size4;
    color: @color14;
    font-weight: @font-regular;

/*    .text(
        @font-type2,
        @font-weight-thin,
        @font-size-medium,
        @text-color2
    );*/
}

.heading4 {
    line-height: 1.7;
    .text(
        @font-type2,
        @font-weight-thin,
        @font-size-normal,
        @text-color2
    );
}

.remark {
    .text(
        @font-type2,
        @font-weight-light,
        @font-size-small,
        @text-color4
    );

    .link {
        font-size: @font-size-small;
    }
}

.emphasized {
    .text(
        @font-type2,
        @font-weight-light,
        @font-size-normal,
        @text-color3
    );
}

.highlight {
    .text(
        @font-type2,
        @font-weight-light,
        @font-size-normal,
        @text-color6
    );
}

.success {
    color: @color12;
}

.warning {
    color: @color11;
}

.error {
    color: @color10;
}

.disabled {
    color: @text-color5;
}

.alert {
    .text(
        @font-type2,
        @font-weight-light,
        @font-size-normal,
        text-color4,
    );
}

.alert-sucess {
    .alert();
    color: @text-color7;
}

.alert-error {
    .alert();
    color: @text-color8;
}

.bullet-list {
    margin: 0;
    padding: 0;
    padding-left: 1.3em;
    line-height: 1.8;

    ol& > li {
        text-indent: .5em;
    }
}

.text-tech {
    line-height: 1.5;
    font-family: @font-type3;
    font-size: @font-size-small;
    background-color: @bg-color2;
    padding: .25em .5em;
}

.box {
    background-color: @color5;
    padding: @gutter;

    > .box-header {
        margin: -@gutter;
        margin-bottom: @gutter;
        padding: 0 @gutter;
        font-size: @font-size3;
        font-weight: @font-regular;
        line-height: 46px;
        background-color: @color3;
        color: @color6;
    }
}

.sticky {
    line-height: 25px;
    padding: @gutter / 2 @gutter;
    background: @red-dark;
    color: @text-color1;

    svg-icon {
        margin-right: .25em;
    }

    vr {
        align-self: stretch;
        background-color: @text-color1;
        margin: 0 @gutter;
    }
}

.hide {
    position: fixed;
    top: -9999px;
    z-index: -1;
}
