<modal params="onClose: () => cancel()" class="modal-xsmall text-left">
    <h1 class="heading2">
        Server DNS Settings
    </h1>
    <p class="push-next text-center">
        Setup the server to use the following DNS servers for name resolution
    </p>

    <section class="greedy">
        <editor params="label: 'Pirmary DNS'" class="push-prev">
            <input type="text" data-bind="value: primaryDNS" />
        </editor>
        <editor params="label: 'Secondary DNS'" class="push-next">
            <input type="text" data-bind="value: secondaryDNS" />
        </editor>
    </section>

    <div class="row content-middle align-end push-prev">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: save">Save</button>
    </div>
</modal>
