<h2 class="row heading3" data-bind="click: () => expanded.toggle()">
    <span class="greedy align-middle">Peer to Peer</span>

    <button class="btn-flat rotate no-outline" data-bind="
        css: { 'deg-90': !expanded() }
    ">
        <svg-icon class="expand-icon" params="uri: '/fe/assets/icons.svg#chevron'" >
        </svg-icon>
    </button>
</h2>

<div data-bind="visible: !expanded()">
    TCP ports: 
    <output class="text-tech emphasized" data-bind="text: ports"></output>
</div>

<div class="column" data-bind="expand: expanded">
    <p class="paragraph push-next">
        Transport layer protocols, such as the Transmission Control Protocol (TCP) and User Datagram Protocol (UDP), specify a source and destination port number in their segment headers.
    </p>    

<!-- 
    REMOVED UNTILS SERVER FIX P2P setting that does not breack th whole system 
    <div class="container">
        <radio-group params="options: portOptions, selected: portType"></radio-group>

        <editor params="label: 'Port Number', visible: usingSinglePort">
            <input type="number" min="0" data-bind="textInput: rangeMin"/>
        </editor>

        <editor params="label: 'Port Range', visible: usingPortRange, insertValMessages: false">

            <input class="field" type="number" min="1" data-bind="textInput: rangeMin"/>
            -
            <input class="field" type="number" data-bind="
                textInput: rangeMax,
                attr: { min: rangeMin }
            "/>

            <div class="val-msg" data-bind="text: errorMessage"></div>
        </editor>
    </div> 
-->

    <p class="paragraph emphasized">
        Before you apply changes, add the following exception to your Firewall/NAT:
    </p>

    <div class="box config push-next">
        <span>
            Source:
            <output class="text-tech emphasized">any</output>
        </span>
        
        <span>
            Destination:
            <output class="text-tech emphasized">any</output>
        </span>
        
        <span>
            Protocol:
            <output class="text-tech emphasized">tcp</output>                
        </span>

        <span>
            Ports:
            <output class="text-tech emphasized" data-bind="value: ports"></output>
        </span>
        
        <span>
            Description:
            <output class="text-tech emphasized">NooBaa</output>
        </span>
    </div>


    <div>
        Notes: 
        <ul class="remark bullet-list">
            <li>TCP ports should br manually opened in firewalls/NATs in order to be reachable</li>
            <li>Connection are secured using SSL</li>
            <li>In any case if TCP will not be reachable, UDP will be used for fallback, which is capable of bypassing firewalls/NATs, assuming UDP is allowed in your network</li>
        </ul>
    </div>

    <!-- 
        REMOVED UNTILS SERVER FIX P2P setting that does not breck the whole system
    <<div class="container text-right">
        <button class="btn2" data-bind="click: applyChanges">
            Apply Changes
        </button>
    </div> 
    -->
</div>