<collapsible-section params="
    title: 'Peer to Peer',
    collapsed: isCollapsed
">
    <section class="collapsed">
        TCP ports:
        <output class="text-tech" data-bind="text: ports"></output>
    </section>

    <section class="expanded">
        <p class="paragraph push-next">
            Transport layer protocols, such as the Transmission Control Protocol (TCP) and User Datagram Protocol (UDP), specify a source and destination port number in their segment headers.
        </p>

    <!--
        REMOVED UNTILS SERVER FIX P2P setting that does not breack th whole system
        <div class="container">
            <radio-group params="options: portOptions, selected: portType"></radio-group>

            <editor params="label: 'Port Number', visible: usingSinglePort">
                <input type="number" min="0" data-bind="textInput: rangeMin"/>
            </editor>

            <editor params="label: 'Port Range', visible: usingPortRange, insertValMessages: false">

                <input class="field" type="number" min="1" data-bind="textInput: rangeMin"/>
                -
                <input class="field" type="number" data-bind="
                    textInput: rangeMax,
                    attr: { min: rangeMin }
                "/>

                <div class="val-msg" data-bind="text: errorMessage"></div>
            </editor>
        </div>
    -->

        <p class="push-next">
            In order the guarantee node to node communication add the following exception to your Firewall/NAT:
        </p>

        <div class="alt-bg pad config push-next">
            <span>
                <span class="highlight">Source:</span>
                <output class="text-tech">any</output>
            </span>

            <span>
                <span class="highlight">Destination:</span>
                <output class="text-tech">any</output>
            </span>

            <span>
                <span class="highlight">Protocol:</span>
                <output class="text-tech">TCP</output>
            </span>

            <span>
                <span class="highlight">Ports:</span>
                <output class="text-tech" data-bind="value: ports"></output>
            </span>

            <span>
                <span class="highlight">Description:</span>
                <output class="text-tech">NooBaa</output>
            </span>
        </div>


        <div class="push-next">
            Notes:
            <ul class="remark bullet-list">
                <li>TCP ports should br manually opened in firewalls/NATs in order to be reachable</li>
                <li>Connection are secured using SSL</li>
                <li>In any case if TCP will not be reachable, UDP will be used for fallback, which is capable of bypassing firewalls/NATs, assuming UDP is allowed in your network</li>
            </ul>
        </div>

        <!--
            REMOVED UNTILS SERVER FIX P2P setting that does not breck the whole system
        <<div class="container text-right">
            <button class="btn" data-bind="click: applyChanges">
                Apply Changes
            </button>
        </div>
        -->
    </section>
</collapsible-section>
