radio-btn {
    @size: 21px;
    display: block;
    vertical-align: bottom;
    white-space: nowrap;

    label {
        display: inline-block;
        cursor: default;

        &:focus {
            background-color: red;
        }
    }

    input {
        .hide();

        &:focus ~ .radio-knob {
            outline: @outline;
            outline-offset: -1px;
        }

        &:checked  ~ .radio-knob {
            background-position-x: -@size;
        }

        &[disabled] {
            ~ .radio-knob {
                background-position-x: -2 * @size;    
            }

            &:checked ~ .radio-knob {
                background-position-x: -3 * @size;            
            }

            ~ .radio-label {
                color: @gray-lv5;
            }

            ~ .radio-knob, ~ .radio-label {
                cursor: default;
            }
        }
    }

    .radio-knob {
        position: relative;
        display: inline-block;
        width: @size;
        height: @size;
        cursor: @cursor-pointer;
        text-align: center;
        line-height: .9;
        vertical-align: middle;
        background: url('/fe/assets/radiobtn.png') no-repeat;
        overflow: hidden;
    }

    .radio-label {
        display: inline-block;
        font-weight: @font-weight-medium;
        margin-left: .25em;
        transition: color 500ms;
        cursor: @cursor-pointer;
    }
}