<h2 class="row heading3" data-bind="click: () => expanded.toggle()">
    <span class="greedy align-middle">Server DNS Settings</span>

    <button class="btn-flat expand-btn no-outline" >
        <svg-icon class="rotate"
            params="name: 'chevron'"
            data-bind="css: { 'deg-90': !expanded() }">
        </svg-icon>
    </button>
</h2>

<div class="summary row" data-bind="visible: !expanded()">
    <div class="push-next">
        Primary:
        <span class="emphasized" data-bind="
            css: { 'text-tech': primaryDNS },
            text: primaryDNS() || 'Not set'
        "></span>
    </div>

    <div>
        Secondary:
        <span class="emphasized" data-bind="
            css: { 'text-tech': secondaryDNS },
            text: secondaryDNS() || 'Not set'
        "></span>
    </div>
</div>

<div class="column" data-bind="expand: expanded">
    <p>Setup the server to use the following DNS servers for name resolution</p>

    <editor params="label: 'Pirmary DNS'">
        <input type="text" data-bind="value: primaryDNS" />
    </editor>

    <editor params="label: 'Secondary DNS'">
        <input type="text" data-bind="value: secondaryDNS" />
    </editor>

    <button class="btn2 push-both" data-bind="click: applyChanges">
        Apply Changes
    </button>
</div>
