<collapsible-section params="
    title: 'Date & Time',
    collapsed: isCollapsed
">
    <section class="collapsible-collapsed-section">
        <p>
            Server time:
            <output class="text-tech" data-bind="value: formattedTime"></output>
        </p>
    </section>

    <section class="collapsible-expanded-section">
        <radio-group params="
            options: configTypes,
            selected: selectedConfigType
        "></radio-group>

        <timezone-chooser params="timezone: timezone"></timezone-chooser>

        <div class="forms row push-next">
            <date-time-chooser params="time: time, timezone: timezone"
                class="manual-form" data-bind="visibility: usingManualTime">
            </date-time-chooser>

            <editor class="ntp-form" params="label: 'NTP Server'" data-bind="visibility: usingNTP">
                <input type="text" placeholder="IP or DNS name" data-bind="value: ntpServer"/>
            </editor>
        </div>

        <div class="row">
            <button class="btn" data-bind="
                click: applyChanges,
                shakeOnClick: !isValid()
            ">
                Apply Changes
            </button>
        </div>
    </section>
</collapsible-section>
