server-time-form {
    .heading2 {
        cursor: @cursor-pointer;
    }

    .expand-btn {
        fill: @text-color4;
    }

    .editor-row {
        > input,  > dropdown {
            width: 5.9em;
        }
    }
}