<collapsible-section params="
    title: 'Date & Time',
    collapsed: isCollapsed
">
    <section class="row" data-name="collapsed">
        <p>
            Master server time:
            <output class="text-tech" data-bind="value: formattedMasterTime">
            </output>
        </p>
    </section>

    <section class="column" data-name="expanded">
        <p class="push-next">
            Servers date and time has to be configured separately for each server
        </p>

        <data-table class="servers-table push-next alt-bg" params="
            columns: columns,
            data: servers,
            rowFactory: server => createRow(server)
        "></data-table>
    </section>
</collapsible-section>

<!-- ko if: isServerTimeSettingModalVisible -->
<server-time-settings-modal params="
    serverSecret: editContext,
    onClose: () => hideServerTimeSettingModal()
"></server-time-settings-modal>
<!-- /ko -->
