server-time-form {
    display: block;

    .heading2 {
        cursor: @cursor-pointer;
    }

    .expand-icon {
        fill: @text-color4;
    }

    .fixed-width {
        width: 5.8em;
        min-width: 5.8em;
    }
}