<div class="row content-middle" data-bind="click: () => expanded.toggle()">
    <h2 class="heading3 greedy">
        Server Date & Time
    </h2>

    <button class="btn-flat expand-btn no-outline">
        <svg-icon class="rotate" 
            params="uri: '/fe/assets/icons.svg#chevron'" 
            data-bind="css: { 'deg-90': !expanded() }">
        </svg-icon>
    </button>
</div>

<p data-bind="visible: !expanded()">
    Current Server Time: 
    <output class="text-tech emphasized" data-bind="text: serverTimeText"></output>
</p>

<div class="column" data-bind="expand: expanded">
    <radio-group class="push-next" params="
        options: configTypes, 
        selected: selectedConfigType
    "></radio-group>

    <!-- ko if: usingManualTime -->
    <section class="push-next">
        <editor params="label: 'Time Zone'">
            <dropdown params="
                options: timezones, 
                selected: timezone,
                matchOperator: matchByTimezoneName
            "></dropdown>
        </editor>

        <editor params="label: 'Date', insertValMessages: false">
            <div class="row editor-row">
                <dropdown class="text-center push-next" params="
                    options: months,
                    placeholder: 'month',
                    selected: month
                "></dropdown>

                <dropdown class="text-center push-next" params="
                    options: days,
                    placeholder: 'day',
                    selected: day
                "></dropdown>

                <dropdown class="text-center" params="
                    options: years,
                    placeholder: 'year',
                    selected: year
                "></dropdown>
            </div>
        </editor>

        <editor params="label: 'Time', insertValMessages: false">
            <div class="row editor-row">
                <input type="number" class="push-next" min="0" max="23" 
                    placeholder="HH" data-bind="textInput: hour"/>

                <input type="number" class="push-next" min="0" max="59"  
                    placeholder="MM" data-bind="textInput: minute"/>

                <input type="number" min="0" max="59" 
                    placeholder="SS" data-bind="textInput: second"/>
            </div>
        </editor>
    </section>
    <!-- /ko -->

    <!-- ko if: usingNTP -->
    <section class="push-next">
        <editor params="label: 'Time Zone'">
            <dropdown params="
                options: timezones, 
                selected: timezone,
                matchOperator: matchByTimezoneName
            "></dropdown>
        </editor>

        <editor params="label: 'NTP Server'">
            <input type="text" placeholder="IP or DNS name" data-bind="
                textInput: ntpServer
            "/>
        </editor>
    </section>
    <!-- /ko -->

    <button class="btn2" data-bind="click: applyChanges">
        Apply Changes
    </button>
</div>