debug-status-bar {
	section {
		.fixed();
		left: 50%;
		bottom: auto;
		transform: translate(-50%);
		background: @text-color10;
		padding: .5em;
		font-weight: @font-weight-medium;
		width: 50%;
		color: @black;
	}

	.target {
		color: @text-color6;
	}

}