// ---------------------------
// Colors
// ---------------------------
@white:             .rgbChannels(#FFFFFF)[@result];
@black-100:         .rgbChannels(#FAFAFA)[@result];
@black-150:         .rgbChannels(#F5F5F5)[@result];
@black-200:         .rgbChannels(#EDEDED)[@result];
@black-300:         .rgbChannels(#D1D1D1)[@result];
@black-400:         .rgbChannels(#BBBBBB)[@result];
@black-500:         .rgbChannels(#8B8D8F)[@result];
@black-600:         .rgbChannels(#72767B)[@result];
@black-700:         .rgbChannels(#4D5258)[@result];
@black-800:         .rgbChannels(#393F44)[@result];
@black-900:         .rgbChannels(#292E34)[@result];
@black-999:         .rgbChannels(#030303)[@result];
@magenta-400:       .rgbChannels(#F2009B)[@result];
@magenta-500:       .rgbChannels(#9F0064)[@result];
@light-blue-300:    .rgbChannels(#35CAED)[@result];
@light-blue-400:    .rgbChannels(#00B9E4)[@result];
@blue-50:           .rgbChannels(#DEF3FF)[@result];
@blue-300:          .rgbChannels(#39A5DC)[@result];
@blue-200:          .rgbChannels(#7DC3E8)[@result];
@blue-400:          .rgbChannels(#0088CE)[@result];
@blue-500:          .rgbChannels(#00659C)[@result];
@blue-600:          .rgbChannels(#004368)[@result];
@red-100:           .rgbChannels(#CC0000)[@result];
@red-200:           .rgbChannels(#A30000)[@result];
@red-300:           .rgbChannels(#8B0000)[@result];
@gold-400:          .rgbChannels(#F0AB00)[@result];
@gold-500:          .rgbChannels(#B58100)[@result];
@light-green-400:   .rgbChannels(#92D400)[@result];
@light-green-500:   .rgbChannels(#6CA100)[@result];
@green-400:         .rgbChannels(#3F9C35)[@result];
@purple-200:        .rgbChannels(#A18FFF)[@result];
@light-purple-300:  .rgbChannels(#9DB7FF)[@result];
