<modal>
	<h1 class="heading2">
		Create Account
	</h1>

	<section class="container">
		<h2 class="heading3">Enter your new user email address</h2>
		<input type="text" placeholder="Email Address" data-bind="
			textInput: emailAddress, 
			hasFocus: true	
		"/>	
	</section>
	
	<section class="container">
		<h2 class="heading3">Send the following message to your new user</h2>

		<div class="box" data-bind="html: userMessage"></div>
	</section>


	<div class="action-line pull-right">
		<button class="action link" data-bind="click: cancel">Cancel</button>	
		<button class="action btn2" data-bind="click: create">Create &amp; Copy To Clipboard</button>	
	</div>
</modal>