<modal data-bind="css: modalInfo().css" params="
    title: modalInfo().title,
    severity: modalInfo().severity,
    onClose: () => close(),
    allowBackdropClose: !working(),
    disableCloseButton: working
">
    <!-- ko if: screen() === 0 -->
    <section class="column greedy" data-bind="
        template: { html: createScreenTemplate }
    "></section>
    <!-- /ko -->

    <!-- ko if: screen() === 1 -->
    <section class="column greedy fade-in" data-bind="
        template: { html: reviewScreenTemplate }
    "></section>
    <!-- /ko -->
</modal>
