<h1 class="heading2">Noobaa Storage Solution</h1>

<p class="container">
    Current Version: 
    <output class="text-tech emphasized" data-bind="value: version"></output>
</p>

<section class="container">
    <h2 class="heading3">Upgrade Version</h2>
    <p class="paragraph">The uprgading process may take a few minuets to complete.</p>
    <file-selector params="
        message: 'Drag an upgrade package here',
        onFilesReady: files => upgrade(files)
    "></file-selector>
</section>

<div class="remark container">
    &copy; 2016 NooBaa Ltd, All rights reserved. 
</div>

<!-- ko if: isUpgradingModalVisible -->
<upgrade-modal params="onClose: () => isUpgradingModalVisible(false)"></upgrade-modal>
<!-- /ko -->
