upgrade-modal {
	.wrapper {
		margin: 4em;
	}

	.progress-bar {
		box-sizing: content-box;
		height: @font-size-xlarge;
		overflow: hidden;
		padding: 1.5em .5em;

		.noobaa-logo {
			width: @font-size-xlarge;
			height: @font-size-xlarge;
			
			
			animation-delay: 500ms;
			animation-fill-mode: backwards;
		}
	}

	.upload .noobaa-logo {
		animation: roll-in 2s ease-out;
	}

	.install .noobaa-logo {
		animation: bounce 3s ease-out infinite;

		.anim-delay(10, 200);
	}

	.close-btn  {
		width: 8em;
	}
}