<modal params="onClose: () => close()" data-bind="css: stepClass">
    
    <section class="column" data-bind="visible: !upgradeFailed()">
        <h1 class="heading2">Upgrade In Progress </h1>
            
        <p class="heading3">
            Hold your horses! We are upgrading your system
        </p>

        <progress-bar params="progress: progress"></progress-bar>

        <div class="text-center heading3 push-next" data-bind="
            text: progressText
        "></div>
    </section>

    <section class="column" data-bind="visible: upgradeFailed"> 
        <h1 class="heading2 push-both">
            Oh snap! System upgrade has failed
        </h1>

        <p class="heading3 text-center push-both">
            Sorry for the hold up. You can download the upgrade package again and restart the upgrading process or contact support for more information.
        </p>

        <button class="btn2 align-end push-prev" data-bind="click: close">
            Close
        </button>
    </section>
</modal>