<modal class="modal-medium" params="
    title: 'Add Cloud Connection',
    onClose: () => cancel()
">
    <section class="column greedy">
        <editor params="label: 'Connection Name'">
            <input type="text" placeholder="Enter name"
                data-bind="value: name, hasFocus: true"/>
        </editor>

        <editor params="label: 'Service'">
            <dropdown params="
                options: serviceOptions,
                selected: service
            "></dropdown>
        </editor>

        <editor params="label: 'Endpoint'">
            <input type="text" placeholder="enter endpoint" data-bind="value: endpoint" />
        </editor>

        <editor params="label: identityLabel">
            <input type="text" data-bind="
                textInput: identity,
                attr: { placeholder: identityPlaceholder }
            "/>
        </editor>

        <editor params="label: secretLabel">
            <input type="password" autocomplete="off" data-bind="
                textInput: secret,
                attr: { placeholder: secretPlaceholder }
            "/>
        </editor>
    </section>

    <div class="row content-middle">
        <div class="greedy">
            <span class="val-msg" data-bind="validationMessage: isValidConnection"></span>
        </div>

        <button class="link push-next" data-bind="click: cancel">
            Cancel
        </button>
        <button class="btn" data-bind="
            click: tryConnection,
            css: { shake: shake },
            animation: { end: () => shake(false) }
        ">
            Save
        </button>
    </div>
</modal>
