buckets-table {
    .column();

    data-table {
        .state-col {
            min-width: 6em;
        }

        .name-col{
            text-align: left;
            width: 100%;
        }

        .file-count-col {
            min-width: 6em;
        }

        .placement-policy-col {
            min-width: 12em;
        }

        .capacity-col {
            min-width: 11em;
        }

        .cloud-sync-col {
            min-width: 9em;
        }

        .delete-col {
            min-width: 8em;
        }

        .unable-to-sync {
            color: @text-color8;
        }
    }
}
