buckets-table {
    .state-col,
    .totalsize-col,
    .freesize-col {
        min-width: 4em;
    }

    .delete-col,
    .filecount-col {
        min-width: 6em;
    }

    .cloudsync-col {
        min-width: 8em;
    }

    .name-col{
        width: 100%;
    }

    .unable-to-sync {
        color: @text-color8;
    }
}