<modal class="modal-small" params="
    onClose: () => cancel(),
    title: 'Bucket S3 Access'
">
    <div class="row content-middle">
        <h2 class="heading3 greedy">Edit accounts S3 access permissions</h2>
        <div>
            <button class="link alt-colors" data-bind="click: selectAllAccounts">
                Select all
            </button>
            |
            <button class="link alt-colors" data-bind="click: clearAllAccounts">
                Clear
            </button>
        </div>
    </div>

    <multiselect class="cols-3 greedy" params="
        options: accounts,
        selected: selectedAccounts
    "></multiselect>

    <p class="push-next info-line">
        <svg-icon class="icon-small" params="name: 'notif-info'"></svg-icon>
        To create a new account go to System Managemnet >
        <a class="link" data-bind="
            href: { route: 'management', params: { tab: 'accounts' } }
        ">
            Accounts
        </a>
    </p>

    <div class="row align-end">
        <button class="link alt-colors push-next" data-bind="click: cancel">
            Cancel
        </button>
        <button class="btn" data-bind="click: save">
            Save
        </button>
    </div>
</modal>
