<modal params="onClose: () => cancel()">
    <h1 class="heading2 push-next">
        Bucket S3 Access
    </h1>

    <div class="row content-middle">
        <h2 class="heading3 greedy">
            Select accounts to add or remove S3 access permissions
        </h2>
        <div>
            <button class="link" data-bind="click: selectAllAccounts">
                Select all
            </button>
            |
            <button class="link" data-bind="click: clearAllAccounts">
                Clear
            </button>
        </div>
    </div>

    <multiselect class="push-next" params="
        options: accounts,
        selected: selectedAccounts
    "></multiselect>

    <p>
        <svg-icon class="icon-small" params="name: 'notif-info'"></svg-icon>
        to create a new account go to System Managemnet >
        <a class="link" data-bind="
            href: '/fe/systems/:system/management/accounts'
        ">
            Accounts
        </a>
    </p>

    <div class="row align-end">
        <button class="link push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn2" data-bind="click: save">Save</button>
    </div>
</modal>
