.pools-panel {
    .add-pool-btn {
        margin-right: 2em;
    }

    pools-table {
        position: absolute;
        bottom: 0;
        top: 7em;
        width: 100%;
        background-color: @bg-color2;                
    }    
}