<section class="data-table">
	<table>
		<thead>
			<tr>
				<th>State</th>	
				<th class="greedy text-left">File Name</th>
				<th>File Size</th>
			</tr>

			<!-- Used for column layout formatting -->
			<tr class="collapse-row">
				<th>State</th>	
				<th class="greedy text-left">File Name</th>
				<th>File Size</th>
			</tr>
		</thead>

		<tbody data-bind="foreach: rows">
			<tr>
				<td>
					<svg-icon params="uri: stateIcon"></svg-icon>
				</td>

				<td class="text-left">
					<a class="link" data-bind="text: name, href: href"></a>
				</td>

				<td data-bind="text: size"></td>
			</tr>
		</tbody>
	</table>
</section>
