bucket-objects-table {
	display: block;

	.table-wrapper {
		.fill();
		top : 4em;
	}

	.btn3 svg-icon{
		width: 1em;
		height: 1em;
	}

	.filter {
		margin-bottom: 2em;
	}

	.state-col {
		min-width: 45px;
	}

	.name-col {
		width: 100%;
	}

	.size-col  {
		min-width: 70px;
	}
}