bucket-objects-table {
    .column();
    
    .state-col {
        min-width: 6em;
    }

    .name-col {
        min-width: 5em;
        width: 100%;
    }

    .size-col  {
        min-width: 6em;
    }
}
