bucket-backup-policy-modal {
    display: block;

    .select-col {
        min-width: 3em;
    }

    .type-col {
        min-width: 5em;
    }

    .name-col {
        text-align: left;
        width: 100%;
    }
}
