<modal class="modal-large" params="
    title: 'Edit Cloud Backup',
    onClose: () => cancel()
">
    <h2 class="heading3">Cloud resource as backup</h2>
    <p class="push-next">Any Cloud resource participating as backup weill recieve a full copy of replica (Mirror).</p>

    <!-- Temporary until adding a select-all/clear to checkbox column header -->
    <div class="row content-middle">
        <h2 class="heading3 greedy"></h2>
        <div>
            <button class="link alt-colors" data-bind="click: selectAllResources">
                Select all
            </button>
            |
            <button class="link alt-colors" data-bind="click: clearAllResources">
                Clear
            </button>
        </div>
    </div>

    <data-table class="push-next greedy" params="
        columns: columns,
        emptyMessage: 'System does not contain cloud resources',
        data: resources,
        rowFactory: resource => newResourceRow(resource)
    "></data-table>

    <div class="row content-middle push-prev">
        <p class="info-message greedy push-next">
            <svg-icon params="name: 'notif-info'" class="icon-small"></svg-icon>
            To create a new cloud resource go to
            Resources >
            <a class="link" data-bind="
                href: { route: 'pools', params: { tab: 'cloud' } }
            ">Cloud Resoruces</a>
        </p>

        <button class="link alt-colors push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn" data-bind="click: save">Save</button>
    </div>
</modal>
