bucket-backup-policy-modal {
    display: block;

    .data-table {
        height: 210px;
    }

    .select-col {
        min-width: 3em;
    }

    .type-col {
        min-width: 5em;
    }

    .name-col {
        width: 100%;
    }
}
