bucket-backup-policy-modal {
    display: block;

    data-table {
        .select-col {
            min-width: 30px;
        }

        .type-col {
            min-width: 30px;
        }

        .name-col {
            text-align: left;
            width: 100%;
        }

        .usage-col {
            min-width: 180px;
        }
    }

    .info-message > svg-icon {
        vertical-align: bottom;
        fill: @color7;
    }
}
