<modal class="modal-large" params="
    title: 'Bucket Cloud Storage Policy',
    onClose: () => cancel()
">
    <p class="push-next">By adding a cloud resource you instruct NooBaa to create an extra copy (mirror) of your file parts that resides on the cloud bucket defined by the cloud resource.</p>

    <div class="row content-middle">
        <h2 class="heading3 greedy">Cloud resources in policy</h2>
        <div>
            <button class="link alt-colors" data-bind="click: selectAllResources">
                Select all
            </button>
            |
            <button class="link alt-colors" data-bind="click: clearAllResources">
                Clear
            </button>
        </div>
    </div>

    <div class="box push-next greedy column">
        <data-table class="greedy" params="
            columns: columns,
            emptyMessage: 'System does not contain cloud resources',
            data: resources,
            rowFactory: resource => newResourceRow(resource)
        "></data-table>
    </div>

    <p class="push-next">
        <svg-icon params="name: 'notif-info'" class="icon-small"></svg-icon>
        To create a new cloud resource go to
        Resources >
        <a class="link" data-bind="
            href: { route: 'pools', params: { tab: 'cloud' } }
        ">Cloud Resoruces</a>
    </p>

    <div class="row content-middle align-end push-prev">
        <button class="link alt-colors push-next" data-bind="click: cancel">Cancel</button>
        <button class="btn" data-bind="click: save">Save</button>
    </div>
</modal>
