// style alertify from bootstrap theme
.alertify {
    border-radius: @border-radius-base;
    border-width: 1px;
    border-color: @modal-content-border-color;
    background-color: @modal-content-bg;
    color: @lightbg-text;
    font-family: @font-family-sans-serif;
}

.alertify-cover:not(.alertify-cover-hidden) {
    .modal-backdrop;
    .in;
    display: block;
    z-index: 1060;
}

.alertify-button.alertify-button-ok {
    &,
    &:not(.btn-flat) {
        .btn;
        .btn-primary;
    }
}

.alertify-button.alertify-button-cancel {
    &,
    &:not(.btn-flat) {
        .btn;
        .btn-default;
    }
}

.alertify-text-wrapper {
    .form-control-wrapper;
}

.alertify-text {
    .form-control;
    .input-lg;
    color: @lightbg-text;
}

.alertify-log {
    padding: 10px;
    font-family: @font-family-sans-serif;
    text-shadow: none;
    color: @darkbg-text;
    background-color: @brand-info;
    border: 1px solid @border-color;
    border-radius: @border-radius-base;
    &.alertify-log-success {
        color: @darkbg-text;
        background-color: @brand-success;
    }
    &.alertify-log-error {
        color: @darkbg-text;
        background-color: @brand-danger;
    }
}

.arrow, [class^="arrow-"]{display:inline-block;*margin-right:.3em;width:25px;height:25px;line-height:14px;vertical-align:text-top;background-image:url("/public/images/uni_direction_arrow.png");background-repeat:no-repeat;margin-top:1px;}
.bi-arrow, [class^="bi-arrow-"]{display:inline-block;*margin-right:.3em;width:25px;height:25px;line-height:14px;vertical-align:text-top;background-image:url("/public/images/bi_direction_arrow.png");background-repeat:no-repeat;margin-top:1px;}
.arrow-left{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.tooltip-inner{
    max-width: none;
    white-space: nowrap;
}
