////////////////////////////
// ladda progress buttons //
////////////////////////////
.ladda-button[data-loading] {
    &,
    &.disabled,
    &:hover {
        &:before {
            content: "";
            z-index: -1;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: hsla(0,0%,0%,0.3);
        }
    }
}

.ladda-button .ladda-progress {
    background-color: hsla(0,0%,0%,0.8);
}

.ladda-button[data-style=zoom-out] > .ladda-spinner,
.ladda-button[data-style=zoom-out][data-loading] > .ladda-spinner {
    margin: 0 !important;
    transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
}