.hflow {
    overflow: hidden;
}

.aflow {
    overflow: auto;
}

.relpos {
    position: relative;
}

.abspos {
    position: absolute;
}

.absfill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.abscenter {
    /* use negative margin-top and margin-left to adjust */
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
}

table.grid {
    width: auto;
    &>tr>td,
    &>tr>th,
    &>tbody>tr>td,
    &>tbody>tr>th,
    &>thead>tr>td,
    &>thead>tr>th {
        vertical-align: middle;
        text-align: center;
    }
}