@import "./colors";

@primary: @teal;
@success: @green;
@info: @light-blue;
@warning: @deep-orange;
@danger: @red;

@primary: #FF008E;
@darkbg-text: white;
@lightbg-text: black;
@text-color: @darkbg-text;
@base-bg: darken(@blue-grey-50, 73%);
@body-bg: @base-bg;
@navbar-default-bg: darken(@base-bg, 8%);
@sidebar-color: lighten(desaturate(@navbar-default-bg, 5%), 57%);
@well-bg: darken(@base-bg, 8%);
@gray-light: hsl(0, 0%, 67%);
@border-color: hsla(0,0%,100%,0.1);
@modal-backdrop-opacity: 0.6;
@grid-float-breakpoint: 0;
@grid-gutter-width: 60px;
@brand-primary: @primary;
@brand-success: @success;
@brand-danger: @danger;
@brand-warning: @warning;
@brand-info: @info;
@material-border-radius: 0;
/* @font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif; */
/* @font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
@font-size-base: 15px;
@font-size-small: 13px;