<form class="create-system-form column">
    <h2 class="heading3 text-center push-next">
        Create a new system
    </h2>

    <div class="push-next">
        <input type="text" placeholder="Owner Email" data-bind="
            textInput: ownerEmail
        "/>
    </div>

    <div class="push-next">
        <input type="password" placeholder="Owner Password" data-bind="
            textInput: ownerPassword
        "/>
    </div>

    <div class="push-next">
        <input type="password" placeholder="Confirm Password" data-bind="
            textInput: confirmPassword
        "/>
    </div>

    <div class="push-both">
        <input type="text" placeholder="System Name" data-bind="
            textInput: systemName
        "/>
    </div>

    <div class="push-next column dns-field">
        <input type="text" placeholder="Fully Qualified Domain Name" data-bind="
            validationOptions: { insertMessages: false },
            textInput: systemDNS
        "/>

        <div class="row">
            <span class="val-msg text-left" data-bind="validationMessage: systemDNS">
            </span>

            <span class="greedy"></span>

            <span class="remark">* Optional</span>
        </div>
    </div>

    <button class="btn align-middle push-prev" data-bind="
        click: createSystem,
        css: { shake: shake },
        animation: { end: () => shake(false) }
    ">
        Create System
    </button>
</form>
