<div class="object-panel">
	<object-summary params="object: object" class="center clear"></object-summary>

	<ul class="tabs details-pane">
		<li data-bind="css: { selected: selectedTab() === 'parts' }">
			<a class="tab-header" 
				data-bind= "href: '/:system/buckets/:bucket/objects/:object/parts'">
				
				<svg-icon params="uri: '/assets/icons.svg#bucket'"></svg-icon>
				File Parts
			</a>

			<section class="tab-content">
				<object-parts-table params="object: object, parts: parts">
				</object-parts-table>
			</section>
		</li>
	</ul>
</div>	