add-node-wizard {
	.configure-step {
		section + section {
			margin-top: 3em;
		}
	}

	.addr-type {
		margin-right: 2em;
		margin-bottom: 1em;
	}

	.addr {
		line-height: 2;
		display: block;
		margin-left: 1.5em;

		output& {
			font-family: @font-type3;
		}
	}

	.download-step {
		padding-top: 6em;

		.download-btn {
			margin: .5em;
			width: 11em;
		}		

	}

	.run-step {
		svg-icon {
			margin-right: 3em;
		}

		.text-tech {
			display: block;
			width: 600px;
			.no-wrap();
			//word-break: break-all;
		}
	}

}