.edit-server-time-settings-modal {
    display: block;

    .forms {
        position: relative;;

        .ntp-form {
            position: absolute;
            left: 0;
        }
    }

    .small-field {
        width: 110px;
    }
}
