<modal params="onClose: () => cancel()">
    <h1 class="container heading2">
        Add AWS Credentials
    </h1>

    <section class="container">
        <editor params="label: 'S3 REST Endpoint'"    >
            <input type="text" placeholder="S3 REST Endpoint" data-bind="value: endPoint, hasFocus: true"/>
        </editor>

        <editor params="label: 'Access Key'">
            <input type="text" placeholder="enter key"
                data-bind="textInput: accessKey, hasFocus: true"/>
        </editor>

        <editor params="label: 'Secret Key'">
            <input type="password" placeholder="enter secret" data-bind="textInput: secretKey"/>
        </editor>
    </section>

    <div class="action-line pull-right">
        <button class="action link" data-bind="click: cancel">Cancel</button>
        <button class="action btn2" data-bind="click: save">Save</button>
    </div>
</modal>
