.overview-panel {
	display: block;
	width: 650px;
	background: linear-gradient(@text-color2, @text-color2) center repeat-y;
	background-size: 1px;

	.btn {
		padding-left: 0;
		padding-right: 0;
		width: 250px;
	}
}