pools-table {
    .state-col,
    .nodes-col,
    .online-nodes-col,
    .usage-col {
        min-width: 4em;
    }

    .delete-col {
        min-width: 8em;
    }

    .capacity-col,
    .offline-nodes-col, {
        min-width: 6em;
    }

    .name-col{
        min-width: 6em;
        width: 100%;
    }
}
