pools-table {
	display: block;
	padding: 2em 3.5em;

	.state-col {
		min-width: 100px;
	}

	.nodes-col,
	.online-nodes-col,
	.offline-nodes-col,
	.usage-col,
	.capacity-col {
		min-width: 130px;
	}

	.name-col{
		width: 100%;	
	}	

	td.online-nodes-col {
		color: @text-color7;
	}

	td.offline-nodes-col {
		color: @text-color8;
	}
}