<section class="data-table">
    <table>
        <thead>
            <tr>
                <th class="state-col" data-bind="css: orderClassFor('state')">
                    <a href data-bind="click: () => orderBy('state')">
                        state
                    </a>
                </th>
                <th class="name-col text-left" data-bind="css: orderClassFor('name')">
                    <a href data-bind="click: () => orderBy('name')">
                        pool name
                    </a>
                </th>
                <th class="nodes-col" data-bind="css: orderClassFor('nodecount')">
                    <a href data-bind="click: () => orderBy('nodecount')">
                        nodes
                    </a>
                </th>
                <th class="online-nodes-col" data-bind="css: orderClassFor('onlinecount')">
                    <a href data-bind="click: () => orderBy('onlinecount')">
                        online
                    </a>
                </th>
                <th class="offline-nodes-col" data-bind="css: orderClassFor('offlinecount')">
                    <a href data-bind="click: () => orderBy('offlinecount')">
                        offline
                    </a>
                </th>
                <th class="capacity-col" data-bind="css: orderClassFor('used')">
                    <a href data-bind="click: () => orderBy('used')">
                        used capacity
                    </a>
                </th>
                <th class="delete-col"></th>
            </tr>        
        </thead>

        <tbody data-bind="foreach: visibleRows">
            <tr>
                <td class="state-col">
                    <svg-icon params="uri: stateIcon"></svg-icon>
                </td>
                <td class="name-col text-left">
                    <a href class="link" data-bind="text: name, href: href"></a>
                </td>
                <td class="nodes-col" data-bind="text: nodeCount"></td>
                <td class="online-nodes-col" data-bind="text: onlineCount"></td>
                <td class="offline-nodes-col" data-bind="text: offlineCount"></td>

                <td class="capacity-col">
                    <capacity-bar params="total: total, used: used"></capacity-bar>
                </td>
                
                <td class="delete-col">
                    <delete-button params="
                        group: $component.deleteGroup,
                        disabled: !canBeDeleted(),
                        onDelete: () => del(),
                        toolTip: deleteToolTip
                    "></delete-button>
                </td>
            </tr>
        </tbody>
    </table>
</section>