<div class="row alt-bg pad content-middle push-next">
    <h2 class="heading3 greedy push-next">
        Account S3 Access
    </h2>
    <button class="btn" data-bind="
        click: showEditAccountS3AccessModal
    ">
        Edit S3 Access
    </button>
</div>

<property-sheet class="pad push-next" params="properties: s3AccessInfo">
</property-sheet>

<div class="row alt-bg pad content-middle push-next">
    <h2 class="heading3 greedy push-next" data-bind="
        css: { disabled: isS3AccessDisabled }
    ">
        Account Security Credentials
    </h2>
    <button class="btn" data-bind="
        click: showRegenerateAccountCredentialsModal,
        disable: isS3AccessDisabled
    ">
        Regenerate Credentials
    </button>
</div>

<div class="pad column">
    <span class="highlight push-next" data-bind="
        css: { disabled: isS3AccessDisabled }
    ">
        Use the follwong S3 access keys to connect a S3 compatible application to NooBaa:
    </span>
    <property-sheet class="pad alt-bg" params="properties: credentials"></property-sheet>
</div>

<!-- ko if: isEditAccountS3AccessModalVisible -->
<edit-account-s3-access-modal params="
    email: email,
    onClose: () => hideEditAccountS3AccessModal()
"></edit-account-s3-access-modal>
<!-- /ko -->

<!-- ko if: isRegenerateAccountCredentialsModalVisible -->
<regenerate-account-credentials-modal params="
    email: email,
    onClose: () => hideRegenerateAccountCredentialsModal()
"></regenerate-account-credentials-modal>
<!-- /ko -->
