@keyframes progress {
    0% { left: -10%; }
    50% { left: 110%; }
    100% { left: 110%; }
}

progress-bar {
    position: relative;
    display: block;
    transform: skewX(-15deg);
    border: .35em solid @bg-color2;
    border-radius: .5em 0 .5em 0;
    background-color: @bg-color2;
    height: 2em;
    overflow: hidden;

    .progress {
        position: absolute;
        display: block;
        width: 0;
        height: 100%;
        background-image: linear-gradient(45deg, #DE0F9E, #FF76D5);
        overflow: hidden;
        transition: width 500ms linear;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 0;
            display: block;
            box-shadow: 0 0 1em .25em lighten(#FF76D5, 10%);
            animation: progress 2.5s linear infinite;
        }
    }
}