paginator {
    .alt-bg();
    display: block;
    padding: @gutter/2 @gutter;
    text-align: right;

    .paginator-wrapper {
        display: inline-block;
        line-height: 14px;
        font-size: @font-size1;
        margin: 0 auto;
        margin-right: -4px;
    }

    .paginator-text {
        vertical-align: middle;
    }

    .btn-flat {
        padding: 0 4px;
        display: inline;

        svg-icon {
            width: @font-size1;
            height: @font-size1;
        }

        &:disabled {
            cursor: default;

            > svg-icon {
                fill: @color15;
            }
        }
    }
}
