<div class="page-indicator" data-bind="ifnot: noResults">
    <span class="emphasized" data-bind="text: pageStart"></span>
    -
    <span class="emphasized" data-bind="text: pageEnd"></span>
    of
    <span class="emphasized" data-bind="text: count"></span>
</div>

<button class="btn3" data-bind="
    click: pageBackward, 
    attr: { disabled: isFirstPage}
">
    <svg-icon class="icon-small" params="uri: backwardIcon"></svg-icon>
</button>

<button class="btn3" data-bind="
    click: pageForward, 
    attr: { disabled: isLastPage }
">
    <svg-icon class="icon-small" params="uri: forwardIcon"></svg-icon>
</button>