paginator {
	display: block;
	height: 30px;

	.page-indicator {
		margin-right: 1em;

		.highlight {
			font-weight: @font-weight-medium;
		}
	}

	.page-btn svg-icon {
		width: 1em;
		height: 1em;
	}
}