dropdown {
    position: relative;
    width: 30em;
    display: inline-block;
    cursor: @cursor-pointer;
    vertical-align: middle;

    .dropdown-wrapper {
        vertical-align: middle;
        fill: @text-color4;
        width: inherit;

        &:focus {
            fill: @text-color2;

            svg-icon {
                background-color: @bg-color11;
                border-color: @bg-color11;
            }

            .value {
                border-color: @text-color6;
            }
        }

        &.active svg-icon {
            background-color: @bg-color11;
            border-color: @bg-color11;
            box-shadow: 1px 0 0 @bg-color2;
        }

        &.disabled {
            fill: @text-color5;

            .value {
                color: @text-color5;
                border-color: @text-color5;
            }
        }
    }

    .value {
        .textfield();
        width: 100%;
        padding-right: 16px + @gutter;

        &.placeholder {
            color: @text-color5;
        }
    }

    .option-label {
        display: block;
        margin: 0;
        vertical-align: middle;
    }

    svg-icon {
        float: right;
        box-sizing: content-box;
        position: absolute;
        padding: @gutter/2 + 2px;
        line-height: 1;
        border-left: 1px solid @bg-color7;
        top: 0;
        right: 0;
    }

    .options {
        position: fixed;
        width: inherit;
        background-color: @bg-color11;
        margin-top: 2px;
        padding: 2px;
        z-index: 1;

        > ul {
            min-height: 2em;
            max-height: 17em;
            overflow-y: auto;
        }
    }

    .seperator {
        border: none;
        margin: 2px 0;
        border-top: 1px solid @text-color1;
    }

    .option {
        display: block;
        margin-right: 2px;

        > input {
            display: none;
        }

        .option-label {
            color: @text-color1;
            padding: @gutter/2;
        }

        :checked + .option-label {
            color: @text-color6;
            background-color: @bg-color3;
        }

        .option-label:hover {
            background-color: @blue-dark;
        }
    }
}
