dropdown {
    position: relative;
    min-width: 7em;
    display: inline-block;
    cursor: @cursor-pointer;
    vertical-align: middle;
    margin-right: 1em;
    margin-bottom: .5em;

    .dropdown-wrapper {
        vertical-align: middle;
        fill: @text-color4;

        &:focus {
            fill: @text-color2;

            .value {
                border-bottom-color: @text-color6;
            }
        }

        &.active svg-icon {
            background-color: @bg-color5;
            box-shadow: 1px 0 0 @bg-color2;
        }

        &.disabled {
            fill: @text-color5;

            .value {
                color: @text-color5;
                border-bottom: 1px dotted @text-color5;
            }
        }   
    }

    .value {
        border-bottom: 1px solid @bg-color7;
        padding: 1px 0;
        padding-right: 3em;
        line-height: 1.4;
        color: @text-color2;
    }

    .value, .option-label {
        display: block;
        margin: 0;
        vertical-align: middle;

        &.placeholder {
            color: @text-color5;
        }
    }

    svg-icon {
        box-sizing: content-box;
        position: absolute;
        padding: .25em .5em;
        height: 1em;
        width: 1em;
        top: 0;
        right: 0;
    }

    .options {
        position: absolute;
        width: 100%;
        background-color: @bg-color5;
        padding: .25em;
        margin-top: -2px;
        z-index: 1;
        box-shadow: 1px 1px 1px @bg-color2;

        > ul {
            min-height: 2em;
            max-height: 17em;
            overflow-y: auto;
        }
    }

    .seperator {
        margin: .25em .5em;
        border: none;
        border-top: 1px solid @text-color4;
    }

    .option {
        display: block;
        padding: 1px 0;

        > input {
            display: none;
        }

        .option-label {
            color: @text-color1;
            padding: 0 .5em;
            height: 2em;
            line-height: 2;
        }

        :checked + .option-label {
            color: @text-color6;
            background-color: @bg-color3;
        }

        .option-label:hover {
            background-color: @bg-color4;
        }
    }
}