<div class="box">
    <table data-bind="foreach: properties">
        <tr>
            <td class="emphasized no-wrap" data-bind="text: label + ':'"></td>
            <td class="greedy" data-bind="text: value"></td>
            <td class="copy-btn" data-bind="if: !!$data.allowCopy">
                <button class="btn-flat" title="copy to clipboard" data-bind="
                    click: () => $component.copyToClipboard(value)
                ">
                    <svg-icon class="icon-small" params="uri: '/fe/assets/icons.svg#copy'"></svg-icon>
                </button>
            </td>
        </tr>
    </table>
</div>