property-sheet {
    line-height: 2;

    ul {
        line-height: inherit;
    }

    .box {
        height: 100%;
    }

    .prop-name {
        color: @color6;
        font-weight: @font-thin;
        width: 152px;
    }
}
