<div class="row content-middle push-next audit-header">
    <h1 class="heading2 greedy push-next">Audit Log</h1>

    <button class="btn-flat no-outline" data-bind="click: closeDrawer">
        <svg-icon params="name: 'x'"></svg-icon>
    </button>
</div>

<div class="row content-middle">
    <h2 class="heading3 greedy">Choose Categories</h2>

    <div>
        <button class="link" data-bind="click: selectAllCategories">
            Select all
        </button>
        |
        <button class="link" data-bind="click: clearAllCategories">
            Clear
        </button>
    </div>
</div>

<multiselect class="push-next" params="
    options: categories,
    selected: selectedCategories
"></multiselect>

<div class="row">
    <h3 class="heading3 greedy push-next align-end">Events</h3>

    <button class="btn-flat export-btn" data-bind="
        click: exportToCSV,
        tooltip: { text: 'Export as CSV', align: 'right'}
    ">
        <svg-icon params="name: 'export'" ></svg-icon>
    </button>
</div>

<div class="box column greedy push-next">
    <data-table class="greedy" params="
        columns: columns,
        data: entries,
        rowFactory: entry => createAuditRow(entry),
        rowCssProp: 'selectedCss',
        rowClick: selectedRow,
        scroll: scroll
    "></data-table>
</div>

<h3 class="heading3">Event Description</h3>
<section class="desc-box box column">
    <div class="scrollable greedy" data-bind="foreach: description">
        <div data-bind="text: $data"></div>
    </div>
</section>


