.audit-pane {
    position: relative;
    height: 100%;
    padding: 1em;

    .log {
        position: absolute;
        left: 1em;
        right: 1em;
        bottom: .5em;
        top: 11em;
    }

    .log-entry {
        &.alert {
            color: @text-color8;
        }

        &.warning {
            color: @text-color10;
        }
    }
    
    .time-col {
        min-width: 6em;
    }

    .user-col {
        min-width: 5em;
        max-width: 5em;
    }

    .entity-col {
        width: 100%;
    }

    .category-col {
        min-width: 6em;
    }

    .event-col {
        min-width: 5em;
        word-break: break-word;
    }
}