file-selector {
	display: block;

	.drop-area {
		margin-top: 2em;
		padding: 1em;
		border: 3px dashed @bg-color4;
		font-size: @font-size-normal;

		&.dragover {
			border-color: @bg-color11;
		}
	}

	.drop-message {
		display: inline-block;
		color: @text-color4;
		margin: 0;
	}

	.method-seperator {
		margin: 1em;
		font-weight: @font-weight-medium;
		color: @text-color3;
	}

	.browse-btn > input[type=file] {
		.hide();
	}
}