password-field {
    position: relative;
    display: block;

    /* Must add the :not selectros to get proirity over rules in input.less */;
    .password-input:not([type=checkbox]):not([type=radio]) {
        padding-right: 44px;
    }

    .eye-button {
        margin: 0;
        margin-left: -44px;
        vertical-align: middle;

         > svg-icon {
            fill: @color7;
         }
    }
}
