<div class="row content-middle" data-bind="
    validationOptions: { insertMessages: false }
">
    <input class="password-input" type="password" autocomplete="off" data-bind="
        textInput: value,
        attr: { type: type, placeholder: placeholder }
    "/>

    <button class="eye-button icon-btn btn-flat no-outline" tabindex="-1" data-bind="
        click: toogleType,
        tooltip: tooltip,
        visible: value
    ">
        <svg-icon params="name: icon"></svg-icon>
    </button>

</div>

<!-- ko if: isStrengthVisible -->
<bar params="values: barValues, emptyColor: emptyColor"></bar>
<!-- /ko -->

<!-- Adding hidden input to control placement of validaiton message -->
<input type="hidden" data-bind="value: value"></input>
