<div class="row content-middle">
    <input class="password-input" type="password" autocomplete="off" data-bind="
        textInput: value,
        attr: { type: type, placeholder: placeholder },
        validationOptions: { insertMessages: false }
    "/>

    <button class="eye-button icon-btn btn-flat no-outline" tabindex="-1" data-bind="
        click: toogleType,
        tooltip: tooltip,
        visible: value
    ">
        <svg-icon params="name: icon"></svg-icon>
    </button>
</div>

<!-- Adding hidden input to control placement of validaiton message -->
<input type="hidden" data-bind="value: value"></input>
