<modal params="onClose: () => close()" data-bind="css: stepClass">

    <section class="wrapper" data-bind="ifnot: uploadFailed">
        <h1 class="heading2">Upload SSL certificate In Progress </h1>

        <!-- <p class="container text-center heading3">
            Hold your horses! We are upgrading your system
        </p> -->

        <progress-bar params="progress: progress"></progress-bar>

        <div class="text-center heading3" data-bind="text: progressText"></div>
    </section>
    <section data-bind="if: success">
        <div class="wrapper">
            <h1 class="heading2 container">Uploading SSL certificate has ended successfully </h1>
        </div>
        <button data-bind="click: close" class="close-btn btn2 pull-right">Close</button>
    </section>

    <section data-bind="if: uploadFailed">
        <div class="wrapper">
            <h1 class="heading2 container">Oh snap! Uploading SSL certificate has failed</h1>
            <div class="text-center heading2" data-bind="text: errorMessage"></div>
        </div>

        <button data-bind="click: close" class="close-btn btn2 pull-right">Close</button>
    </section>
</modal>
