<new-wizard class="column greedy" params="
    steps: steps,
    step: step(),
    onCancel: () => onClose(),
    onNext: next => onNext(next),
    onPrev: prev => updateForm('step', prev),
    onComplete: () => onClose()
">
    <section class="column greedy">
        <h2 class="heading3">Select OS Type</h2>
        <radio-group class="push-next" params="
            options: osTypeOptions,
            selected: ko.cmptd(osType, v => updateForm('osType', v)),
            hasFocus: true
        "></radio-group>

        <h2 class="heading3">Choose drives for installation</h2>
        <radio-btn params="
            group: 'drives',
            value: false,
            selected: ko.cmptd(excludeDrives, v => updateForm('excludeDrives', v)),
            label: 'Include all drives in installed nodes'
        "></radio-btn>
        <p class="push-next">
            All drives in the following installation will participate as NooBaa's capacity
        </p>

        <radio-btn params="
            group: 'drives',
            value: true,
            selected: ko.cmptd(excludeDrives, v => updateForm('excludeDrives', v)),
            label: 'Exclude drives for this installation'
        "></radio-btn>
        <p data-bind="css: { disabled: !excludeDrives() }">
            Choose the drives you which to exclude from this installation:
        </p>
        <token-field class="column greedy" params="
            tokens: ko.cmptd(excludedDrives, v => updateForm('excludedDrives', v)),
            placeholder: tokensPlaceholder,
            disabled: !excludeDrives()
        "></token-field>
        <p class="remark" data-bind="css: { disabled: !excludeDrives() }">
            Type
            <span data-bind="text: subject"></span>
            names accurately, click enter after each drive name.
        </p>
    </section>

    <section class="column greedy">
        <h2 class="heading3">Network Installation</h2>
        <p class="push-next">
            Use your distribution utilities to install the NooBaa daemon over the network. This option require direct access from the target machine to the NooBaa server.
        </p>
        <p data-bind="text: userInstruction" class="push-next"></p>
        <div class="pad alt-bg config-box row greedy push-next" data-bind="if: command">
            <p class="text-tech greedy" data-bind="text: command"></p>
            <copy-to-clipboard-button params="value: command">
            </copy-to-clipboard-button>
        </div>
    </section>
</new-wizard>
