<div class="row push-next">

    <div class="align-middle push-next">
        <input type="search" class="filter-pool-nodes"
            placeholder="Filter by Node Name or IP"
            data-bind=" textInput: nameOrIpFilter"/>
    </div>

    <toggle-filter class="push-next" params="
        options: issuesFilterOptions,
        selected: issuesOnly
    "></toggle-filter>

    <div class="greedy"></div>

    <div data-bind="tooltip: assignNodeTooltip">
        <button class="btn " data-bind="
            disable: isAssignNodesDisabled,
            click: () => showAssignNodesModal()
        ">
            Assign Nodes
        </button>
    </div>
</div>

<data-table class="greedy push-next" params="
    columns: columns,
    data: nodes,
    rowFactory: createNodeRow,
    sorting: sorting,
    emptyMessage: emptyMessage
"></data-table>

<paginator class="align-end" params="
    itemCount: count,
    pageSize: pageSize,
    page: page
"></paginator>

<!-- ko if: isAssignNodeModalVisible -->
    <assign-nodes-modal params="
        poolName: poolName,
        onClose: () => hideAssignNodesModal()
    "></assign-nodes-modal>
<!-- /ko -->
