pool-nodes-table {
    display: block;
    position: relative;
    height: 100%;

    .table-wrapper {
        .fill();
        top : 4em;
    }

    .data-table .state-col {
        min-width: 4em;
/*        padding-left: 0;
        padding-right: 0*/;
    }

    .disk-read-write-col {
        min-width: 9em;
    }

    .disk-write-col {
        min-width: 7em;
    }

    .rtt-col {
        min-width: 3em;
    }

    .name-col {
        min-width: 7em;
        width: 100%;
    }

    .ip-col {
        min-width: 7em;
    }

    .capacity-col {
        min-width: 7em;
    }
}
