pool-nodes-table {
    .column();

    .filter-by-editor {
        padding: 0;

        .editor-label {
            font-size: @font-size4;
            width: auto;
        }
    }

    > data-table {
        .state-col {
            min-width: 70px;
        }

        .name-col {
            text-align: left;
            min-width: 7em;
            width: 100%;
        }

        .ip-col {
            min-width: 120px;
        }

        .capacity-col {
            min-width: 130px;

            capacity-bar {
                width: 90%;
                margin: 0 auto;
            }
        }

        .trust-level-col {
            min-width: 130px;
        }

        .data-activity-col {
            min-width: 130px;
        }
    }
}
