pool-nodes-table {
    .column();

    paginator {
        margin-left: auto;
    }

    .filter-pool-nodes {
/*        max-width: 30.7em;
        margin-right: auto;*/
    }

    dropdown {
        width: 9em;
    }

    .state-col {
        min-width: 5em;
    }

    .disk-read-write-col {
        min-width: 10em;
    }

    .rtt-col {
        min-width: 5em;
    }

    .name-col {
        min-width: 7em;
        width: 100%;
    }

    .ip-col {
        min-width: 9em;
    }

    .capacity-col {
        min-width: 10em;

        capacity-bar {
            width: 90%;
            margin: 0 auto;
        }
    }

    .data-access-col {
        min-width: 10em;
    }

    .trust-level-col {
        min-width: 10em;
    }

    .data-activity-col {
        min-width: 10em;
    }
}
