<collapsible-section params="
    title: 'Maintenance',
    collapsed: isCollapsed
">
    <section name="collapsed">
        <p class="push-next">
            Maintenance Mode:
            <span data-bind="text: stateText"></span>
        </p>
        <p data-bind="visible: state">
            Time left for maintanance:
            <span class="text-tech" data-bind="text: timeLeftText"></span>
        </p>
    </section>

    <section name="expanded">
        <p class="push-next">
            Automatically, NooBaa is running data rebuild operations (moving data between different nodes). <br> If you wish to set the system to a temporary state of maintanance and prevent high level data rebuilding, turn on maintanance mode for the needed period of time.
        </p>
        <button class="btn align-start" data-bind="
            text: buttonText,
            click: () => toggleMaintenance()
        "></button>
    </section>

    <!-- ko if: isStartMaintenanceModalVisible -->
    <start-maintenance-modal params="onClose: () => hideStartMaintenanceModal()">
    </start-maintenance-modal>
    <!-- /ko -->
</collapsible-section>
