attach-server-modal {
    display: block;

    editor > .editor-label {
        width: 11em;
    }

    .server-name {
        > input {
            width: 200px !important;
        }

        > .seperator {
            margin: 0 9px;
        }
    }
}
