<h3 class="heading3" class="highlight">
    Edit or add additional details for this server
</h3>

<editor params="label: 'Server Name', insertValMessages: false">
    <div class="row content-middle">
        <input type="text" class="hostname" data-bind="value: hostname"/>
        <span class="name-suffix" data-bind="text: nameSuffix"></span>
    </div>
    <span class="hint" data-bind="visible: hostname.isValid">
        Consist of server hostname and secret key
    </span>
    <span class="val-msg" data-bind="validationMessage: hostname"></span>
</editor>

<editor params="label: 'Location Tag'">
    <input type="text" data-bind="value: location"/>
</editor>
