<seciton class="column push-next">
    <h2 class="heading3 pad alt-bg">
        Version Control
    </h1>

    <property-sheet class="pad" params="properties: versionInfo">
    </property-sheet>
</seciton>

<section class="column">
    <h2 class="heading3 pad alt-bg">
        System Upgrade
    </h2>

    <div class="pad column">
        <p class="push-next">
            The upgrading process may take a few minutes to complete.
        </p>

        <file-selector params="
            message: 'Drag an upgrade package here',
            filter: upgradePackageSuffix,
            onFilesReady: onUpgrade
        "></file-selector>
    </div>
</section>
