[Unit]
Description=The NooBaa nsfs service.

[Service]
Restart=always
RestartSec=2
User=root
Group=root
Environment=
ExecStart=/usr/local/noobaa-core/bin/node /usr/local/noobaa-core/src/cmd/nsfs.js
ExecStop=/bin/kill $MAINPID
WorkingDirectory=/usr/local/noobaa-core/
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
