breadcrumbs {
    .row();
    color: @color6;
    font-size: @font-size4;
    line-height: 1;

    .crumb {
        vertical-align: middle;
        .no-outline();
        .row();

        > span {
            .no-wrap();
            display: block;
            vertical-align: middle;
            max-width: 20em;
        }

        &:last-child {
            color: @color8;

            &::after {
                display: none;
            }
        }

        &::after {
            content: '';
            margin-left: @gutter;
            border: @gutter/2 solid transparent;
            border-left-color: @color8;
        }
    }

    .seperator {
        fill: @color8;
        margin: 0 @gutter/2;

        &:first-child {
            display: none;
        }
    }
}
