breadcrumbs {
    display: block;
    @height: 50px;
    color: @text-color3;
    font-size: @font-size-large;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        line-height: @height;
    }

    li {
        margin-left: -@height/2 + 12px;

        a {
            .text(
                @font-type2,
                @font-weight-normal,
                @font-size-normal,
                @text-color3,
                @text-color9,
                text-color1
            );

            text-align: center;
            float: left;
            display: inline-block;
            padding: 0 .5em;
            background-color: @bg-color4;
            max-width: 8em;
        }

        &::before, &::after {
            content: '';
            float: left;
            display: inline-block;
            border-style: solid;
            border-color: transparent;
            border-width: @height/2 0 @height/2 3/8 *@height;
            vertical-align: middle;
        }

        &::before {
            border-color: @bg-color4;
            border-left-color: transparent;
        }

        &::after {
            border-left-color: @bg-color4;
        }

        &:first-child {
            margin-left: 0;

            > a {
                width: auto;
            }

            svg-icon {
                width: @font-size-xlarge;
                height: @font-size-xlarge;
                vertical-align: middle;
            }

            &::before {
                display: none;
            }
        }

        &:last-child {
            a {
                background: none;
                margin-left: .5em;
                font-size: @font-size-medium;
            }

            &::before, &:after {
                display: none;    
            };
        }

        &:first-child:last-child a {
            margin-left: 0;
            font-size: @font-size-normal;
        }
    }
}