<h2 class="heading3">Enter user email address</h2>

<editor params="label: 'User Email'">
    <input type="text" placeholder="Type here" data-bind="
        value: emailAddress,
        hasFocus: true
    "/>
</editor>


<h2 class="heading3">
    Allow S3 access for this user
</h2>

<toggle-switch class="push-next" params="value: enableS3Access"></toggle-switch>

<div class="row content-middle">
    <h2 class="heading3 greedy push-next" data-bind="
        css: { disabled: !enableS3Access() }
    ">
        Grant S3 access permissions for buckets
    </h2>

    <div>
        <button class="link alt-colors" data-bind="
            click: selectAllBuckets,
            enable: enableS3Access
        ">
            Select all
        </button>
        <span class="disabled">|</span>
        <button class="link alt-colors" data-bind="
            click: clearAllBuckets,
            enable: enableS3Access
        ">
            Clear
        </button>
    </div>
</div>

<multiselect class="greedy" params="
    options: buckets,
    selected: selectedBuckets,
    disabled: !enableS3Access()">
</multiselect>
