<!-- ko if: dataReady -->
<section class="c4 column">
    <h3 class="heading4 push-next">Status</h3>
    <ul class="list-no-style column">
        <li class="push-next">
            <svg-icon params="name: stateIcon" data-bind="
                tooltip: 'Bucket state'
            "></svg-icon>
            <span data-bind="text: stateText"></span>
        </li>
        <li class="push-next">
            <svg-icon params="name: cloudSyncIcon" data-bind="
                tooltip: 'Cloud sync status'
            "></svg-icon>
            <span data-bind="text: cloudSyncText"></span>
        </li>
        <li>
            <svg-icon params="name: dataPlacementIcon" data-bind="
                tooltip: 'Data placement'
            "></svg-icon>
            Data placement
        </li>
    </ul>
</section>

<vr></vr>

<section class="c4 row">
    <div class="row greedy">
        <div class="column greedy">
            <h3 class="heading4">Available Capacity:</h3>
            <chart-legend params="items: pieValues"></chart-legend>
        </div>

        <pie-chart params="values: pieValues"></pie-chart>
    </div>

    <!-- <div class="row greedy">
        <div class="column greedy">
            <h3 class="heading4">Data usage:</h3>
            <chart-legend params="items: barsValues"></chart-legend>
        </div>

        <bar-chart params="values: barsValues"></bar-chart>
    </div> -->
</section>

<vr></vr>

<section class="c4 column">
    <h3 class="heading4 push-next">
        Activity
    </h3>
    <span>No current data activity</span>
</section>
<!-- /ko -->







