bucket-summary {
    .row();

    toggle-filter .toggle-btn {
        padding: .5em 1em;
        min-width: 80px;
    }

    .available-value {
        font-size: @font-size-xlarge;
        color: @text-color2;
    }

    .available-label {
        font-size: @font-size-large;
        color: @text-color2;
    }
}
