bucket-summary {
    .row();

    .graphs{
        position: relative;
        perspective: 1000px;

        /*.bars {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            chart-legend, h3 {
                opacity: 0;
            }
        }*/

        pie-chart {
            background: red;
            transform: rotateX(0);
            backface-visibility: hidden;
            transition: transform 1750ms ease-in-out;
            transform-style: preserve-3d;
        }

        &:hover {
            pie-chart {
                transform: rotateY(-180deg);
            }
        }
    }

}
