bucket-summary {
    .row();

    .graphs{
        position: relative;
        perspective: 1000px;

        /*.bars {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            chart-legend, h3 {
                opacity: 0;
            }
        }*/
    }

}
