.login-layout {
	padding: .5em;
	background: url('/fe/assets/login-background.png') no-repeat;
	background-size: cover;

	.content {
		position: fixed;
		top: 50%;
		left: 50%;
		text-align: center;				
		transform: translate(-50%, -50%);			
	}

	.shake {
		animation: shake 750ms ease-in-out;
	}

	.heading2 {
		line-height: 1.50;
		margin-bottom: 0em;

		.logo {
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto;
		}

		.noobaa {
			color: @white;
			font-weight: @font-weight-light;
		}		
	}

	.heading3 {
		margin-bottom: 1.5em;
	}

	input {
		color: @text-color1;
		margin-right: 0;
		display: block;

		.placeholder(@text-color2);

		&:focus {
			color: @text-color1;
			border-color: @text-color1;
		}

		+ .val-msg {
			display: block !important;
		}
	}

	.val-msg {
		margin-bottom: 1em;
	}

	.btn2 {
		margin-top: 1.5em;
		width: 80%;
	}	
}