.login-layout {
    height: 100%;
    .column();
    justify-content: center;
    align-items: center;
    background: url('@{assets}/login-background.png') no-repeat;
    background-size: cover;

    .box {
        padding: 2 * @gutter;
        width: 30em;
    }

    input {
        width: 100%;
    }

    .main-action {
        width: 100%;
    }
}
