.login-layout {
    height: 100%;
    .column();
    justify-content: center;
    align-items: center;
/*    background: url('@{assets}/login-background.png') no-repeat;
    background-size: cover;*/
}
