name: Next Version Build

# Run the Weekly on Monday 8 AM UTC
on: 
  schedule:
    - cron: "0 12 * * 1"
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to Build From - Optional'
        required: false

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - name: Invoke Build on Operator Repo
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Manual Build Dispatch
          repo: noobaa/noobaa-core
          token: ${{ secrets.GHACCESSTOKEN }}
          inputs: '{ "branch": "5.11", "tag": "" }' 
