name: Nightly RPM Build - 5.15 Branch
on: 
  schedule:
    - cron: '0 23 * * *'

jobs:
  call-stage-5-15-4-rpm-build-and-upload:
    uses: ./.github/workflows/rpm-build-and-upload-flow.yaml
    secrets: inherit
    with:
      branch: '5.15'
