name: Unit Tests with Postgres

# Run on each new PR and each new push to existing PR
on: [push, pull_request]

jobs:
  run-unit-tests-postgres:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Run Unit Tests with Postgres
        id: run-test-postgres
        run: make test-postgres || exit 1
