name: Build & Sanity SSL
on: [push, pull_request]

jobs:
  run-sanity-ssl-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Build & SSL Sanity Tests
        run: |
          set -x
          mkdir -p logs/sanity-test-logs
          chmod 777 logs/sanity-test-logs
          make test-external-pg-sanity
