name: Build & Sanity
on: [push, pull_request]

jobs:
  run-sanity-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy minikube
        run: sudo bash ./.travis/deploy_minikube.sh

      - name: Run make tester
        run: make tester

      - name: Run Build & Sanity Tests
        run: |
          cd ./src/test/framework/
          sudo ./run_test_job.sh --name sanity --image noobaa --tester_image noobaa-tester --job_yaml ../../../.travis/travis_test_job.yaml --tests_list ./pipeline_tests_list.js --wait || exit 1
