<div class="column" data-bind=" if: dataReady">
    <section class="column push-next">
        <div class="row content-middle pad alt-bg">
            <h3 class="heading3 greedy push-next">Daemon Information</h3>

            <div data-bind="tooltip: toggleButtonTooltip">
                <button class="btn" data-bind="
                    text: toggleButtonLabel,
                    click: toggleNode,
                    disable: isDemoNode
                "></button>
            </div>
        </div>

        <property-sheet class="pad" params="properties: agentInfo"></property-sheet>
    </section>


    <section class="column push-next">
        <h3 class="heading3 pad alt-bg">System Information</h3>
        <property-sheet class="pad" params="properties: systemInfo"></property-sheet>
    </section>

    <section class="column push-next">
        <h3 class="heading3 pad alt-bg">Drive</h3>
        <property-sheet class="pad" params="properties: driveInfo"></property-sheet>
    </section>
</div>

